.call-history-container {
  height: 250px;
  max-width: 332px;
  margin-left: 73px;
}
h3 {
  font-family: AvenirBold;
  font-size: 21px;
  font-weight: 900;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.01;
  letter-spacing: 3.15px;
  text-align: left;
  text-transform: uppercase;
  color: var(--ion-color-primary);
}
