.call-history-container {
  height: 250px;
  max-width: 332px;
  margin-left: 73px;
}
h3 {
  font-size: 18px;
  font-family: AvenirBold;
  font-weight: 900;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.01;
  margin-bottom: 0;
  letter-spacing: 3.15px;
  text-align: left;
  text-transform: uppercase;
  color: var(--ion-color-primary);
}

.divider-line {
  width: 100%;
  min-height: 1px;
  height: 1px;
  display: block;
  border-top: solid 3.9px var(--ion-color-primary);
  border-bottom: none;
}
.calendar-month {
  display: inline-block;
  text-transform: uppercase;
  font-family: AvenirBold;
  color: #8e8e93;
  font-size: 14px;
  margin-top: 19.5px;
  width: 90px;
}
.left-month-arrow,
.right-month-arrow {
  cursor: pointer;
  display: inline-block;
}
.left-month-arrow {
  background-image: url("/assets/calendar-left-arrow.png");
  height: 14px;
  width: 8px;
  margin-right: 18px;
}
.right-month-arrow {
  background-image: url("/assets/calendar-right-arrow.png");
  height: 14px;
  width: 8px;
  margin-left: 18px;
}
/*
  Limited in height,
  useful with grow mode stretch
*/
.wrapper-vertically-limited {
  width: 100%;
  height: 225px;
  margin-top: -40px;
}
.calendar-wrapper {
  width: 100%;
  div {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    height: 28px;
    width: 28px;
    margin-top: 10px;
    margin-right: 14px;
    background-color: rgba(142, 142, 147, 0.12);
    color: black;
    span {
      font-size: 12px;
      line-height: 28px;
      width: 100%;
      &.active {
        font-weight: bold;
      }
    }
  }
}
