<div class="call-history-container">
  <h3>Call History</h3>
  <ion-item-divider class="divider-line"></ion-item-divider>
  <div class="calendar-month-controls">
    <span class="left-month-arrow" (click)="calendarPrevMonth()"></span>
    <span class="calendar-month">
      {{ currentCalendarMonth.name }}
    </span>
    <span class="right-month-arrow" (click)="calendarNextMonth()"></span>
  </div>
  <div class="calendar-wrapper">
    <div class="day-legend">
      <span class="day-header" *ngFor="let dayHeader of dayHeaders">
        {{ dayHeader }}
      </span>
    </div>
    <div
      class="calendar-day"
      *ngFor="let day of selectedMonth.daysArray"
      [class.active]="selectedDay == day && selectedMonth.number == chosenMonth"
      (click)="selectDateEventHandler(day, currentCalendarMonth.number, selectedYear.year)"
    >
      <span [class.hide]="day < 0">
        {{ day }}
      </span>
    </div>
  </div>

  <span class="ion-float-right date-selected">Date Selected: {{ selectedDate }}</span>
</div>
