.call-history-container {
  height: 250px;
  max-width: 332px;
  margin-left: 73px;
}
h3 {
  font-family: AvenirBold;
  font-size: 21px;
  font-weight: 900;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.01;
  letter-spacing: 3.15px;
  text-align: left;
  text-transform: uppercase;
  color: var(--ion-color-primary);
}

.divider-line {
  width: 100%;
  min-height: 1px;
  height: 1px;
  display: block;
  border-top: solid 3.9px var(--ion-color-primary);
  border-bottom: none;
}

/*
  Limited in height,
  useful with grow mode stretch
*/
.wrapper-vertically-limited {
  width: 100%;
  height: 225px;
  margin-top: -40px;
}

sc-month-calendar {
  max-height: 250px;
  overflow: hidden;
  .row {
    text-align: center;
    padding-bottom: 5px;
  }
}

.custom-month {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  height: 175px !important;
  text-align: center;

  &__week-caption,
  &__caption {
    border: none;
    display: none;
  }

  &__day {
    width: 37px;
    height: 35px;
    border: none;
    padding: 5px;

    &--default {
      text-align: center;
      background-color: #8e8e93;
    }

    &--today {
      background-color: #8e8e93 !important;
    }

    &--selected {
      text-align: center;
      font-weight: bold;
      line-height: 34px;
      font-family: AvenirBold;
      background-color: #13afe9;
      color: white;
    }
  }
}
.custom-month__caption {
  display: none;
}
// Customizations to library

.custom-month__day {
  display: none;
}

.sc-month__day {
  width: 37px;
  height: 35px;
  background-color: rgba(142, 142, 147, 0.12);
}
.sc-month__caption {
  display: none;
}
