<div class="call-history-container">
  <h3>Call History</h3>
  <ion-item-divider class="divider-line"></ion-item-divider>
  <div class="wrapper-vertically-limited">
    <sc-month-calendar
      [monthClass]="'custom-month'"
      [monthCaptionClass]="'custom-month__caption'"
      [dayOfWeekCaptionClass]="'custom-month__week-caption'"
      [dayCaptionClass]="'custom-month__day'"
      [dayOfWeekCaptionFormatter]="dayOfWeekCaptionFormatter"
    >
      <!-- Month caption template -->
      <ng-template scMonthCaptionTemplate let-date> </ng-template>
    </sc-month-calendar>
  </div>
</div>
