<div
  class="patient-avatar-image"
  *ngIf="avatarExists && !changingAvatar; else defaultAvatar"
  (click)="uploadPatientAvatarPhoto()"
  [style.background-image]="avatarUrl"
></div>
<ng-template #defaultAvatar>
  <img
    class="patient-avatar-image"
    (click)="uploadPatientAvatarPhoto()"
    src="/assets/default-avatar-patient-detail.png"
  />
</ng-template>

<!-- <input
  type="file"
  class="hidden-input"
  name="fileUpload"
  id="fileUpload"
  (change)="uploadPatientAvatarPhoto(patient, $event.target.files)"
/> -->
<ion-button fill="outline" (click)="uploadPatientAvatarPhoto()">
  Change Photo
</ion-button>
