:host {
  height: 265px;
  width: 100%;
  display: block;
}
img.patient-avatar-image {
  cursor: pointer;
}

.patient-avatar-container {
  background-image: url("/assets/patient-badge-frame@2x.png");
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 75px;
  min-height: 75px;
  height: 100%;
  width: 100%;
}
div.patient-avatar-image {
  height: 220px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-bottom: 1rem;
}

ion-button {
  margin-left: 28px;
  clear: both;
  --background: #d1d1d1;
  --background-hover: #bebebe;
  --background-activated: #bebebe;
  --border-activated: 1px solid #a2a2a2;
  color: white;
  font-family: "AvenirBold";
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.3px;
  text-align: center;
}

.hidden-input {
  display: none;
}
