<div class="patient-filter">
  <ion-row>
    <ion-col col-auto>
      <table>
        <tr>
          <td>
            <ion-input placeholder="Patient/Date Search" (ionInput)="searchPatientCallHistoryByText($event)">
            </ion-input>
          </td>
          <td>
            <ion-icon name="search"></ion-icon>
          </td>
        </tr>
      </table>
    </ion-col>
  </ion-row>
  <ng-container class="patient-filter-results" *ngIf="patientCalls; else noPatientCalls">
    <ion-list *ngIf="patientCallsFiltered.length >= 1; else noCalls" lines="none" inset>
      <ion-item class="patient-call-filter-listing" *ngFor="let patientCall of patientCallsFiltered">
        <a
          class="patient-link"
          [routerLink]="
            '/call-queue/operations/' + operation.operationId + '/patient/' + patientCall.patientId + '/history'
          "
        >
          <span class="patient-filter-patient-name">
            {{ patientCall.patientFirstName }} {{ patientCall.patientLastName }}:
          </span>
          <span class="patient-filter-call-date"
            >&nbsp; Call
            {{
              patientCall.patientCallStatusLabelId == 1 || patientCall.patientCallStatusLabelId == 2
                ? patientCall.patientCallCount
                : patientCall.patientCallCount - 1
            }}
            - ({{ patientCall.patientCallStatusLabelId == 1 ? 'New Discharge' : patientCall.patientCallStatusLabel }})
            &nbsp;|&nbsp;
            <ng-container *ngIf="patientCall.patientCallEndTime; else callScheduledTime">
              {{ patientCall.patientCallEndTime | date: 'MM/dd/yyyy':'UTC' }}
            </ng-container>
            <ng-template #callScheduledTime>
              {{ patientCall.patientCallScheduledTime | date: 'MM/dd/yyyy':'UTC' }}
            </ng-template>
          </span>
        </a>
      </ion-item>
    </ion-list>
  </ng-container>
</div>
<ng-template #noPatientCalls>
  <span class="no-calls">
    No patient calls found for selected date.
  </span>
</ng-template>
<ng-template #noCalls>
  <span class="no-calls"> No results for date or search. </span>
</ng-template>
