<div class="patient-filter">
  <ion-row>
    <ion-col col-auto>
      <table>
        <tr>
          <td>
            <ion-input placeholder="Patient/Date Search" (submit)="searchPatientCallHistory()"> </ion-input>
          </td>
          <td>
            <ion-icon name="search"></ion-icon>
          </td>
        </tr>
      </table>
    </ion-col>
  </ion-row>
  <div class="patient-filter-results">
    <ul *ngIf="patients$; else noCalls">
      <li *ngFor="patient; of: patients$ | async">
        <span>{{ patient.name }}</span>
      </li>
    </ul>
    <ng-template #noCalls>
      <p>
        No calls have been made yet! Let's get rolling!
      </p>
    </ng-template>
  </div>
</div>
