<ion-content class="teams-page-content">
  <div class="teams-page">
    <aside class="team-sidebar">
      <app-team-listing-sidebar (teamChangeEvent)="teamChangeEventHandler($event)"> </app-team-listing-sidebar>
    </aside>
    <section class="team-content-wrapper" *ngIf="teams">
      <div class="team-content">
        <div class="team-content-header">
          <ion-title *ngIf="selected.team">Team Members</ion-title>
          <a
            *ngIf="selected.team && user?.userLevel === userRoles.admin"
            class="team-access-launch"
            [routerLink]="'/teams/' + selected.team.teamId + '/access'"
          >
            Manage Team Access
          </a>
        </div>
        <div class="team-listing-row">
          <app-team-members-listing *ngIf="selected.team" [team]="selected.team"> </app-team-members-listing>
        </div>
      </div>
    </section>
  </div>
</ion-content>
