<ion-content>
  <ion-row>
    <ion-col class="team-sidebar">
      <app-team-sidebar (teamChangeEvent)="teamChangeEventHandler($event)"> </app-team-sidebar>
    </ion-col>
    <ion-col class="team-content-wrapper">
      <ion-grid>
        <ion-row>
          <ion-title *ngIf="selected.team">
            {{ selected.team.teamName }}
          </ion-title>
        </ion-row>
        <ion-row class="team-listing-row">
          <ion-col class="team-listing-wrapper">
            <app-team-patient-listing *ngIf="selected.team" [operation]="selected.team"> </app-team-patient-listing>
          </ion-col>
          <ion-col class="calendar-wrapper">
            <app-calendar *ngIf="selected.team" (dateFilterChangeEvent)="handleDateFilterChangeEvent($event)">
            </app-calendar>
            <app-team-listing-filter *ngIf="selected.team" [filterDate]="selected.filterDate" [team]="selected.team">
            </app-team-listing-filter>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-content>
