<ion-content>
  <ion-row>
    <ion-col class="patient-sidebar">
      <app-patient-manager-sidebar></app-patient-manager-sidebar>
    </ion-col>
    <ion-col class="patient-content">
      <ion-title *ngIf="!editMode; else editPatient">New Patient</ion-title>
      <ng-template #editPatient>
        <ion-title>
          Edit Patient
        </ion-title>
      </ng-template>
      <form id="new-patient-form" (ngSubmit)="addPatientFormSubmit()" [formGroup]="addPatientForm" novalidate>
        <ion-select>
          Facility
        </ion-select>
        <ion-list formGroupName="patient">
          <ion-item>
            <ion-label position="stacked">Patient #</ion-label>
            <ion-input type="text" placeholder="Patient #" formControlName="patientRecordNumber"></ion-input>
          </ion-item>
          <ion-list lines="none" formGroupName="patientName">
            <ion-item class="first-name">
              <ion-label color="medium" position="stacked">First Name</ion-label>
              <ion-input type="text" formControlName="patientFirstName"></ion-input>
            </ion-item>
            <ion-item class="middle-name">
              <ion-label color="medium" position="stacked">Middle Name</ion-label>
              <ion-input type="text" formControlName="patientMiddleName"></ion-input>
            </ion-item>
            <ion-item class="last-name">
              <ion-label color="medium" position="stacked">Last Name</ion-label>
              <ion-input type="text" formControlName="patientLastName"></ion-input>
            </ion-item>
          </ion-list>
          <ion-item>
            <i class="icon-birthday"></i>
            <ion-label position="stacked">Date of Birth</ion-label>
            <ion-input type="date" formControlName="patientDob"></ion-input>
            <ion-label position="stacked">Age</ion-label>
            <ion-input class="patient-age" type="number" formcontrolName="patientAge"></ion-input>
          </ion-item>
          <div class="section-header">
            <img src="/assets/edit-patient-contact-header-banner.png" alt="" />
          </div>
          <div class="section-header">
            <i class="icon-contacts"></i>
            Care Providers
          </div>
        </ion-list>
      </form>
    </ion-col>
    <ion-col class="avatar-col">
      <img src="/assets/add-photo-default-avatar.png" alt="" />
      <!-- <app-patient-avatar></app-patient-avatar> -->
    </ion-col>
  </ion-row>
</ion-content>
