ion-content {
  padding-bottom: 132px;
  overflow-y: scroll !important;
}

.rating-option,
.radio-button-yes,
.radio-button-no {
  --color: transparent;
  --color-checked: transparent;
  border: 0;
  width: 34px !important;
  height: 32px !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.radio-button-yes {
  background-image: url("/assets/button-yes@2x.png");

  &:active,
  &.radio-checked {
    background-image: url("/assets/button-yes-select@2x.png");
  }
}

.radio-button-no {
  background-image: url("/assets/button-no@2x.png");

  &:active,
  &.radio-checked {
    background-image: url("/assets/button-no-select@2x.png");
  }
}

.patient-sidebar {
  max-width: 172px;
  padding-bottom: 160px;
  margin-left: 26px;
  padding-top: 58px;
}

.patient-content {
  padding-bottom: 160px;
  margin-top: 8rem;
  margin-left: 92px;
  margin-bottom: 9rem;
  height: auto;
  width: 100%;
  min-width: 450px;
  max-width: 720px;

  @media screen and (orientation: portrait) and (max-width: 1024px) {
    margin-left: 33px;
    width: 24%;
  }
}

.avatar-col {
  padding-top: 18rem;
  width: 220px;
  max-width: 220px;
  margin-left: 38.4px;
  text-align: center;

  @media screen and (orientation: portrait) and (max-width: 1024px) {
    margin-left: 0;
    margin-right: 2rem;
  }
}

.avatar-container {
  width: 230px;
  height: 280px;
  padding: 10px;
  object-fit: contain;
  box-shadow: 2px 3px 3px 0 rgb(35 31 32 / 25%);
  background-image: linear-gradient(139deg, #f5f5f5 -3%, #ffffff 96%);
  cursor: pointer;
}

ion-title {
  font-family: AvenirPro;
  font-size: 45px;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.45px;
  text-align: left;
  color: #3f3638;
  padding-left: 0;
  margin-bottom: 2.5rem;
}

form {
  margin-bottom: 5rem;

  fieldset {
    border: none;
  }

  > fieldset {
    padding: 0;
  }

  ion-list {
    margin: 0;

    &.patient-primary-info-list {
      padding-left: 28px;
    }

    .fluent-language {
      margin-bottom: 34px;
    }
  }

  ion-label {
    font-family: AvenirPro;
    font-size: 18px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.3px;
    text-align: left;
    color: #222222;
    display: block;
    margin: 0 0 0.5rem;
    line-height: 1.35;
  }

  ion-select {
    margin-top: 0.8rem;
    padding-right: 12px;
  }
  ion-select::part(icon) {
    color: #ffa612 !important;
  }
  ion-select,
  ion-select-option {
    background-color: #f5f5f5;
  }

  ion-input,
  ion-select,
  ion-textarea {
    font-family: Avenir;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.73;
    letter-spacing: 0.3px;
    text-align: left;
    color: #8e8e93;
    --padding-start: 15px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    border: solid 1px rgba(112, 112, 112, 0.15);
    background-color: #f5f5f5;
    --placeholder-color: #a6a6a7;
    min-height: 44px;
    &.ion-invalid {
      border-bottom: 1px solid red;
    }
  }

  .main-label-box {
    font-family: Avenir;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.42px;
    text-align: left;
    color: #343638;
  }

  // New Patient & Edit Patient
  .patient-section-title {
    i.icon-patient {
      background-image: url("/assets/icon-contact@2x.png");
      margin-right: 12px;
      margin-top: 2px;
    }

    span {
      font-family: AvenirPro;
      font-size: 26px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.08;
      letter-spacing: normal;
      text-align: left;
      color: #00b4b9;
    }

    margin-bottom: 0.5rem;
  }

  .inline-patient-responsibility-container {
    margin-top: 1.5rem;

    @media screen and (orientation: portrait) and (max-width: 1024px) {
      clear: both;
    }
  }

  ion-item {
    &.patient-facility {
      display: inline-block;

      .select-facility {
        width: 350px;
        height: 43px;
        padding-left: 11px;
      }
    }

    &.patient-medical-record-number {
      width: 180px;
      margin-left: 10px;

      @media screen and (orientation: portrait) and (max-width: 1024px) {
        margin-left: 0px;
      }

      display: inline-block;
    }

    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    --min-height: auto;

    &.patient-first-name,
    &.patient-last-name {
      display: inline-block;
      width: 165px;
      margin-right: 10px;
    }

    &.patient-dob {
      width: 170px;
      display: inline-block;
      ion-input {
        --padding-end: 12px;
      }
    }

    &.patient-gender {
      display: block;
      width: 100%;
      margin: 1.25rem 0 0;
    }

    &.responsible-party {
      ion-label {
        margin-bottom: 0.33rem;
      }
    }

    &.patient-gender {
      margin-right: 0;
    }
  }

  div.patient-phone-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 8px;
    width: 100%;

    @media screen and (orientation: portrait) and (max-width: 1024px) {
      margin-top: 8px;
      width: 100%;
    }

    ion-item {
      margin-right: 0;
      display: block;

      &.patient-country-code {
        margin-left: 0;
        width: 60px;
      }

      &.patient-area-code {
        width: 70px;
      }

      &.patient-phone-number {
        width: 120px;
      }
    }
  }

  div.language-container {
    .speaks-english-toggle {
      display: block;
      clear: both;
    }

    .fluent-language {
      display: none;

      &.show {
        display: block;
        width: 100%;
      }
    }
  }

  i {
    float: left;
    clear: left;
    width: 17px;
    height: 22px;
    margin-top: 4px;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  i.icon-new-facility {
    background-image: url("/assets/icon-new-facility@2x.png");
  }

  i.icon-birthday {
    background-image: url("/assets/icon-birthday@2x.png");
  }

  i.icon-contacts {
    background-image: url("/assets/icon-phone-blue@2x.png");
  }

  i.icon-medical {
    background-image: url("/assets/icon-medical@2x.png");
  }

  i.icon-physician {
    margin-top: 0px;
    background-image: url("/assets/icon-physician@2x.png");
  }

  i.icon-star {
    background-image: url("/assets/icon-star@2x.png");
  }

  i.icon-insurance {
    background-image: url("/assets/icon-insurance@2x.png");
  }

  i.icon-discharge-calendar {
    background-image: url("/assets/icon-discharge-calendar@2x.png");
  }

  i.icon-medical-condition {
    background-image: url("/assets/icon-medical-condition@2x.png");
  }

  .section-header {
    margin-top: 14px;
    overflow: hidden;
    margin-left: -26px;

    &.contacts {
      padding-bottom: 2px;
      margin-left: -26px;
    }

    span {
      font-family: AvenirPro;
      margin-left: 0px;
      font-size: 26px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.08;
      letter-spacing: normal;
      text-align: left;
      color: #00b4b9;

      &.contact-header,
      &.discharge-header {
        float: left;
        margin-left: 10px;
      }
    }
  }

  fieldset.patient-contacts {
    margin-left: 0;
    padding-left: 0;

    span.loading-contacts {
      margin-left: 8px;
      width: auto;
      margin-top: 12px;
      display: inline-block;
      font-style: italic;
      color: #8e8e93;
      font-size: 13px;
      font-family: Avenir;
    }

    border: none;

    i.icon-hipaa {
      background-image: url("/assets/icon-hipaa@2x.png");
      background-size: 100%;
      width: 20px;
      height: 20px;
      margin-left: 5px;
      margin-top: -1px;
    }

    .remove-contact-label {
      cursor: pointer;
      font-family: AvenirDemi;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.86;
      letter-spacing: 0.15px;
      text-align: right;
      color: #ef4627;
    }

    .add-additional-contact {
      cursor: pointer;
      font-family: AvenirDemi;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.86;
      letter-spacing: 0.15px;
      text-align: right;
      color: var(--ion-color-primary);
    }

    ion-list {
      padding-left: 4px;
      margin-bottom: 1rem;
    }

    .patient-contact-header-container {
      span {
        &.patient-contact-header {
          margin-left: 0px;
          font-family: AvenirDemi;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.75;
          letter-spacing: 0.16px;
          text-align: left;
          color: #00b4b9;
        }

        &.contact-header {
          margin-left: 10px;
        }
      }
    }

    ion-item-divider {
      clear: both;
      --padding-start: 0;
    }

    ion-item {
      &.first-name {
        width: 155px;
        float: left;
        margin-right: 12px;
      }

      &.last-name {
        width: 155px;
        float: left;
      }

      &.relationship {
        width: 170px;
        float: left;
        clear: both;
      }

      &.patient-contact-order {
        width: 60px;
        display: none !important;
      }
      ion-checkbox {
        height: 14px;
        width: 14px;
      }
      &.patient-contact-hipaa {
        margin-left: 8px;

        ion-label {
          margin-bottom: 0;
          margin-right: 5px;
        }
      }

      &.responsible-party {
        ion-label {
          margin-right: 5px;
        }
      }
    }

    .phone-container {
      padding-left: 0;
      width: calc(100% - 20px);
      clear: both;
      display: flex;
      flex-wrap: wrap;
      gap: 12px 8px;

      ion-item {
        margin-right: 0;
        display: block;

        &.country-code {
          margin-left: 0;
          width: 55px;
        }

        &.area-code {
          width: 65px;
        }

        &.phone-number {
          width: 120px;

          @media screen and (orientation: portrait) and (max-width: 1024px) {
            margin-right: 170px;
          }
        }

        ion-item {
          ion-label {
            font-family: AvenirPro;
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.87;
            letter-spacing: normal;
            text-align: left;
            color: #222222;
          }
        }

        &.responsible-party-toggle {
          align-self: flex-end;
          margin-bottom: 6px;
        }
      }

      .responsible-party-toggle {
        align-self: flex-end;
        margin-bottom: 6px;
      }
    }
  }

  fieldset.insurance-info {
    margin-left: 0;
    padding-left: 0;
  }

  fieldset.patient-discharge {
    border: none;
    margin-left: 0;
    padding-left: 0;
    padding-top: 2rem;

    .section-header {
      width: 100%;
    }

    .discharged-label {
      font-size: 17px;
      margin-bottom: 0;
    }

    ion-list {
      margin-left: 0;
    }

    ion-item {
      &.discharge-admit-date,
      &.discharge-discharge-date {
        display: inline-block;
        width: 160px;
        height: auto;
        border: solid 1px var(--brownish-grey-15);
        background-color: #f5f5f5;
        margin-right: 16px;

        ion-input {
          @media not all and (min-resolution: 0.001dpcm) {
            @supports (-webkit-appearance: none) and (stroke-color: transparent) {
              line-height: 22px;
              height: 40px;
            }
          }
          padding-left: 12px;
          &::before {
            cursor: pointer;
            pointer-events: auto;
            content: "";
            display: block;
            position: absolute;
            top: 7px;
            right: 0px;
            filter: grayscale(1);
            z-index: 8;
            background: #f5f5f5;
            height: 22px;
            width: 26px;
          }
          &::after {
            cursor: pointer;
            pointer-events: auto;
            content: "";
            display: block;
            position: absolute;
            top: 12px;
            right: 12px;
            filter: grayscale(1);
            z-index: 8;
            background-image: url("/assets/icon-calendar@2x.png");
            background-repeat: no-repeat;
            background-size: 100%;
            height: 21px;
            width: 21px;
            @media not all and (min-resolution: 0.001dpcm) {
              @supports (-webkit-appearance: none) and (stroke-color: transparent) {
                top: 8px;
              }
            }
          }
        }
      }

      &.discharge-total-days {
        width: 100px;

        @media screen and (orientation: portrait) and (max-width: 1024px) {
          width: 80px;
        }

        display: inline-block;
        margin-left: 18px;

        ion-label {
          opacity: 1;
        }

        ion-input {
          opacity: 1;
        }
      }
    }

    .equal-sign {
      height: 50px;
      top: 33px;
      margin-left: -18px;
      width: 30px;
      position: absolute;
    }

    .patient-discharge-dates-container {
      margin-bottom: 3rem;

      .native-input:disabled {
        opacity: 1 !important;
      }
    }

    .discharged-ama {
      .discharged-ama-options {
        margin-top: 0.75rem;
      }
    }

    .discharge-to-location {
      margin-top: 1.5rem;

      .section-header .discharge {
        margin-top: 8px;
      }

      .discharge-location-grid {
        margin-top: 0.8rem;

        .discharge-location {
          width: 100%;
        }
      }
    }
  }

  .checkbox-list-container {
    padding-left: 0;

    ion-item {
      margin-left: 0;
      display: inline-block;

      ion-radio {
        display: inline-block;
      }
    }
  }

  .discharge-ama {
    ion-item {
      display: inline-block;
    }
  }

  .discharge-checkboxes {
    margin-top: 6px;
    padding-left: 0;

    ion-item {
      margin-left: 0;
      max-height: 36px;
      display: inline-block;
    }

    ion-radio {
      margin-left: 6px;
    }

    ion-label {
      margin-left: 12px;
      font-family: Avenir;
      font-size: 21px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 0.42px;
      text-align: left;
    }
  }

  ion-textarea {
    margin-top: 16px;
    min-height: 176px;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
  }

  ion-input {
    min-height: 44px;
    width: 100%;
    margin-top: 0;
  }

  .checkboxes-inline {
    margin-top: 0.75rem;
  }
}

fieldset.patient-medical-conditions {
  margin-left: 0;
  padding-left: 0;

  .section-header {
    width: 100%;
  }

  .patient-medical-conditions {
    margin-left: 0;

    ion-list {
      margin-left: 0px;

      ion-item {
        &.textarea-item {
          margin-left: 22px;
        }
      }
    }
  }
}

fieldset.patient-intake-questions {
  margin-bottom: 0;
  padding-left: 0;

  ion-list {
    padding-left: 0;
    margin-left: 0;
    padding-top: 0;
    background: transparent;
  }

  i.icon-questions {
    background-image: url("/assets/icon-questions@2x.png");
  }

  .section-header {
    width: 100%;
    margin-bottom: 0.75rem;
  }

  i.icon-question-mark {
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 10px;
    background: url("/assets/icon-question-mark@2x.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .call-question-body-container {
    display: block;
    width: 100%;
    height: auto;

    i {
      margin-right: 12px;
    }
  }

  .call-question {
    padding-top: 12px;
    margin-left: 4px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.42px;
    text-align: left;

    ion-radio {
      --background-hover: transparent;
      --color: transparent;
      --color-checked: transparent;
      border: 0;
      width: 34px !important;
      height: 32px !important;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 8px;

      &.rating-button-1 {
        background-image: url("/assets/rating-button-1@2x.png");

        &:active,
        &.radio-checked {
          background-image: url("/assets/rating-button-1-select@2x.png");
        }
      }

      &.rating-button-2 {
        background-image: url("/assets/rating-button-2@2x.png");

        &:active,
        &.radio-checked {
          background-image: url("/assets/rating-button-2-select@2x.png");
        }
      }

      &.rating-button-3 {
        background-image: url("/assets/rating-button-3@2x.png");

        &:active,
        &.radio-checked {
          background-image: url("/assets/rating-button-3-select@2x.png");
        }
      }

      &.rating-button-4 {
        background-image: url("/assets/rating-button-4@2x.png");

        &:active,
        &.radio-checked {
          background-image: url("/assets/rating-button-4-select@2x.png");
        }
      }

      &.rating-button-5 {
        background-image: url("/assets/rating-button-5@2x.png");

        &:active,
        &.radio-checked {
          background-image: url("/assets/rating-button-5-select@2x.png");
        }
      }

      &.rating-button-6 {
        background-image: url("/assets/rating-button-6@2x.png");

        &:active,
        &.radio-checked {
          background-image: url("/assets/rating-button-6-select@2x.png");
        }
      }

      &.rating-button-7 {
        background-image: url("/assets/rating-button-7@2x.png");

        &:active,
        &.radio-checked {
          background-image: url("/assets/rating-button-7-select@2x.png");
        }
      }

      &.rating-button-8 {
        background-image: url("/assets/rating-button-8@2x.png");

        &:active,
        &.radio-checked {
          background-image: url("/assets/rating-button-8-select@2x.png");
        }
      }

      &.rating-button-9 {
        background-image: url("/assets/rating-button-9@2x.png");

        &:active,
        &.radio-checked {
          background-image: url("/assets/rating-button-9-select@2x.png");
        }
      }

      &.rating-button-10 {
        background-image: url("/assets/rating-button-10@2x.png");

        &:active,
        &.radio-checked {
          background-image: url("/assets/rating-button-10-select@2x.png");
        }
      }
    }

    ion-label {
      font-size: 16px;
      line-height: 26px;
      font-family: Avenir;
      display: inline-block;
      margin-right: 0.5rem;
    }

    ion-radio-group {
      ion-item {
        display: inline-block;
      }

      ion-label {
        font-size: 16px;
        line-height: 31px;
        position: absolute;
        top: 15px;
        left: 3px;
        width: 100%;
        text-align: center;
        font-family: Avenir;
        display: inline-block;
        margin: 0 auto;
      }

      ion-radio {
        display: inline-block;
        width: 100%;
        text-align: center;
      }
    }

    .call-question-answers {
      ul {
        list-style-type: none;
        padding-left: 0;
        padding-top: 18px;
      }
    }
  }

  ion-radio-group {
    .boolean,
    .rating {
      ion-item {
        display: inline-block;
      }

      ion-radio {
        display: inline-block;
      }
    }
  }

  ion-item.boolean {
    display: inline-block;

    .boolean {
      margin-left: 0;
    }
  }
}

fieldset.need-to-know {
  padding-left: 0;

  i.icon-info {
    width: 17px;
    height: 22px;
    margin-top: 4px;
    background-image: url("/assets/icon-info@2x.png");
  }

  ion-textarea {
    margin-top: 10px;
  }
}

.is-active {
  display: block;
  height: auto;
  overflow: visible;
  float: right;
}

.form-button-controls {
  display: block;
  width: 100%;
  text-align: right;

  button {
    float: right;
    margin-left: 10px;
    margin-top: 36px;
  }
}
