ion-content {
  padding-bottom: 132px;
}
.patient-sidebar {
  max-width: 177px;
  margin-right: 118px;
}

.patient-content {
  width: 565px;
  margin-top: 79px;
}
.avatar-col {
  margin-top: 72px;
  width: 220px;
  margin-left: 81.4px;
  img {
    cursor: pointer;
  }
}
ion-title {
  font-family: AvenirNextLTPro;
  font-size: 45px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.9px;
  text-align: left;
  color: #343638;
  padding-left: 0;
}
