<ion-content>
  <ion-row>
    <ion-col class="patient-sidebar">
      <app-patient-manager-sidebar></app-patient-manager-sidebar>
    </ion-col>
    <ion-col class="patient-content">
      <ion-title *ngIf="!editMode; else editPatient">New Patient</ion-title>
      <ng-template #editPatient>
        <ion-title>
          Edit Patient
        </ion-title>
      </ng-template>
      <form *ngIf="patient$ | async" id="new-patient-form" [formGroup]="patientForm" novalidate>
        <ion-list lines="none" inset>
          <i class="icon-new-facility"></i>
          <ion-item>
            <ion-select placeholder="Select Facility" class="select-facility" formControlName="operation">
              <ion-select-option *ngFor="let operation of user.operations" [value]="operation.operationId">
                {{ operation.operationName }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-list lines="none" inset formGroupName="patient">
          <i class="icon-info"></i>
          <ion-item class="patient-medical-record-number">
            <ion-label color="medium" position="stacked">Patient #</ion-label>
            <ion-input type="text" formControlName="patientMedicalRecordNumber"></ion-input>
          </ion-item>
          <ion-item class="patient-dob">
            <ion-label color="medium" position="stacked">Date of Birth</ion-label>
            <ion-datetime type="date" formControlName="patientDob"></ion-datetime>
          </ion-item>
          <ion-list lines="none" inset formGroupName="patientName">
            <ion-item class="patient-first-name">
              <ion-label color="medium" position="stacked">First Name</ion-label>
              <ion-input type="text" formControlName="patientFirstName"></ion-input>
            </ion-item>
            <ion-item class="patient-middle-name">
              <ion-label color="medium" position="stacked">Middle Name</ion-label>
              <ion-input type="text" formControlName="patientMiddleName"></ion-input>
            </ion-item>
            <ion-item class="patient-last-name">
              <ion-label color="medium" position="stacked">Last Name</ion-label>
              <ion-input type="text" formControlName="patientLastName"></ion-input>
            </ion-item>
          </ion-list>

          <!-- This should come from a loop -->
          <fieldset class="patient-contacts" formGroupName="patientContacts">
            <div class="section-header contacts">
              <i class="icon-contacts"></i>
              <span class="contact-header">Contacts</span>
            </div>
            <ion-list lines="none" formGroupName="primaryPatientContact">
              <div class="section-header">
                <span>Primary Contact</span>
              </div>
              <ion-item class="first-name">
                <ion-label color="medium" position="stacked">First Name</ion-label>
                <ion-input type="text" formControlName="patientContactFirstName"> </ion-input>
              </ion-item>
              <ion-item class="last-name">
                <ion-label color="medium" position="stacked">Last Name</ion-label>
                <ion-input type="text" formControlName="patientContactLastName"> </ion-input>
              </ion-item>
              <ion-item class="relationship">
                <ion-label color="medium" position="stacked">Relationship</ion-label>
                <ion-input type="text" formControlName="patientContactRelationship"> </ion-input>
              </ion-item>
              <div class="phone-container">
                <ion-item class="country-code">
                  <ion-label color="medium" position="stacked">+(1)</ion-label>
                  <ion-input type="text" formControlName="patientContactCountryCode"></ion-input>
                </ion-item>
                <ion-item class="area-code">
                  <ion-label color="medium" position="stacked">(###)</ion-label>
                  <ion-input type="text" formControlName="patientContactAreaCode"></ion-input>
                </ion-item>
                <ion-item class="phone-number">
                  <ion-label color="medium" position="stacked">Phone #</ion-label>
                  <ion-input type="text" formControlName="patientContactPhoneNumber"></ion-input>
                </ion-item>
                <ion-item class="responsible-party">
                  <ion-label color="medium" type="stacked">Responsible Party?</ion-label>
                  <ion-radio formControlName="patientResponsiblePartyBoolean"> </ion-radio>
                  <i class="icon-hipaa"></i>
                </ion-item>
              </div>
              <ion-item-divider></ion-item-divider>
            </ion-list>
            <ion-list lines="none" formGroupName="alternatePatientContact1">
              <div class="section-header">
                <span>Alternative Contact 1</span>
              </div>
              <ion-item class="first-name">
                <ion-label color="medium" position="stacked">First Name</ion-label>
                <ion-input type="text" formControlName="patientContactFirstName"> </ion-input>
              </ion-item>
              <ion-item class="last-name">
                <ion-label color="medium" position="stacked">Last Name</ion-label>
                <ion-input type="text" formControlName="patientContactLastName"> </ion-input>
              </ion-item>
              <ion-item class="relationship">
                <ion-label color="medium" position="stacked">Relationship</ion-label>
                <ion-input type="text" formControlName="patientContactRelationship"> </ion-input>
              </ion-item>
              <div class="phone-container">
                <ion-item class="country-code">
                  <ion-label color="medium" position="stacked">+(1)</ion-label>
                  <ion-input type="text" value="1" formControlName="patientContactCountryCode"></ion-input>
                </ion-item>
                <ion-item class="area-code">
                  <ion-label color="medium" position="stacked">(###)</ion-label>
                  <ion-input type="text" formControlName="patientContactAreaCode"></ion-input>
                </ion-item>
                <ion-item class="phone-number">
                  <ion-label color="medium" position="stacked">Phone #</ion-label>
                  <ion-input type="text" formControlName="patientContactPhoneNumber"></ion-input>
                </ion-item>
                <ion-item class="responsible-party">
                  <ion-label color="medium" type="stacked">Responsible Party?</ion-label>
                  <ion-radio formControlName="patientResponsiblePartyBoolean"> </ion-radio>
                  <i class="icon-hipaa"></i>
                </ion-item>
              </div>
              <ion-item-divider></ion-item-divider>
            </ion-list>
            <ion-list lines="none" formGroupName="alternatePatientContact2">
              <div class="section-header">
                <span>Alternative Contact 2</span>
              </div>
              <ion-item class="first-name">
                <ion-label color="medium" position="stacked">First Name</ion-label>
                <ion-input type="text" formControlName="patientContactFirstName"> </ion-input>
              </ion-item>
              <ion-item class="last-name">
                <ion-label color="medium" position="stacked">Last Name</ion-label>
                <ion-input type="text" formControlName="patientContactLastName"> </ion-input>
              </ion-item>
              <ion-item class="relationship">
                <ion-label color="medium" position="stacked">Relationship</ion-label>
                <ion-input type="text" formControlName="patientContactRelationship"> </ion-input>
              </ion-item>
              <div class="phone-container">
                <ion-item class="country-code">
                  <ion-label color="medium" position="stacked"> +(1)</ion-label>
                  <ion-input type="text" formControlName="patientContactCountryCode"></ion-input>
                </ion-item>
                <ion-item class="area-code">
                  <ion-label color="medium" position="stacked">(###)</ion-label>
                  <ion-input type="text" formControlName="patientContactAreaCode"></ion-input>
                </ion-item>
                <ion-item class="phone-number">
                  <ion-label color="medium" position="stacked">Phone #</ion-label>
                  <ion-input type="text" formControlName="patientContactPhoneNumber"></ion-input>
                </ion-item>
                <ion-item class="responsible-party">
                  <ion-label color="medium" type="stacked">Responsible Party?</ion-label>
                  <ion-radio formControlName="patientResponsiblePartyBoolean"> </ion-radio>
                  <i class="icon-hipaa"></i>
                </ion-item>
              </div>
              <ion-item-divider></ion-item-divider>
            </ion-list>
          </fieldset>
          <fieldset class="physician-info" formGroupName="physicianInfo">
            <ion-list class="physician-info-list" lines="none" inset>
              <i class="icon-physician"></i>
              <div class="section-header">
                <span>Physician</span>
              </div>
              <ion-item-divider></ion-item-divider>
              <ion-item class="first-name">
                <ion-label color="medium" position="stacked">First Name</ion-label>
                <ion-input type="text" formControlName="physicianFirstName"></ion-input>
              </ion-item>
              <ion-item class="last-name">
                <ion-label color="medium" position="stacked">Last Name</ion-label>
                <ion-input type="text" formControlName="physicianLastName"></ion-input>
              </ion-item>
              <div class="phone-container">
                <ion-item class="country-code">
                  <ion-label color="medium" position="stacked">+(1)</ion-label>
                  <ion-input type="text" value="1" formControlName="physicianCountryCode"></ion-input>
                </ion-item>
                <ion-item class="area-code">
                  <ion-label color="medium" position="stacked">(###)</ion-label>
                  <ion-input type="text" formControlName="physicianAreaCode"></ion-input>
                </ion-item>
                <ion-item class="phone-number">
                  <ion-label color="medium" position="stacked">Phone #</ion-label>
                  <ion-input type="text" formControlName="physicianPhoneNumber"></ion-input>
                </ion-item>
              </div>
            </ion-list>
          </fieldset>
          <fieldset class="insurance-info" formGroupName="insurance">
            <ion-list lines="none" inset>
              <i class="icon-insurance"></i>
              <ion-item>
                <ion-label color="medium" position="stacked">Primary Insurance</ion-label>
                <ion-input formControlName="primaryInsurance"></ion-input>
              </ion-item>
              <ion-item class="secondary-insurance">
                <ion-label color="medium" position="stacked">Secondary Insurance</ion-label>
                <ion-input formControlName="secondaryInsurance"></ion-input>
              </ion-item>
            </ion-list>
          </fieldset>
          <fieldset class="patient-discharge" formGroupName="dischargeInfo">
            <div class="section-header">
              <i class="icon-discharge-calendar"></i>
              <span class="discharge-header">Discharge Info</span>
            </div>
            <ion-list inset lines="none">
              <div class="patient-discharge-dates-container">
                <ion-item class="discharge-admit-date">
                  <ion-label color="medium" position="stacked">Admitted</ion-label>
                  <ion-datetime formControlName="patientAdmissionDate"></ion-datetime>
                </ion-item>
                <ion-item class="discharge-discharge-date">
                  <ion-label color="medium" position="stacked">Discharged</ion-label>
                  <ion-datetime formControlName="patientDischargeDate"></ion-datetime>
                </ion-item>
                <ion-item class="discharge-total-days">
                  <ion-label color="medium" position="stacked">Total Days</ion-label>
                  <ion-input formControlName="patientTotalDays" disabled readonly></ion-input>
                </ion-item>
              </div>
              <ion-label class="discharged-label" color="medium" position="stacked">
                Discharged Against Medical Advice?
              </ion-label>
              <ion-item class="discharged-ama">
                <ion-radio-group formControlName="patientDischargedAma">
                  <ion-radio class="discharged-ama radio-yes"> </ion-radio>
                  <ion-label>
                    Yes
                  </ion-label>
                  <ion-radio class="discharged-ama radio-no"> </ion-radio>
                  <ion-label>
                    No
                  </ion-label>
                </ion-radio-group>
              </ion-item>
              <ion-item class="discharge-to-location">
                <ion-label color="medium" position="stacked">Discharged To:</ion-label>
                <ion-list inset lines="none">
                  <ion-radio-group formControlName="patientDischargedTo">
                    <ion-item *ngFor="let dischargeLabel of dischargeLabels$ | async">
                      <ion-radio value="dischargeLabel.dischargeLabelId"> </ion-radio>
                      <ion-label>
                        {{ dischargeLabel.dischargeLabel }}
                      </ion-label>
                    </ion-item>
                  </ion-radio-group>
                </ion-list>
              </ion-item>
            </ion-list>
          </fieldset>
          <ion-list lines="none" inset formGroupName="patientMedicalConditions">
            <div class="section-header discharge">
              <i class="icon-info"></i>
              <span class="contact-header">Medical Condition</span>
            </div>
            <ion-item>
              <ion-list inset lines="none" class="checkboxes-inline">
                <ion-item>
                  <ion-label color="medium" position="stacked">Cardiac</ion-label>
                  <ion-checkbox formControlName="cardiacBoolean"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label color="medium" position="stacked">Sepsis</ion-label>
                  <ion-checkbox formControlName="sepsisBoolean"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label color="medium" position="stacked">Pulmonary</ion-label>
                  <ion-checkbox formControlName="pulmonaryBoolean"></ion-checkbox>
                </ion-item>
              </ion-list>
            </ion-item>
            <ion-item>
              <ion-label color="medium" position="stacked">Primary Diagnosis</ion-label>
              <ion-textarea formControlName="primaryDiagnosis"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label color="medium" position="stacked">Discharged Condition</ion-label>
              <ion-textarea formControlName="dischargedCondition"></ion-textarea>
            </ion-item>
          </ion-list>
          <ion-list
            lines="none"
            *ngIf="patient.patientIntakeQuestions$ | async as patientQuestions"
            inset
            formGroupName="patientQuestionAnswers"
          >
            <i class="icon-question"></i>
            <ion-item *ngFor="let patientQuestion of patientQuestions">
              <app-patient-question [patientQuestion]="patientQuestion"> </app-patient-question>
            </ion-item>
          </ion-list>
          <ion-list class="urgency-rating-list" lines="none" inset>
            <i class="icon-star"></i>
            <ion-item class="urgency-rating">
              <ion-label color="medium" position="stacked">
                Urgency Rating
              </ion-label>
              <ion-radio-group>
                <ion-item *ngFor="let rating of [1, 2, 3, 4, 5]">
                  <ion-radio value="rating"></ion-radio>
                  <ion-label position="stacked">{{ rating }}</ion-label>
                </ion-item>
              </ion-radio-group>
            </ion-item>
          </ion-list>
          <ion-list inset lines="none">
            <i class="icon-info"></i>
            <ion-item class="need-to-know">
              <ion-label color="medium" position="stacked">Need To Know</ion-label>
              <ion-textarea formControlName="patientNeedToKnow"></ion-textarea>
            </ion-item>
          </ion-list>
        </ion-list>
        <ion-button (click)="onFormSubmit()">Save</ion-button>
      </form>
    </ion-col>
    <ion-col class="avatar-col">
      <div class="avatar-container">
        <img src="/assets/default-avatar-patient-detail.png" alt="" />
      </div>
      <ion-button fill="outline" (click)="(uploadPatientAvatarPhoto)">
        Add Photo
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
