ion-content {
  padding-bottom: 132px;
}

.patient-sidebar {
  max-width: 177px;
  margin-right: 118px;
}

.patient-content {
  width: 565px;
  max-width: 565px;
  margin-top: 79px;
}

.avatar-col {
  margin-top: 72px;
  width: 220px;
  max-width: 220px;
  margin-left: 81.4px;

  img {
    cursor: pointer;
  }

  ion-button {
    margin-left: 28px;
    clear: both;
  }
}

.avatar-container {
  width: 100%;
}

ion-title {
  font-family: AvenirNextLTPro;
  font-size: 38px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.9px;
  text-align: left;
  color: #343638;
  padding-left: 0;
}

form {
  .phone-container {
    .country-code {
      text-align: center;
      color: gray;
      cursor: not-allowed;
    }
  }

  fieldset {
    border: none;
  }

  > fieldset {
    padding: 0;
    margin-left: -25px;
  }

  > ion-list {
    margin-left: -25px;
  }

  ion-select,
  ion-select-option,
  ion-datetime {
    background-color: #f5f5f5;
  }

  ion-label {
    min-width: min-content;
    font-family: Avenir;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.42px;
    text-align: left;
  }

  ion-input,
  ion-textarea,
  ion-datetime {
    background: #f5f5f5;
    border: solid 1px rgba(112, 112, 112, 0.15);
    padding-left: 15px !important;
    font-size: 14px;
    font-family: Avenir;
  }

  .main-label-box {
    font-family: Avenir;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.42px;
    text-align: left;
    color: #343638;
  }
  ion-item {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;

    &.patient-first-name,
    &.patient-middle-name,
    &.patient-last-name {
      display: inline-block;
      margin-right: 5px;
    }

    &.patient-first-name {
      width: 160px;
      margin-left: 10px;
      margin-right: 10px;
    }

    &.patient-middle-name {
      width: 140px;
      margin-right: 10px;
    }

    &.patient-last-name {
      width: 160px;
    }

    &.patient-medical-record-number {
      width: 143px;
      padding-left: 10px;
      display: inline-block;
    }

    &.patient-dob {
      display: inline-block;
      margin-left: 16px;

      span {
        margin-left: 8px;
        height: 13px;
        width: 28px;
        display: inline-block;
        font-style: italic;
        color: #8e8e93;
        font-size: 13px;
        font-family: Avenir;
      }
    }

    ion-datetime {
      width: 110px;
      height: auto;
      font-family: Avenir;
      font-size: 14px;
      padding: 8px;
      margin-top: 16px;
      display: inline-block;

      button {
        max-width: 105px;
      }
    }
  }

  .select-facility {
    min-width: calc(100% - 11px);
    height: 39px;
    margin-left: 11px;
  }

  i {
    float: left;
    clear: left;
    width: 16px;
    height: 20px;
    margin-top: 14px;
    background-repeat: no-repeat;
    background-size: 95%;
  }

  i.icon-new-facility {
    background-image: url("/assets/icon-new-facility@2x.png");
  }

  i.icon-birthday {
    background-image: url("/assets/icon-birthday@2x.png");
  }

  i.icon-contacts {
    background-image: url("/assets/icon-contacts@2x.png");
  }

  i.icon-info {
    background-image: url("/assets/icon-info@2x.png");
  }

  i.icon-physician {
    margin-top: 0px;
    background-image: url("/assets/icon-physician@2x.png");
  }

  i.icon-star {
    background-image: url("/assets/icon-star@2x.png");
  }

  i.icon-insurance {
    background-image: url("/assets/icon-insurance@2x.png");
  }

  i.icon-discharge-calendar {
    background-image: url("/assets/icon-discharge-calendar@2x.png");
  }

  i.icon-medical-condition {
    background-image: url("/assets/icon-medical-condition@2x.png");
  }

  i.icon-question {
    background-image: url("/assets/icon-question@2x.png");
  }

  .section-header {
    margin-top: 14px;
    overflow: hidden;

    &.contacts {
      padding-bottom: 2px;
      margin-left: -13px;
      border-bottom: 1px solid #e0e0e0;
    }

    span {
      font-family: Avenir;
      font-size: 19px;
      font-weight: normal;
      font-style: normal;
      margin-left: 10px;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 0.42px;
      text-align: left;
      color: var(--ion-color-primary);

      &.contact-header,
      &.discharge-header {
        float: left;
        margin-top: 10px;
        margin-left: 10px;
      }
    }
  }

  fieldset.patient-contacts {
    border: none;

    .add-additional-contact {
      cursor: pointer;
      font-family: Avenir;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      margin-top: 15px;
      margin-left: 10px;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 0.42px;
      text-align: left;
      color: var(--ion-color-primary);
    }

    ion-list {
      padding-left: 12px;
    }

    .section-header {
      span {
        margin-left: 0px;

        &.contact-header {
          margin-left: 10px;
          margin-bottom: -33px;
        }
      }
    }

    ion-item-divider {
      clear: both;
      --padding-start: 0;
    }

    ion-item {
      &.first-name,
      &.last-name,
      &.relationship {
        display: inline-block;
      }

      &.first-name {
        width: 180px;
      }

      &.last-name {
        margin-left: 12px;
        width: 180px;
      }

      &.relationship {
        width: 115px;
      }

      &.order {
        width: 60px;
      }
    }

    .phone-container {
      padding-left: 0;
      width: calc(100% - 20px);

      ion-item {
        margin-right: 8px;
        display: inline-block;

        &.country-code {
          margin-left: 0;
          width: 35px;
          color: lightgray;
          cursor: not-allowed;
        }

        &.area-code {
          width: 60px;
        }

        &.phone-number {
          width: 100px;
        }

        &.responsible-party {
          vertical-align: bottom;

          ion-label {
            font-family: Avenir;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.59px;
            text-align: left;
            margin-left: 20px;
            color: var(--ion-color-primary);
          }

          ion-radio {
            width: 14px;
            height: 14px;
            margin-left: 4px;
          }
        }
      }
    }
  }

  fieldset.physician-info {
    .section-header {
      border-bottom: 1px solid #e0e0e0;
    }

    ion-list.physician-info-list {
      margin-left: -12px;
    }

    ion-item {
      margin-left: 26px;
      --padding-start: 0;
      --padding-end: 0;
      --inner-padding-start: 0;
      --inner-padding-end: 0;
      display: inline-block;

      &.first-name {
        width: 35%;
        margin-right: 2%;
      }

      &.last-name {
        margin-left: 2%;
        width: 35%;
      }

      &.country-code {
        margin-left: 26px;
        margin-right: 8px;
        width: 45px;
      }

      &.area-code {
        width: 60px;
        margin-right: 8px;
      }

      &.phone-number {
        width: 120px;
      }
    }
  }

  fieldset.insurance-info {
    margin-left: 0;
    padding-left: 0;
    .section-header {
      width: 100%;
      border-bottom: 1px solid #e0e0e0;
    }

    ion-list {
      margin-left: -13px;
    }

    .primary-insurance,
    .secondary-insurance {
      margin-left: 36px;
    }
  }
  fieldset.patient-discharge {
    border: none;
    margin-left: 0;
    padding-left: 0;

    .section-header {
      width: 100%;
      border-bottom: 1px solid #e0e0e0;
    }

    .discharged-label {
      font-size: 17px;
    }
    ion-list {
      margin-left: 0;
      &.discharge-dates,
      &.discharged-ama {
        padding-left: 25px;
      }
    }
    ion-item {
      &.discharge-admit-date,
      &.discharge-discharge-date {
        display: inline-block;
        width: 110px;
        height: auto;
        border: solid 1px var(--brownish-grey-15);
        background-color: #f5f5f5;
        margin-right: 18px;
      }

      &.discharge-total-days {
        width: 100px;
        display: inline-block;
        margin-left: 18px;
      }
    }

    .patient-discharge-dates-container {
      margin-bottom: 3rem;
    }

    .discharged-ama {
      ion-radio-group {
        ion-item {
          display: inline-block;
        }

        ion-label {
          font-size: 16px;
          line-height: 31px;
          font-family: Avenir;
          display: inline-block;
          margin-right: 1.5rem;
        }

        ion-radio {
          display: inline-block;
          margin-right: 8px;
        }
      }
    }

    .discharge-to-location {
      margin-top: 1.5rem;

      .section-header .discharge {
        margin-top: 8px;
      }

      ion-list {
        margin-left: 0;
        margin-bottom: 0;

        ion-label {
          min-width: min-content;
          font-family: Avenir;
          font-size: 14px;
          margin-left: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.42px;
          text-align: left;
        }
      }
    }
  }

  .checkbox-list-container {
    padding-left: 0;

    ion-item {
      margin-left: 0;
      display: inline-block;

      ion-radio {
        display: inline-block;
      }
    }
  }

  .discharge-ama {
    ion-item {
      display: inline-block;
    }
  }

  .discharge-checkboxes {
    margin-top: 6px;
    padding-left: 0;

    ion-item {
      margin-left: 0;
      max-height: 36px;
      display: inline-block;
    }

    ion-radio {
      width: 12px;
      height: 12px;
      margin-left: 6px;
      border-radius: 3px;
      border: solid 1px #8e8e8e;
      background-color: #ffffff;
    }

    ion-label {
      margin-left: 12px;
      font-family: Avenir;
      font-size: 21px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 0.42px;
      text-align: left;
    }
  }

  ion-textarea {
    margin-top: 10px;
    min-height: 176px;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
  }

  ion-input {
    height: 39px;
    width: 100%;
    margin-top: 14px;
  }

  ion-button {
    margin-top: -12px;
    margin-bottom: 96px;
    margin-right: 20px;
    float: right;
    border-radius: 4px;
    background-color: --ion-color-primary;
    width: 76px;
    height: 28px;
    font-family: AvenirBold;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 28px;
    vertical-align: middle;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }

  .checkboxes-inline {
    margin-top: 0px;

    ion-item,
    ion-radio {
      display: inline-block;
    }
  }
}

fieldset.patient-medical-conditions {
  margin-left: 0;
  padding-left: 0;
  .section-header {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
  }
}

fieldset.patient-intake-questions {
  .section-header {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 0.75rem;
  }

  i.icon-question-mark {
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 10px;
    background: url("/assets/icon-question-mark@2x.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .call-question-body-container {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 36px;
  }

  .call-question {
    font-size: 18px;
    padding-top: 12px;
    margin-left: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.42px;
    text-align: left;
  }
  ion-radio-group {
    ion-item {
      display: inline-block;
    }

    ion-label {
      font-size: 16px;
      line-height: 31px;
      font-family: Avenir;
      display: inline-block;
      margin-right: 1.5rem;
    }

    ion-radio {
      display: inline-block;
      margin-right: 8px;
    }
  }
  .call-question-answers {
    ul {
      list-style-type: none;
      padding-left: 0;
      padding-top: 18px;
    }
  }

  .rating {
    margin-left: -16px;
    border-radius: 3px;

    ion-radio-group {
      ion-item {
        --inner-padding-start: 0;
        --inner-padding-end: 0;
        width: auto !important;
        max-width: 10% !important;
        display: inline-block;
      }

      ion-label {
        transform: none !important;
        display: block !important;
        margin-right: 0 !important;
        font-family: Avenir;
        font-size: 11px;
        width: 14px;
        font-style: normal;
        font-stretch: normal;
        text-align: center;
      }

      ion-radio {
        border-radius: 3px;
        margin-right: 2px;
      }
    }
  }

  ion-radio-group {
    .boolean,
    .rating {
      margin: 0;
      margin-left: -16px;

      ion-item {
        display: inline-block;
      }

      ion-label {
        font-size: 16px;
        font-family: Avenir;
        display: inline-block;
      }

      ion-radio {
        display: inline-block;
        margin-bottom: -15px;
      }
    }
  }

  .boolean {
    display: inline-block;
  }
}

.urgency-rating-list {
  margin-left: 0px;

  i {
    margin-right: 12px;
  }

  ion-item {
    display: inline-block;

    ion-radio-group {
      margin-top: 18px;

      ion-item {
        ion-radio {
          display: inline-block;
          margin-right: 7px;
        }

        ion-label {
          min-width: min-content;
          font-family: Avenir;
          font-size: 14px;
          margin-left: 8px;
          margin-top: -12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.42px;
          text-align: left;
        }
      }
    }
  }
}

.need-to-know-list {
  margin-left: 0px;

  i {
    margin-right: 12px;
  }
}

.is-active {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  float: right;
  font-size: 13px;
  font-family: Avenir;

  ion-checkbox,
  ion-label {
    display: inline-block;
    margin-left: 8px;
  }

  ion-label {
    font-size: 11px;
  }
}

.hidden-input {
  display: none;
}
