:host {
  width: 480px;
  height: 30px;
  display: block;
  margin-right: 200px;
}

button {
  background-repeat: no-repeat;
  background-image: url("/assets/button-save@2x.png");
  background-size: 100%;

  &:hover {
    background-image: url("/assets/button-save-hover@2x.png");
  }

  &:focus {
  }
}
