:host {
  width: 480px;
  height: 30px;
  display: block;
  margin-right: 200px;
}

button {
  width: 190px;
  background-repeat: no-repeat;
  background-image: url("/assets/button-review-call@2x.png");
  background-size: 100%;

  &:hover {
  }

  &:focus {
  }
}
