:host {
  width: 480px;
  height: 30px;
  display: block;
  margin-right: 200px;
}
ion-button {
  text-transform: uppercase;
  width: 190px;
  height: 30px;
  color: var(--ion-color-primary);
  font-family: AvenirBold;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 28px;
  vertical-align: middle;
  letter-spacing: 0.3px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: white;
  --background: var(--ion-color-primary);
  --border-style: none;
  --background-hover: #019ca2;
  --border-activated: 1px solid #009999;
}
