<form formGroup="patientNextCallQuestionsForm">
  <ion-list lines="none">
    <ion-item *ngFor="let patientCallQuestion of patientCallQuestions">
      <ion-label position="stacked"> <i class="icon-info"></i> Question for next follow-up </ion-label>
      <ion-textarea placeholder="Enter your question"> </ion-textarea>
      <span
        (click)="highlightCallQuestion(patientCallQuestion.patietnCallQuestionId)"
        class="highlight-controls"
      ></span>
    </ion-item>
  </ion-list>
</form>
