ion-label {
  font-family: Avenir;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.42px;
  width: auto;
  float: left;
}
i.icon-info {
  float: left;
  margin-left: -12px;
  width: 20px;
  height: 20px;
  background-image: url("/assets/icon-info@2x.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
