:host {
  textarea {
    height: 100%;
  }
}
i {
  width: 22px;
  height: 22px;
  vertical-align: top;
}

.icon-discharge {
  margin-top: 19px;
  background-image: url("/assets/icon-discharge@2x.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: inline-block;
}

.icon-medical {
  margin-top: 19px;
  background-image: url("/assets/icon-medical@2x.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: inline-block;
}

ion-list {
  width: calc(100% - 55px);
  --padding-start: 0;
  --padding-end: 0;
  display: inline-block;

  ion-item {
    font-size: 15px;
    font-family: AvenirPro;
    font-weight: normal;
    padding: 0;
    --padding-start: 0;
  }

  span {
    &.label {
      color: #222222;
      font-family: AvenirDemi;
      font-size: 15px;
      line-height: 18px;

      &.discharge {
        margin-right: 18px;
      }

      &.ama {
        color: #ef4627;
      }

      &.is-highlighted {
        &::after {
          display: block;
          content: "";
          width: 172px;
          height: 4px;
          position: absolute;
          bottom: 10px;
          background-color: #ffcc00;
        }
      }
    }
  }

  .discharged-date-item {
    width: 100%;
    display: block;

    &::after {
      display: block;
      content: "";
      width: 172px;
      height: 4px;
      position: absolute;
      bottom: 10px;
      background-color: #ffcc00;
    }
  }

  &.inline-discharge-section {
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 0;
    ion-item:not(.discharged-date-item) {
      line-height: 18px;
      height: 32px;
      padding: 0;
    }
  }

  &.more-info-section {
    margin-top: 0;
    margin-left: 10px;

    ion-item {
      height: auto;
    }

    .medical-condition-item {
      text-transform: capitalize;
      text-decoration: underline;
      font-weight: bold;
      color: #ef4627;
      font-size: 15px;
      font-family: AvenirBold;

      span {
        &.first {
          &:before {
            content: "";
          }
        }

        &:before {
          content: ", ";
          text-decoration: none;
        }
      }
    }
  }

  .discharged-condition {
    margin-top: 16px;
  }
  .discharged-condition,
  .need-to-know {
    p {
      font-family: AvenirPro;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #222222;
    }
  }
  .intake-questions {
    padding-top: 0;
    margin: 0 0 1rem 0;
  }
}
