ion-list {
  ion-item {
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  i {
    float: left;
    clear: left;
    width: 20px;
    height: 20px;
    margin-top: 14px;
    background-repeat: no-repeat;
    background-size: 95%;
  }

  i.icon-facility {
    background-image: url("/assets/icon-new-facility@2x.png");
  }

  i.icon-info {
    background-image: url("/assets/icon-info@2x.png");
  }
  ion-item {
    font-size: 12px;
    font-family: Avenir;
    padding: 0;
  }

  &.more-info {
    ion-item {
      font-size: 12px;
      font-family: Avenir;
      max-width: 505px;
      &:nth-child(n + 3) {
        margin-left: 20px;
      }
    }
  }

  span {
    font-size: 12px;
    font-family: AvenirBold;

    &.label {
      color: #343638;
      font-size: 12px;
      &.discharge {
        margin-right: 18px;
      }
      &.ama {
        color: red;
        position: absolute;
        top: 0;
        left: -3px;
      }
    }
  }

  &.inline-discharge {
    margin-top: 0;
    margin-bottom: -25px;
    ion-item {
      display: inline-block;
      font-size: 12px;
      font-family: Avenir;
    }
  }

  &.more-info {
    display: block;
    .medical-condition-item {
      text-transform: capitalize;
      &:after {
        content: ", ";
      }
      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }
}
