<ion-list class="inline-discharge" lines="none" inset>
  <i class="icon-facility"></i>
  <ion-item>
    <span class="label">
      Admitted: &nbsp;
    </span>
    {{ patient.patientAdmitDate | date: 'MM/dd/yyyy' }}
  </ion-item>
  <ion-item>
    <span class="label">
      Discharged: &nbsp;
    </span>
    {{ patient.patientDischargeDate | date: 'MM/dd/yyyy' }}
  </ion-item>
  <ion-item>
    <span class="label">
      Length of Stay: &nbsp;
    </span>
    {{ patient.patientTotalDays }} Days
  </ion-item>
</ion-list>
<ion-list class="more-info" inset lines="none">
  <i class="icon-info"></i>
  <ion-item> <span class="label"> Primary Diagnosis: &nbsp; </span> {{ patient.patientPrimaryDiagnosis }} </ion-item>
  <ion-item>
    <span class="label"> Discharged Condition: &nbsp; </span> {{ patient.patientDischargedCondition }}
  </ion-item>
  <ion-item> <span class="label"> Discharged To: &nbsp;</span> {{ patient.patientDischargeLabel }} </ion-item>
  {{ patient.patientIntakeQuestions | json }}
  <ng-container>
    <ion-item *ngFor="let patientIntakeQuestion of patientIntakeQuestions">
      <span class="label">{{ patientIntakeQuestion.patientIntakeQuestion }}:</span>
      <ng-container *ngIf="patientIntakeQuestion.patientIntakeQuestionAnswer; else noAnswer">
        <ng-container *ngIf="patientIntakeQuestion.patientQuestionTypeLabel == 'boolean'; else nonBoolean">
          {{ patientIntakeQuestion.patientIntakeQuestionAnswer === 'true' ? 'Yes' : 'No' }}
        </ng-container>
        <ng-template #nonBoolean>
          {{ patientIntakeQuestion.patientIntakeQuestionAnswer }}
        </ng-template>
      </ng-container>
      <ng-template #noAnswer>
        &nbsp; N/A
      </ng-template>
    </ion-item>
  </ng-container>
</ion-list>
