<ion-list class="inline-discharge" lines="none" inset>
  <i class="icon-facility"></i>
  <ion-item>
    <span class="label">
      Admitted: &nbsp;
    </span>
    {{ patient.patientAdmitDate | date: 'MM/dd/yyyy' }}
  </ion-item>
  <ion-item>
    <span class="label">
      Discharged: &nbsp;
    </span>
    {{ patient.patientDischargeDate | date: 'MM/dd/yyyy' }}
  </ion-item>
  <ion-item>
    <span class="label">
      Total:
    </span>
    {{ patient.patientTotalDays }}
  </ion-item>
  <ion-item>
    <span class="label">AMA: &nbsp;</span>
    <ng-container *ngIf="patient.patientDischargeLabel == 'AMA'; else no">Yes</ng-container>
    <ng-template #no>No</ng-template>
  </ion-item>
</ion-list>
<ion-list class="more-info" inset lines="none">
  <i class="icon-info"></i>
  <ion-item>
    <span class="label"> Primary Diagnosis: {{ patient.patientDiagnosis }} </span>
  </ion-item>
  <ion-item>
    <span class="label"> Discharged Condition: {{ patient.patientDischargedConditions }} </span>
  </ion-item>
  <ion-item>
    <span class="label"> Discharged To: {{ patient.patientDischargeLabel }} </span>
  </ion-item>
</ion-list>
