<h3 class="section-header">
  {{ operation?.operationName }}
</h3>
<ion-item-divider class="divider-line"></ion-item-divider>
<ul class="patient-filters ">
  <li class="ion-float-left discharge-date">
    <a [class.active]="filterBy == 'discharge-date'" (click)="sortPatientsByDischargeDate(selectedSortFlag)">[Date]</a>
    <span class="ascending-descending-control">
      <i class="ascending-descending-control-arrow" (click)="toggleAscDesc()"> </i>
    </span>
  </li>
  <li class="patient-filter">
    <a (click)="sortPatientsByPatient(selectedSortFlag)">[Patient]</a>
  </li>
</ul>

<ul class="patient-patient-list">
  <li *ngFor="let patient of patients$ | async" class="active" [routerLink]="'/patient/edit' + patient.patientId">
    <div class="patient-avatar">
      <img src="/assets/default-avatar@2x.png'" />
    </div>
    <div class="patient-discharge-date">
      {{ patient.patientDischargeDate | date: 'M/d' }}
    </div>

    <div class="patient-listing-avatar">
      <img src="/assets/default-avatar-patient-detail.png" />
      <!-- <app-patient-avatar></app-patient-avatar> -->
    </div>
    <div class="patient-patient-information">
      <span class="patient-patient-name"> {{ patient.patientFirstName }} {{ patient.patientLastName }} </span>
    </div>
  </li>
</ul>

<ng-template #noPatients>
  Sorry! No patients exist for this operation
</ng-template>
