<h1 class="patients-listing-headline">PATIENTS - {{ operation.operationName }}</h1>

<table class="operation-table">
  <thead>
    <tr>
      <th>
        Discharge
      </th>
      <th>
        Patient
      </th>
      <th>
        Sex
      </th>
      <th>
        Patient #
      </th>
      <th>
        Status
      </th>
      <th>
        Completed
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients$ | async" class="active" [class.archived]="!patient.patientActive">
      <td class="listing-body-cell" [routerLink]="'/operation/' + operation.operationId"></td>
      <td class="listing-body-cell"></td>
      <td class="listing-body-cell"></td>
      <td class="listing-body-cell"></td>
      <td class="listing-body-cell"></td>
      <td class="listing-body-cell"></td>
    </tr>
  </tbody>
</table>
<jw-pagination *ngIf="patientsFiltered" [items]="patientsFiltered" (changePage)="onChangePage($event)"> </jw-pagination>

<ng-template #noPatients>
  Sorry! No patients exist for this operation!
</ng-template>
