:host {
  margin-bottom: 0.5rem;
}
.listing-controls {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 1.5rem;
}
table {
  list-style-type: none;
  width: 95%;
  min-width: 850px;
  padding-left: 0;
  margin-bottom: 0.75rem;

  thead {
    th {
      padding-left: 15px;
      font-family: "AvenirBold";
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 0.3px;
      line-height: 12.9px;
    }

    ::after {
      content: "";
      display: block;
      height: 0.25em;
      width: 100%;
      background: white;
    }
  }

  tbody {
    border-top: 1px solid black;

    td {
      padding: 0 15px;
      cursor: pointer;
      width: auto;
      border-left: solid 1px rgb(187, 187, 187);
      border-right: solid 1px rgb(187, 187, 187);
      border-bottom: solid 1px rgb(187, 187, 187);
      background-color: #ffffff;
      display: table-cell;
      font-family: "Avenir";
    }

    tr {
      border-bottom: 1px solid #dfdfdf;
      padding-left: 16px;

      &:hover {
        td {
          background-color: rgba(19, 175, 233, 0.15);
        }
      }

      td {
        display: table-cell;
        vertical-align: middle;

        .patient-name {
          height: 100%;
          width: calc(100% - 95px);
          margin-top: 40px;
          float: left;
          margin-left: 6px;
          margin-left: 16px;
          text-transform: capitalize;
        }
      }

      padding-left: 20px;
    }

    app-patient-avatar {
      float: left;
      display: block;
      margin-right: 15px;
      width: auto;
      margin: 15px 0;
    }
  }
  .patient-status {
    &.archived {
      color: #ef4627;
    }
  }
  td,
  th {
    text-align: left;
  }
}

jw-pagination {
  width: 94%;
  margin-top: 1.25rem;
  display: block;
  text-align: right;
}
