<!-- Filter UI -->
<section class="table-filter">
  <img src="/assets/ui-mockup-patients@2x.png" alt="" />
  <!--   
  <i class="filter-icon"></i>
  <div class="sort-select">
    <span class="selected-option">{{ selectedSortOption }}</span>
  </div>
  <div class="sort-controls">
    <i class="desc-control"></i>
    <i class="asc-control"></i>
  </div> -->
</section>
<table>
  <thead>
    <tr>
      <th>
        Discharge
      </th>
      <th>
        Patient
      </th>
      <th>
        Sex
      </th>
      <th>
        Patient #
      </th>
      <th>
        Status
      </th>
      <th>
        Completed
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients$ | async" class="active" [class.archived]="!patient.patientActive">
      <td class="listing-body-cell">
        {{ patient.patientDischargeDate | date: 'MM/dd/YY' }}
      </td>
      <td class="listing-body-cell">
        <div class="badge-container">
          <ng-container *ngIf="patient.patientNotificationCount > 0">
            <span class="notification-badge"> </span>
          </ng-container>
        </div>
        <app-patient-avatar [patient]="patient"></app-patient-avatar>
        {{ patient.patientFirstName }} {{ patient.patientLastName }}
      </td>
      <td class="listing-body-cell">
        {{ patient.patientGender }}
      </td>
      <td class="listing-body-cell">
        {{ patient.patientMedicalRecordNumber }}
      </td>
      <td class="listing-body-cell">
        {{ patient.patientStatusLabel }}
      </td>
      <td class="listing-body-cell">
        {{ patient.patientGraduated ? 'Yes' : 'No' }}
      </td>
    </tr>
  </tbody>
</table>
<jw-pagination *ngIf="patientsFiltered" [items]="patientsFiltered" (changePage)="onChangePage($event)"> </jw-pagination>

<ng-template #noPatients>
  Sorry! No patients exist for this operation!
</ng-template>
