<div class="patient-manager-sidebar">
  <div class="patient-manager-sidebar-calendar">
    <h4 class="todays-date">TODAY'S DATE</h4>
    <div class="caption">
      {{ todaysDateDay }}
    </div>
  </div>
  <div class="facility-dropdown-container">
    <a class="facility-dropdown-target" (click)="toggleOperationSidebarMenu()">FACILITIES</a>
    <span class="spanish-indicator">SPANISH <i class="patient"></i><i class="indicator"></i></span>

    <ng-template #noOperations>
      You haven't been assigned any operations yet!
    </ng-template>
  </div>
</div>
