ion-button {
  width: 140px;
  height: 30px;
  margin: 0 0px 0 0;
  background-color: #00b8be;
  font-family: AvenirPro;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
}
