ion-button {
  background-image: url("/assets/save-button@2x.png");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 73px;
  height: 30px;
  border: none;
  --border-style: none;
}
