:host {
  display: block;
  margin-top: 0.5rem;
}

.operation-feed {
  width: 100%;
}

table {
  list-style-type: none;
  width: 95%;
  padding-left: 0;
  margin-bottom: 0.75rem;

  thead {
    th {
      padding-left: 15px;
      font-family: "AvenirBold";
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 0.3px;
      line-height: 12.9px;
    }
    ::after {
      content: "";
      display: block;
      height: 0.5em;
      width: 100%;
      background: white;
    }
  }

  tbody {
    border-top: 1px solid black;
  }

  td,
  th {
    text-align: left;
  }

  td {
    height: 50px;
    padding: 0 15px;
    cursor: pointer;
    width: auto;
    border-left: solid 1px rgb(187, 187, 187);
    border-right: solid 1px rgb(187, 187, 187);
    border-bottom: solid 1px rgb(187, 187, 187);
    background-color: #ffffff;
    display: table-cell;
    font-family: "Avenir";

    &:last-child {
      text-align: center;

      img {
        width: 24px;
        height: 24px;
        margin: 0 auto;
      }
    }
  }

  tr {
    padding-left: 16px;

    &:hover {
      td {
        background-color: rgba(19, 175, 233, 0.15);
      }
    }

    &.archived {
      td {
      }
    }

    td {
      display: table-cell;
      vertical-align: middle;
    }

    .operation-name {
      text-transform: capitalize;
    }

    padding-left: 20px;

    .operation-status {
      &.archived {
        color: #ef4627;
      }
    }
  }
}
