:host {
  display: block;
  margin-top: 1.65rem;
}

.operation-feed {
  width: 100%;
}

ion-title {
  font-family: AvenirPro;
  font-size: 45px;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.45px;
  text-align: left;
  color: #3f3638;
  padding-left: 0;
}

table {
  list-style-type: none;
  width: 100%;
  min-width: 850px;
  max-width: 1020px;
  padding-left: 0;
  margin-bottom: 0.75rem;

  thead {
    th {
      padding-left: 15px;
      font-family: "AvenirBold";
      font-size: 15px;
      text-transform: uppercase;
    }
  }
  tbody {
    border-top: 1px solid black;
  }
  td,
  th {
    text-align: left;
  }

  td {
    height: 50px;
    padding: 0 15px;
    border: 1px solid rgba(217, 217, 217, 0.8);
    cursor: pointer;
    width: auto;
    border: solid 1px rgb(187, 187, 187);
    background-color: #ffffff;
    display: table-cell;
    font-family: "Avenir";
    &:last-child {
      text-align: center;
      img {
        width: 24px;
        height: 24px;
        margin: 0 auto;
      }
    }
  }

  tr {
    padding-left: 16px;
    &:hover {
      td {
        background-color: rgba(19, 175, 233, 0.15);
      }
    }

    &.archived {
      td {
        color: #c8c8c8e1;
      }
    }

    td {
      display: table-cell;
      vertical-align: middle;
    }
    .operation-name {
      text-transform: capitalize;
    }

    padding-left: 20px;

    .operation-status {
      &.archived {
        color: #ef4627;
      }
    }
  }
}
