.operation-feed {
  width: 100%;
}

ion-title {
  font-family: AvenirPro;
  font-size: 45px;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.45px;
  text-align: left;
  color: #3f3638;
  padding-left: 0;
}

.operation-sidebar {
  max-width: 172px;
  padding-bottom: 160px;
  margin-left: 26px;
  padding-top: 58px;
}

h1 {
  display: inline-block;
  font-family: AvenirBold;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.65;
  letter-spacing: 1.2px;
  text-align: left;
  color: #9acc38;
  margin-bottom: 0;
}

ul.operation-filters {
  list-style-type: none;
  display: block;
  width: 100%;
  padding-left: 16px;
  margin-top: 0;
  margin-bottom: 0;

  div {
    display: inline-block;
    padding-left: 16px;
    &.name-filter {
      width: 84px;
    }
    &.status-filter {
    }
  }

  li {
    cursor: pointer;
    display: inline-block;
    font-family: AvenirDemi;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.31;
    letter-spacing: 0.13px;
    text-align: left;
    color: #222222;

    a {
      cursor: pointer;
      font-family: AvenirBold;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.31;
      letter-spacing: 0.13px;
      text-align: right;
      color: #222222;
      text-decoration: none;
    }

    &.ascending-descending-control {
      .ascending-descending-control-arrow {
        display: block;
        width: 11px;
        height: 11px;
        background-image: url("/assets/icon-list-sort@2x.png");
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 6px;

        &.asc {
          transform: rotate(180deg);
          margin-top: 3px;
        }
      }
    }
  }
}

.operation-list {
  list-style-type: none;
  width: 100%;
  padding-left: 0;

  ion-item {
    --padding-top: 15px;
    --padding-bottom: 15px;
    cursor: pointer;
    width: 100%;
    border-top: solid 1.5px #bbbbbb;
    border-bottom: solid 1.5px #bbbbbb;
    background-color: #ffffff;
    display: table;

    &:active {
      background-color: #00b4b9;
    }

    ul {
      padding-left: 0;
      list-style-type: none;
    }

    &:nth-child(even) {
      background-color: white;
    }

    &:nth-child(odd) {
      background-color: #c8c8c8;
    }

    &:hover {
      background-color: rgba(19, 175, 233, 0.35);
    }

    .operation-name {
      font-family: AvenirPro;
      font-size: 16px;
      font-weight: 500;
      width: 175px;
      margin-right: 36px;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #222222;
      text-transform: capitalize;

      a {
        color: #343638;
        text-decoration: none;
      }
    }

    .operation-status {
      font-family: AvenirPro;
      display: block;
      width: 21px;
      height: 21px;
      font-size: 16px;
      font-weight: 500;
      margin-right: 36px;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #222222;
    }
  }
}
