<h1 class="section-header">
  OPERATIONS
</h1>

<ul class="operation-filters">
  <div class="date-filter-container">
    <li class="date-filter">
      <a (click)="sortOperationsByOperationName(selectedSortFlag)">Name</a>
    </li>
    <li class="ascending-descending-control">
      <i
        class="ascending-descending-control-arrow"
        [class.asc]="selectedSortFlag == 'asc'"
        [class.desc]="selectedSortFlag == 'desc'"
        (click)="toggleAscDesc()"
      >
      </i>
    </li>
  </div>
  <div class="status-filter-container">
    <li class="status-filter">
      <a (click)="sortOperationsByStatus(selectedSortFlag)">
        Status
      </a>
    </li>
    <li class="ascending-descending-control">
      <i
        class="ascending-descending-control-arrow"
        [class.asc]="selectedSortFlag == 'asc'"
        [class.desc]="selectedSortFlag == 'desc'"
        (click)="toggleAscDesc()"
      >
      </i>
    </li>
  </div>
</ul>

<ion-list class="operation-list" *ngIf="operationGroup.operations$ | async; else noOperations">
  <ion-item
    *ngFor="let operation of operationGroup.operations$ | async"
    class="active"
    [routerLink]="'/operation/' + operation.operationId"
  >
    <div class="operation-information">
      <span class="operation-name">
        {{ operation.operationName }}
      </span>
      <span class="operation-status">
        {{ operation.operationActive == 1 ? 'Active' : 'Inactive' }}
      </span>
    </div>
  </ion-item>
</ion-list>
<ng-template #noOperations>
  Sorry! No operations exist for this operation
</ng-template>
