ion-title {
  font-family: Avenir;
  font-size: 45px;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.45px;
  text-align: left;
  color: #3f3638;
  padding-left: 0;
}

.operation-sidebar {
  max-width: 172px;
  padding-bottom: 160px;
  margin-left: 26px;
  padding-top: 58px;
}

.operation-content-wrapper {
  margin-left: 92px;
  padding-bottom: 160px;
  margin-top: 8rem;
  max-width: 80%;
  min-width: 600px;
}
.operation-patient-list {
  width: 100%;
  height: auto;
  display: block;
}
