ion-title {
  font-family: AvenirPro;
  font-size: 45px;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.45px;
  text-align: left;
  color: #3f3638;
  padding-left: 0;
}

.operation-sidebar {
  max-width: 172px;
  padding-bottom: 160px;
  margin-left: 26px;
}

.operation-content-wrapper {
  margin-left: 104px;
  max-width: 800px;
  padding-bottom: 160px;
  margin-top: 2rem;
}
.operation-patient-list {
  width: 100%;
  height: auto;
  display: block;
}
