:host {
  position: absolute;
  z-index: 4;
  margin-top: 105px;
  margin-left: 25px;
}
button {
  background-repeat: no-repeat;
  background-image: url("/assets/button-start-call@2x.png");
  background-size: 100%;
  &:hover {
  }
  &:focus {
  }
}
