<ion-row>
  <ion-col class="operation-sidebar">
    <app-operation-admin-sidebar></app-operation-admin-sidebar>
  </ion-col>
  <ion-col class="operation-form-content">
    <ion-title *ngIf="!editMode; else editOperation">New Facility</ion-title>
    <ng-template #editOperation>
      <ion-title>
        Edit Facility
      </ion-title>
    </ng-template>
    <form id="operation-form" [formGroup]="operationForm" novalidate>
      <ion-list formGroupName="operation" lines="none" inset>
        <i class="icon-facility"></i>
        <ion-item>
          <ion-label position="stacked">Facility</ion-label>
          <ion-input type="text" formControlName="operationName"></ion-input>
        </ion-item>
        <ion-item class="address">
          <ion-label color="medium" position="stacked">Address</ion-label>
          <ion-input type="text" formControlName="operationAddress"></ion-input>
        </ion-item>
        <ion-item class="city">
          <ion-label color="medium" position="stacked">City</ion-label>
          <ion-input type="text" formControlName="operationCity"></ion-input>
        </ion-item>
        <ion-item class="state">
          <ion-label color="medium" position="stacked">State</ion-label>
          <ion-input type="text" formControlName="operationState"></ion-input>
        </ion-item>
        <ion-item class="zip">
          <ion-label color="medium" position="stacked">Zip</ion-label>
          <ion-input type="text" formControlName="operationZip"></ion-input>
        </ion-item>
        <ng-container class="phone-container">
          <ion-item class="phoneCountryCode">
            <ion-label color="medium" position="stacked">+1</ion-label>
            <ion-input type="text" formControlName="operationCountryCode"></ion-input>
          </ion-item>
          <ion-item class="phoneAreaCode">
            <ion-label color="medium" position="stacked">Area Code</ion-label>
            <ion-input type="text" formControlName="operationAreaCode"></ion-input>
          </ion-item>
          <ion-item class="phoneNumber">
            <ion-label color="medium" position="stacked">Phone #</ion-label>
            <ion-input type="text" formControlName="operationPhoneNumber"></ion-input>
          </ion-item>
        </ng-container>
      </ion-list>

      <fieldset class="operation-contacts">
        <div class="section-header">
          <ng-container *ngIf="editMode; else addFirstOperationContact">
            <ion-item *ngFor="let operationContact of operation.operationContacts$; let idx = index">
              <i class="icon-user"></i>
              <h3>Contact {{ idx }}</h3>
              <app-operation-contact [operationContact]="operationContact"> </app-operation-contact>
            </ion-item>
            <ion-item>
              <h3>Notifications</h3>
              <ion-list class="contact-noficiation-checkbox-list" formGroupName="operationContactNotifications">
                <ion-item *ngFor="let notificationType of notificationTypes; let idx = index">
                  <ion-checkbox> </ion-checkbox>
                  <ion-label>
                    {{ notificationType.notificationTypesLabel }}
                  </ion-label>
                </ion-item>
              </ion-list>
              <span class="ion-float-right" (click)="addAdditionalContact()">[additional contact]</span>
            </ion-item>
          </ng-container>
          <ng-template #addFirstOperationContact>
            <i class="icon-user"></i>
            <h3>Contact 1</h3>
            Add our first operation Contact:
            <!-- This is a formArray that gets populated dynamically, I believe -->
          </ng-template>
        </div>
      </fieldset>
      <fieldset class="operation-team-members">
        <i class="icon-team-members"></i>
        <h3>Team Members</h3>
        <ion-list lines="none" inset>
          <ion-item *ngIf="operation; else addManager">
            <ion-label
              *ngIf="operation.operationAssignedManagerUserId; else addManager"
              position="stacked"
              color="medium"
            >
              Assigned Manager
            </ion-label>
            <ion-select
              class="operation-assigned-manager"
              placeholder="Select User"
              value="operation.operationAssignedManagerUserId"
            >
              <!-- <ion-select-option *ngFor="let user of availableUsers$" [value]="user.userFirstName">
                {{ user.userFirstName }}
              </ion-select-option> -->
            </ion-select>
          </ion-item>

          <ng-template #addManager>
            <ion-item>
              <ion-label position="stacked" color="medium">
                Add Manager
              </ion-label>
              <ion-select placeholder="Select User" class="select-facility">
                <ion-select-option *ngFor="let user of availableUsers$ | async">
                  {{ user.userFirstName }} {{ user.userLastName }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ng-template>
          <ion-item *ngFor="let operationCallRep of operationCallReps$ | async; let i = index">
            <ion-label position="stacked" color="medium">Care Rep {{ index + 1 }} </ion-label>
            <ion-select value="operationCallRep.operationCallRepId">
              {{ operationCallRep.operationCallRepName }}
            </ion-select>
          </ion-item>
        </ion-list>
      </fieldset>
      <ion-button (click)="onFormSubmit()">Save</ion-button>
    </form>
  </ion-col>
  <ion-col class="right-admin-col">
    <app-operation-admin-right-sidebar></app-operation-admin-right-sidebar>
  </ion-col>
</ion-row>
