ion-content {
  padding-bottom: 132px;
}

.operation-sidebar {
  max-width: 172px;
  padding-bottom: 160px;
  margin-left: 26px;
  padding-top: 58px;
}

.operation-form-content-wrapper {
  margin-left: 92px;
  padding-bottom: 160px;
  margin-top: 8rem;
  margin-left: 92px;
  margin-bottom: 9rem;
  height: auto;
  width: 100%;
  max-width: 720px;
}

.right-admin-col {
  margin-left: 73px;
  margin-top: 13rem;
}

.right-admin-sidebar {
  max-width: 200px;
}

ion-title {
  font-family: AvenirPro;
  font-size: 45px;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.45px;
  text-align: left;
  color: #3f3638;
  padding-left: 0;
  text-transform: capitalize;
}

form {
  margin-top: 1.5rem;
  margin-bottom: 5rem;

  .operation-controls {
    padding-top: 2rem;

    span {
      font-size: 14px;
      margin-left: 0.5rem;
    }
  }

  h2.section-header {
    font-family: AvenirPro;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: left;
    color: #00b4b9;
  }

  .icon-edit {
    height: 12px;
    width: 12px;
    display: inline-block;
    background-image: url("/assets/icon-edit@2x.png");
    background-size: cover;
    margin-right: 8px;
    margin-top: 0;
  }

  .operation-information-view {
    max-width: 340px;
    margin-left: 32px;

    ion-item.operation-name-header {
      text-transform: capitalize;
      font-family: AvenirDemi;
      font-size: 15px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #222222;
    }

    ion-item.operation-address,
    ion-item.operation-phone {
      max-width: 250px;
      font-family: AvenirPro;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.87;
      letter-spacing: normal;
      text-align: left;
      color: #444444;
      a {
        color: #444444;
        text-decoration: none;
      }
    }
  }

  .operation-contacts-view {
    max-width: 340px;
    margin-left: 32px;

    ion-item.contact-name,
    ion-item.contact-title {
      font-family: AvenirDemi;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #222222;
      text-transform: capitalize;
      height: 32px;
    }

    ion-item.contact-address,
    ion-item.contact-phone,
    ion-item.contact-email {
      max-width: 250px;
      font-family: AvenirPro;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.87;
      letter-spacing: normal;
      text-align: left;
      color: #444444;
      height: 32px;
    }
  }

  .control {
    font-family: AvenirPro;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
  }
  .operation-active-controls {
    .active-control {
      display: inline-block;
    }

    ion-radio {
      --color-checked: transparent;
      display: inline-block;
      height: 14px !important;
      width: 14px !important;
      margin: 0;
      margin-right: 4px;
      --ripple-color: transparent;
      --background-hover: transparent;
    }
    .radio-button {
      background-size: cover;
      background-image: url("/assets/button-radio@2x.png");
      &:active,
      &.radio-checked {
        background-image: url("/assets/button-radio-checked-green@2x.png");
      }
    }
    .radio-button-notify {
      background-size: cover;
      background-image: url("/assets/button-radio@2x.png");
      &:active,
      &.radio-checked {
        background-image: url("/assets/button-radio-checked-red@2x.png");
      }
    }
  }

  .edit-link {
    font-family: AvenirPro;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.32px;
    text-align: left;
    color: #ef4627;
  }

  ion-label {
    font-family: AvenirPro;
    font-size: 18px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.3px;
    text-align: left;
    color: #222222;
    margin-bottom: 0.5rem;
  }

  ion-item {
    &.operation-group,
    &.operation-name,
    &.address,
    &.city,
    &.state,
    &.zip {
      margin-left: 25px;
    }
  }

  ion-item.operation-group {
    clear: both;
  }

  ion-input {
    font-family: Avenir;
    font-size: 14px;
    margin-right: 10px;
  }

  ion-item.city {
    width: 125px;
    display: inline-block;
  }

  ion-item.state,
  ion-item.zip {
    display: inline-block;
    width: 100px;
  }

  ion-input,
  ion-textarea,
  ion-select {
    padding-left: 15px !important;
    font-size: 14px;
    background: #f5f5f5;
    border: solid 1px rgba(112, 112, 112, 0.15);
    font-family: Avenir;
  }

  .hidden-operation-input {
    display: none;
  }

  .phone-container {
    margin-top: 0;
    display: block;
    clear: both;
    width: 100%;

    ion-item {
      display: inline-block;
      margin-right: 5px;

      &.country-code {
        width: 45px;
        margin-left: 5px;
      }

      &.area-code {
        width: 55px;
      }

      &.phone-number {
        width: 120px;
      }
    }
  }

  .contact-order {
    width: auto;
    display: inline-block;
  }

  fieldset {
    border: none;
  }

  > fieldset {
    padding: 0;
  }

  > ion-list {
    margin-bottom: 0;
    margin-left: 0;
  }

  ion-select,
  ion-select-option,
  ion-datetime {
    background-color: #f5f5f5;
  }

  ion-item {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
  }

  .select-facility {
    min-width: calc(100% - 11px);
    height: 39px;
    margin-left: 11px;
  }

  i {
    float: left;
    clear: left;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 95%;
    margin-right: 6px;
    margin-top: 6px;
    &.icon-contact {
      margin-top: 2px;
    }
  }

  i.icon-info {
    background-image: url("/assets/icon-info@2x.png");
    margin-right: 12px;
  }

  i.icon-team-members {
    background-image: url("/assets/icon-team-members@2x.png");
    margin-right: 8px;
  }

  i.icon-contact {
    margin-right: 12px;
    background-image: url("/assets/icon-contact@2x.png");
  }

  .section-header {
    margin-top: 14px;
    overflow: hidden;
    clear: both;

    span {
      font-family: Avenir;
      font-size: 19px;
      font-weight: normal;
      font-style: normal;
      margin-left: 10px;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 0.42px;
      text-align: left;
      color: var(--ion-color-primary);
    }
  }

  ion-item.operation-active {
    margin-top: 80px;
    display: block;
  }

  .operation-contacts-list {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .operation-contact-item {
    padding-left: 14px;
  }

  .operation-details {
    clear: both;
    margin: 0;
  }

  border: none;

  .contact-label,
  .add-contact-label {
    cursor: pointer;
    font-family: AvenirDemi;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: 0.15px;
    color: #00b4b9;
  }

  .add-contact-label {
    margin-top: 1rem;
  }

  .remove-contact-label {
    cursor: pointer;
    font-family: AvenirDemi;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: 0.15px;
    text-align: right;
    color: #ef4627;
  }

  .operation-contact-entry {
    width: 100%;
    margin-top: 0;

    ion-item {
      float: left;

      &.first-name {
        width: 100%;
      }

      &.last-name {
        width: 100%;
      }

      &.title-position {
        width: 50%;
        margin-right: 10px;
      }

      &.email {
        width: 50%;
      }

      &.country-code {
        margin-left: 0;
        padding-left: 0 !important;
      }

      &.contact-order {
        display: none;
      }
    }
  }

  .section-header {
    span {
      margin-left: 0px;

      &.notification-header {
        margin-top: 30px;
        float: left;
      }

      &.contact-header {
        margin-left: 10px;
      }
    }
  }

  .main-label-box {
    font-family: Avenir;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.42px;
    text-align: left;
    color: #343638;
  }

  ion-list.notification-container {
    width: 100%;
    margin-left: 12px;
    margin-bottom: 1rem;

    h3 {
      display: block;
      width: 100%;
    }

    width: 100%;
    height: auto;
    padding-left: 0;
    margin-left: 0;
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200px;

    ion-item {
      max-height: 37px;
      margin-left: 0;
      margin-right: 35px;
      --ripple-color: transparent;
      --background-hover: transparent;

      ion-checkbox {
        width: 14px;
        height: 14px;
        margin-right: 10px;
        margin-top: 17px;
      }

      ion-label {
        font-family: AvenirPro;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #222222;
      }
    }
  }

  ion-textarea {
    min-height: 176px;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
  }

  ion-select {
    padding-left: 12px;
  }

  ion-button {
    margin-top: 36px;
    margin-bottom: 96px;
    float: right;
    border-radius: 4px;
    background-color: --ion-color-primary;
    --background-hover: #019ca2;
    --border-activated: 1px solid #009999;
    width: 76px;
    height: 28px;
    font-family: AvenirBold;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 28px;
    vertical-align: middle;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }
}

.contact-header-wrapper {
  width: 100%;
  margin-top: 1rem;
  padding: 0 1rem;

  span {
    cursor: pointer;
  }
}

ion-button {
  margin-top: 36px;
  margin-bottom: 96px;
  float: right;
  border-radius: 4px;
  background-color: --ion-color-primary;
  width: 76px;
  height: 28px;
  font-family: AvenirBold;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 28px;
  vertical-align: middle;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  --background: #019ca2;
  --background-hover: #019ca2;
  --border-activated: 1px solid #009999;
}

.section-header {
  margin-top: 14px;
  overflow: hidden;

  &.contacts {
    padding-bottom: 2px;
    margin-left: -13px;
    border-bottom: 1px solid #e0e0e0;
  }

  span {
    font-family: Avenir;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    margin-left: 10px;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.42px;
    text-align: left;
    color: var(--ion-color-primary);

    &.contact-header,
    &.discharge-header {
      float: left;
      margin-top: 10px;
      margin-left: 10px;
    }
  }
}

.is-active {
  display: block;
  height: auto;
  overflow: hidden;
  float: right;
  font-size: 14px;
  font-family: Avenir;

  ion-checkbox,
  ion-label {
    display: inline-block;
    margin-left: 8px;
  }

  ion-label {
    font-size: 11px;
  }
}
