ion-row {
  overflow-y: scroll;
}

ion-content {
  padding-bottom: 132px;
}

.operation-sidebar {
  max-width: 177px;
}

ion-title {
  font-family: AvenirNextLTPro;
  font-size: 38px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.9px;
  text-align: left;
  color: #343638;
  padding-left: 0;
}

.operation-form-content {
  margin-left: 90px;
  max-width: 720px;
}

form {
  ion-label {
    min-width: min-content;
    font-family: Avenir;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.42px;
    text-align: left;
  }

  ion-item {
    &.address,
    &.city,
    &.state,
    &.zip {
      margin-left: 25px;
    }
  }

  ion-input,
  ion-textarea,
  ion-select {
    padding-left: 15px !important;
    font-size: 14px;
    background: #f5f5f5;
    border: solid 1px rgba(112, 112, 112, 0.15);
    font-family: Avenir;
  }

  .phone-container {
    ion-item {
      display: inline-block;
      margin-right: 5px;

      &.country-code {
        width: 45px;
        margin-left: 5px;
      }

      &.area-code {
        width: 110px;
      }
    }
  }

  fieldset {
    border: none;
  }

  > fieldset {
    padding: 0;
    margin-left: -25px;
  }

  > ion-list {
    margin-left: -25px;
  }

  ion-select,
  ion-select-option,
  ion-datetime {
    background-color: #f5f5f5;
  }

  ion-item {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
  }

  .select-facility {
    min-width: calc(100% - 11px);
    height: 39px;
    margin-left: 11px;
  }

  i {
    float: left;
    clear: left;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 95%;
    margin-right: 6px;
  }

  i.icon-info {
    background-image: url("/assets/icon-info@2x.png");
    margin-top: 16px;
  }

  i.icon-team-members {
    background-image: url("/assets/icon-team-members@2x.png");
  }

  i.icon-user {
    margin-top: 16px;
    background-image: url("/assets/icon-user@2x.png");
  }

  .section-header {
    margin-top: 14px;
    overflow: hidden;

    span {
      font-family: Avenir;
      font-size: 19px;
      font-weight: normal;
      font-style: normal;
      margin-left: 10px;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 0.42px;
      text-align: left;
      color: var(--ion-color-primary);
    }
  }

  fieldset.operation-contacts,
  fieldset.operation-team-members {
    border: none;

    .operation-contact-entry {
      width: 100%;
      margin-top: 0;

      &.first-name {
        width: 160px;
        margin-left: 10px;
        margin-right: 10px;
      }

      &.middle-name {
        width: 140px;
        margin-right: 10px;
      }

      &.last-name {
        width: 160px;
      }
    }

    .section-header {
      span {
        margin-left: 0px;

        &.contact-header {
          margin-left: 10px;
        }
      }
    }

    .main-label-box {
      font-family: Avenir;
      font-size: 21px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 0.42px;
      text-align: left;
      color: #343638;
    }

    .notification-container {
      width: 100%;
      margin-top: 10px;

      h3 {
        display: block;
        width: 100%;
      }

      ion-list {
        width: 100%;
        height: auto;
      }

      ion-label {
        font-family: Avenir;
        font-size: 14px;
        margin-left: 15px;
        margin-bottom: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.42px;
        text-align: left;
      }
    }

    .contact-notification-checkbox-list {
      padding-left: 0;

      ion-label {
        font-family: Avenir;
        font-size: 12px;
        margin-left: 15px;
        margin-bottom: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.42px;
        text-align: left;
      }

      ion-item {
        max-height: 37px;
        margin-left: 0;
      }
    }

    ion-textarea {
      min-height: 176px;
      -moz-user-select: text;
      -webkit-user-select: text;
      -ms-user-select: text;
    }
    ion-select {
      padding-left: 12px;
    }
    ion-button {
      margin-top: 36px;
      margin-bottom: 96px;
      float: right;
      border-radius: 4px;
      background-color: --ion-color-primary;
      width: 76px;
      height: 28px;
      font-family: AvenirBold;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 28px;
      vertical-align: middle;
      letter-spacing: 0.3px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
    }
  }

  .contact-header-wrapper {
    width: 100%;
  }
  .assigned-manager-list,
  .assigned-callrep-list {
    margin-left: 25px;
  }
  .add-call-rep,
  .add-additional-contact {
    clear: right;
    cursor: pointer;
    font-family: Avenir;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    margin-top: 15px;
    margin-left: 10px;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.42px;
    text-align: left;
    color: var(--ion-color-primary);
  }

  ion-button {
    margin-top: 36px;
    margin-bottom: 96px;
    float: right;
    border-radius: 4px;
    background-color: --ion-color-primary;
    width: 76px;
    height: 28px;
    font-family: AvenirBold;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 28px;
    vertical-align: middle;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }
}

.section-header {
  margin-top: 14px;
  overflow: hidden;

  &.contacts {
    padding-bottom: 2px;
    margin-left: -13px;
    border-bottom: 1px solid #e0e0e0;
  }

  span {
    font-family: Avenir;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    margin-left: 10px;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.42px;
    text-align: left;
    color: var(--ion-color-primary);

    &.contact-header,
    &.discharge-header {
      float: left;
      margin-top: 10px;
      margin-left: 10px;
    }
  }
}
.is-active {
  display: block;
  height: auto;
  overflow: hidden;
  float: right;
  font-size: 14px;
  font-family: Avenir;

  ion-checkbox,
  ion-label {
    display: inline-block;
    margin-left: 8px;
  }

  ion-label {
    font-size: 11px;
  }
}
