ion-content {
  padding-bottom: 132px;
}

ion-title {
  font-family: AvenirPro;
  font-size: 45px;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.45px;
  text-align: left;
  color: #3f3638;
  padding-left: 0;
}
ion-input {
  font-family: Avenir;
  color: black;
  line-height: 2;
  padding: 10.5px 439px 8.5px 10px;
  border: solid 1px rgba(112, 112, 112, 0.15);
  background-color: #f5f5f5;
  height: 34px;
}

.user-profile-sidebar {
  max-width: 172px;
  padding-bottom: 160px;
  margin-left: 26px;
  padding-top: 58px;
}

.user-profile-content {
  max-width: 565px;
  width: 565px;
  margin-top: 8rem;
  margin-left: 100px;
  padding-bottom: 160px;

  form {
    margin-top: 32px;
  }
}

.avatar-col {
  margin-top: 72px;
  max-width: 220px;
  width: 262px;
  margin-left: 81.4px;

  .hidden-input {
    display: none;
  }

  ion-button {
    clear: both;
    margin-left: 35px;
  }
}

ion-item {
  padding-bottom: 2px;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
}

form {
  ion-label {
    font-family: AvenirPro;
    font-size: 18px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.87;
    letter-spacing: 0.3px;
    text-align: left;
    color: #222222;
  }
  i {
    float: left;
    clear: left;
    width: 20px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 95%;
    margin-right: 14px;
  }

  .form-subheadline {
    font-family: AvenirPro;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 0;
    color: #00b4b9;
  }

  i.icon-contact {
    background-image: url("/assets/icon-contact@2x.png");
  }

  i.icon-birthday {
    background-image: url("/assets/icon-birthday@2x.png");
  }

  i.icon-lock {
    background-image: url("/assets/icon-lock@2x.png");
  }

  i.icon-question {
    margin-right: 10px;
    background-image: url("/assets/icon-question-mark@2x.png");
  }

  ion-list {
    margin-bottom: 0;
    margin-left: 36px;
  }

  ion-item {
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    --padding-start: 0;
    --padding-end: 0;

    &.first-name,
    &.middle-name,
    &.last-name {
      display: block;
    }

    &.first-name {
      width: calc(100% - 20px);
    }

    &.last-name {
      width: calc(100% - 20px);
    }

    &.user-phone-container {
      width: calc(100% - 20px);
    }

    &.user-phone-country-code {
      margin-left: 0;
      float: left;
      width: 0px;
    }

    &.user-phone-area-code {
      float: left;
      width: 0px;
      margin-left: 36px;
    }

    &.user-phone-number {
      float: left;
      width: 170px;
    }

    &.user-dob {
      width: 154.6px;
      float: left;
    }

    &.user-dessert {
      clear: both;
      width: 100%;
      float: left;
    }

    &.user-spanish-speaking {
      width: 100%;
      float: left;

      ion-item {
        float: left;
        margin-right: 9px;
      }
      ion-radio {
        display: inline-block;
        --color: transparent;
        --color-checked: transparent;
      }
      .radio-button-yes,
      .radio-button-no {
        border: 0;
        width: 34px;
        height: 32px;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .radio-button-yes {
        background-image: url("/assets/button-yes@2x.png");
        &:active,
        &.item-radio-checked {
          background-image: url("/assets/button-yes-select@2x.png");
        }
      }
      .radio-button-no {
        background-image: url("/assets/button-no@2x.png");
        &:active,
        &.item-radio-checked {
          background-image: url("/assets/button-no-select@2x.png");
        }
      }
    }
  }

  ion-input {
    font-family: Avenir;
    width: 100%;
    margin-top: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.28px;
    text-align: left;
  }

  ion-datetime {
    font-family: Avenir;
    font-size: 14px;
    margin-top: 15px;
    height: 34px;
    --padding-start: 12px;
  }

  ion-input,
  ion-textarea,
  ion-datetime {
    --padding-start: 15px;
    border: solid 1px rgba(112, 112, 112, 0.15);
    background-color: #f5f5f5;
    --placeholder-color: #a6a6a7;
  }

  ion-textarea {
    margin-top: 1rem;

    :root {
      min-height: 100% !important;
    }
  }

  ion-list.checkbox-list-container {
    ion-item {
      margin-left: 0;
    }
  }

  ion-list.checkboxes {
    margin-left: 0;
    margin-top: 6px;
    padding-left: 0;

    ion-item {
      margin-left: 0;
      max-height: 36px;
    }

    ion-checkbox {
      --border-color: #8e8e8e;
      width: 14px;
      height: 14px;
      margin-right: 8px;
      border-radius: 3px;
      background-color: #ffffff;
    }

    ion-label {
      font-family: Avenir;
      font-size: 15px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.87;
      letter-spacing: 0.3px;
      text-align: left;
      color: #222222;
    }
  }

  i.icon-info {
    background-image: url("/assets/icon-info@2x.png");
    margin-right: 10px;
  }

  ion-textarea {
    min-height: 176px;
  }

  ion-button {
    margin-top: 36px;
    margin-bottom: 96px;
    float: right;
    border-radius: 4px;
    background-color: --ion-color-primary;
    width: 76px;
    height: 28px;
    font-family: AvenirBold;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 28px;
    vertical-align: middle;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }
}
