<ion-row>
  <ion-col class="user-profile-sidebar">
    <!-- <app-admin-sidebar> 

      </app-admin-sidebar> -->
  </ion-col>
  <ion-col class="call-queue-content">
    <ion-title>User Profile</ion-title>
    <form id="user-profile-form" (ngSubmit)="updateUserProfile()" [formGroup]="userProfileForm" novalidate>
      <ion-list no-lines>
        <ion-item>
          <ion-label color="medium" position="floating">First Name</ion-label>
          <ion-input type="text" class="first-name" formControlName="userFirstName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="medium" position="floating">Middle Name</ion-label>
          <ion-input type="text" class="middle-name" formControlName="userMiddleName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="medium" position="floating">Last Name</ion-label>
          <ion-input type="text" class="last-name" formControlName="userLastName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="medium" position="floating">Email</ion-label>
          <ion-input type="email" formControlName="userEmail"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="medium" position="floating">Phone #</ion-label>
          <ion-input type="text" formControlName="userPhone"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list>
        <i class="icon-lock"></i>
        <ion-item>
          <ion-label color="medium" position="floating">Password</ion-label>
          <ion-input type="password" formControlName="userPassword"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="medium" position="floating">Confirm Password</ion-label>
          <ion-input type="password" formControlName="userConfirmPassword"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list>
        <i class="icon-birthday"></i>
        <ion-item>
          <ion-label color="medium" position="floating">Birthday</ion-label>
          <ion-input type="date" formControlName="userDob"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="medium" position="floating">Favorite Dessert</ion-label>
          <ion-input type="text" formControlName="userFavoriteDessert"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list>
        <i class="icon-question"></i>
        <ion-item>
          <ion-label color="medium" position="floating">
            Do any of the following apply to you?
          </ion-label>
          <ion-list> </ion-list>
        </ion-item>
      </ion-list>
      <i class="icon-info"></i>
      <ion-label color="medium" position="floating">Anything else you want to share with the team?</ion-label>
      <ion-textarea formControlName="userAdditionalInfo"></ion-textarea>
    </form>
  </ion-col>
  <ion-col class="avatar-col">
    <!-- <app-user-avatar></app-user-avatar> -->
  </ion-col>
</ion-row>
