<ng-container *ngIf="patientCalls">
  <ion-list inset lines="none">
    <ion-item *ngFor="let patientCall of patientCalls; let i = index">
      <div class="call-headline-container {{ i == 0 ? 'active' : '' }} ">
        <i class="icon-phone-icon"></i>
        <span class="call-number-headline"> Call {{ patientCall.patientCallCount }} </span>
      </div>
      <div class="call-question-container">
        {{ patientCall | json }}
        <ion-list *ngFor="let patientCallQuestion of patientCall.patientCallQuestions$ | async" lines="none" inset>
          <ion-item>
            <span class="call-question-question" [class.is-highlighted]="patientCallQuestion.isHighlighted">
              {{ patientCallQuestion.patientCallQuestion }}:
            </span>
            <span class="call-question-answer">{{ patientCallQuestion.patientCallQuestionAnswer$ | async }} </span>
          </ion-item>
        </ion-list>
      </div>
      <div class="custom-call-question-container"></div>
      <hr class="call-history-divider" />
    </ion-item>
  </ion-list>
</ng-container>
