<ng-container *ngIf="patientCalls">
  <ion-list class="patient-call-history-list" inset lines="none">
    <div class="patient-call" *ngFor="let patientCall of patientCalls; let i = index">
      <!-- <div class="not-started-overlay" [class.active]="patientCall.patientCallCount ==  i+1
      && patientCall.patientCallStatusLabel != 'Started'"></div> -->

      <div class="call-headline-container {{ i == 0 ? 'active' : '' }} ">
        <i class="icon-phone-icon"></i>
        <span class="call-number-headline"> Call {{ patientCall.patientCallCount }} </span>
      </div>

      <div class="call-question-container">
        <div *ngFor="let patientCallQuestion of patientCallQuestions" lines="none" inset>
          <ion-item class="ion-float-left">
            <span class="call-question-label" [class.is-highlighted]="patientCallQuestion.isHighlighted">
              {{ patientCallQuestion.patientCallQuestion }}:
            </span>
            <span
              *ngFor="let patientCallQuestionAnswer of patientCallQuestion.patientCallQuestionAnswer$ | async"
              class="call-question-answer-label"
            >
              {{ patientCallQuestionAnswer.patientCallQuestionAnswer }}</span
            >
          </ion-item>
        </div>
        <!-- <div class="custom-call-question-container"></div> -->
      </div>

      <div class="patient-call-notes">
        <span class="call-question-label" [class.is-highlighted]="patientCallQuestion.isHighlighted">
          Call Notes:
        </span>
        {{ patientCall.patientCallNotes }}
      </div>
    </div>
  </ion-list>
</ng-container>
