<ng-container>
  <ion-list lines="none" inset>
    <ion-item *ngFor="let patientCall of patientCalls$ | async; let i = index">
      <div class="call-headline-container {{ i == 0 ? 'active' : '' }} ">
        <i class="phone-icon"></i>
        <span class="call-number-headline">Call {{ patientCall.number }}</span>
      </div>
      <div class="call-question-container">
        <ion-list>
          <ion-item *ngFor="let question of patientQuestions"></ion-item>
        </ion-list>
      </div>
      <div class="custom-call-question-container"></div>
    </ion-item>
  </ion-list>
</ng-container>
