<div class="login-background"></div>
<ion-content no-bounce>
  <div class="login-container">
    <form id="login-form" (ngSubmit)="signIn()" [formGroup]="loginForm" novalidate>
      <div class="toolbar-logo"></div>
      <ion-list lines="none" inset>
        <ion-item class="username">
          <ion-input
            type="text"
            class="username"
            formControlName="username"
            autocomplete="username"
            placeholder="Username"
          ></ion-input>
        </ion-item>
        <ion-item class="password">
          <ion-input
            class="password"
            placeholder="Password"
            (keydown.enter)="signIn()"
            type="password"
            formControlName="password"
            autocomplete="current-password"
          ></ion-input>
        </ion-item>
        <ion-item class="login-button">
          <button type="submit" (submit)="signIn()">Login</button>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>
