ion-content {
  --background: transparent;
  height: 100vh;
}

ion-list {
  background: transparent;
  margin: 0;
}

ion-item {
  background: transparent;
  --highlight-color-focused: none;
  --highlight-background: none;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --background: transparent;

  &.password {
    width: 190px;
    display: inline-block;
  }

  &.login-button {
    background: transparent;
    display: inline-block;
  }
}

.login-header,
.login-background {
  background-color: #ffcc00;
}

.login-background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/assets/background@2x.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: bottom left;
}

#login-form {
  display: block;
  width: 331px;
  height: auto;
  margin: 0 auto;
  margin-left: 196px;
  margin-top: 30vh;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 37px;

  .toolbar-logo {
    display: block;
    height: 44px;
    width: 183px;
    margin: 0px 20px;
    background-image: url("/assets/logo-white@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  ion-input {
    --padding-start: 8px;
    font-family: Avenir;
    font-size: 14px;
    height: 34px;

    &.username {
      width: 305px;
    }

    &.password {
      width: 190px;
    }

    input.native-input {
      --inner-padding-end: 0px !important;
    }

    border: solid 0.9px rgba(112, 112, 112, 0.34);
    background-image: linear-gradient(190deg, #fafbfb 14%, #e6e7e8 75%);
  }

  .login-controls-container {
    width: 100%;
    text-align: center;
  }
}

ion-item {
  &.login-button {
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
    --padding-start: 0;
    width: auto;
    height: 42px;
  }
}

button {
  text-align: center;
  float: right;
  height: 34px;
  line-height: 39px;
  outline: none;
  margin-top: 7px;
}

.login-container {
  background: none;
}
