:host {
  height: auto;
  width: 100%;
  display: block;
  text-align: center;
}
.corkBoardObject {
  &::before {
    background-image: url("/assets/pin-blue@2x.png");
    background-size: 75%;
    position: absolute;
    content: "";
    height: 37px;
    background-repeat: no-repeat;
    width: 27px;
    display: block;
    margin-left: 45%;
    margin-top: -1rem;
  }
}
.corkboard-object-image {
  display: block;
  height: 250px;
  max-width: 80%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
