:host {
  height: auto;
  width: 100%;
  display: block;
  text-align: center;
}
.corkBoardObject {
  &::before {
    background-image: url("/assets/pin-blue@2x.png");
    background-size: 75%;
    position: absolute;
    content: "";
    height: 37px;
    background-repeat: no-repeat;
    width: 27px;
    display: block;
    margin-left: 45%;
    margin-top: -1rem;
  }
}
.corkboard-object-frame {
  margin-left: 32px;
  margin-top: 20px;
  width: 190px;
  height: 230px;
  background-image: url("/assets/photo-frame-cork-board@2x.png");
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.corkboard-object-image {
  display: block;
  margin-top: 10px;
  height: 210px;
  width: 170px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 10px;
}
