<div class="call-queue-sidebar" *ngIf="todaysDateDay">
  <div class="call-queue-sidebar-calendar">
    <h4 class="todays-date">TODAY'S DATE</h4>
    <div class="caption">
      {{ todaysDateDay }}
    </div>
  </div>
  <div class="facility-dropdown-container">
    <a class="facility-dropdown-target" (click)="toggleOperationSidebarMenu()">FACILITIES</a>
    <span class="spanish-indicator">SPANISH <i class="patient"></i><i class="indicator"></i></span>
    <ng-container *ngIf="operationGroups">
      <div *ngFor="let operationGroup of operationGroups; let i = index">
        <span class="operation-group"
          >{{ operationGroup.operationGroupName }}
          <i
            class="expand-facilities-trigger"
            (click)="toggleOperationSidebarMenu()"
            [@turnArrow]="isOpen ? 'open' : 'closed'"
            class="expand-facilities-trigger active"
          >
          </i>
          <ul *ngIf="operationGroup.operations$ | async">
            <li *ngFor="let operation of operationGroup.operations">
              <a
                [routerLink]="'/call-queue/operations/' + operation.operationId"
                (click)="setActiveOperation(operation)"
                [class.active]="activeOperationId == operation.operationId"
              >
                {{ operation.operationName }}
              </a>
            </li>
          </ul>
        </span>
      </div>
    </ng-container>

    <!-- <ul
      class="facility-dropdown-list"
      [@expandSidebar]="isOpen ? 'open' : 'closed'"
      class="facility-dropdown-list active"
    >
      <li *ngFor="let operation of operations; let i = index">
        <a
          [routerLink]="'/call-queue/operations/' + operation.operationId"
          (click)="setActiveOperation(operation)"
          [class.active]="activeOperationId == operation.operationId"
        >
          {{ operation.operationName }}
        </a>
      </li>
    </ul> -->
    <ng-template #noOperations>
      You haven't been assigned any operations yet!
    </ng-template>
  </div>
</div>
