.call-queue-sidebar {
  max-width: 175px;

  .call-queue-sidebar-calendar {
    h4 {
      width: 86%;
      height: 12px;
      font-family: AvenirBold;
      font-size: 15px;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.86;
      letter-spacing: 1.2px;
      text-align: right;
      color: var(--ion-color-primary);
    }

    .caption {
      font-family: Avenir;
      font-size: 89px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: -5px;
      text-align: center;
    }
  }

  .facility-dropdown-target {
    width: 138px;
    height: 28.7px;
    font-family: AvenirBold;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.05;
    letter-spacing: 2.25px;
    text-align: right;
    color: var(--ion-color-primary);
    display: inline-block;
  }

  i {
    margin-left: 12px;
    display: inline-block;
    width: 10px;
    height: 10px;
  }

  .facility-dropdown-list {
    margin-top: 0;
    display: none;
    list-style-type: none;
    padding-left: 0;
    text-align: right;

    &.active {
      display: block;
    }

    li {
      vertical-align: top;
      display: inline-block;
      width: calc(100% - 17px);
      a {
        display: inline-block;
        line-height: 100%;
        vertical-align: middle;
        cursor: pointer;
        font-family: AvenirBold;
        font-size: 11.8px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.53px;
        text-align: right;
        color: #8e8e93;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          text-decoration: underline;
        }
        &.active {
          font-family: AvenirBold;
          color: #343638;
        }
      }
      i {
        color: white;
        margin-left: 8px;
        width: 17px;
        height: 17px;
        display: inline-block;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;

        &.icon-new-discharges {
          background-image: url("/assets/icon-new-discharges.png");
        }
      }
      span.icon-discharge-counter {
        margin-left: -12px;
        margin-top: -4px;
        color: white;
        position: absolute;
        font-weight: bold;
        font-size: 12px;
        line-height: 2.17;
      }
    }
  }
}

.divider-line {
  width: 100%;
  min-height: 1px;
  height: 1px;
  display: block;
  border-top: solid 3.9px var(--ion-color-primary);
  border-bottom: none;
}

.facility-dropdown-target {
  cursor: pointer;
}

.expand-facilities-trigger {
  cursor: pointer;
  background-image: url("assets/icon-arrow-open@2x.png");
  width: 100%;
  margin-left: 22px;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
}
