.call-queue-sidebar {
  height: 100%;
  width: 100%;

  .call-queue-sidebar-calendar {
    h4.todays-date {
      text-align: right;
      font-family: AvenirBold;
      font-size: 20px;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.65;
      letter-spacing: 0.08px;
      color: #ef4627;
      margin-bottom: 0;
    }

    .caption {
      font-family: AvenirDemi;
      font-size: 120px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: -4.8px;
      text-align: center;
      color: #222222;
      margin-top: -10px;
    }
  }

  .spanish-indicator,
  .operation-group {
    cursor: pointer;
    display: block;
    font-family: AvenirBold;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.81;
    letter-spacing: 0.32px;
    text-align: right;
    text-transform: uppercase;

    i {
      display: inline-block;
      width: 15px;
      height: 11px;

      &.patient {
        width: 16px;
        height: 16px;
        vertical-align: bottom;
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url("/assets/icon-patient@2x.png");
      }

      &.indicator {
        width: 10px;
        height: 10px;
        margin-right: -20px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url("/assets/icon-new-discharge@2x.png");
      }
    }
    a {
      color: black;
      text-decoration: none;
    }
  }
  .spanish-indicator {
    margin-top: 22px;
    height: 19px;
  }

  .facility-dropdown-target {
    display: block;
    font-family: AvenirBold;
    margin: 0 0 15px 19px;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 1.2px;
    text-align: right;
    color: #00b4b9;
  }

  i {
    margin-left: 6px;
    display: inline-block;
    width: 10px;
    height: 10px;
  }
}

.facility-dropdown-target {
  cursor: pointer;
}

.expand-facilities-trigger {
  cursor: pointer;
  background-image: url("/assets/icon-arrow-down@2x.png");
  width: 100%;
  margin-left: 22px;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
}

.operation-group-container {
  margin-bottom: 22px;
}
.group-operations {
  display: none;
  transition: 0.25s all;
  padding-right: 4px;
  &.show {
    display: block;
  }
  list-style-type: none;
  padding-left: 0;

  li {
    text-align: right;
    font-family: AvenirDemi;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: 0.14px;
    color: #343638;
    a.operation-link {
      margin-right: 17px;
      text-align: right;
      text-decoration: none;
      text-transform: capitalize;
      color: #343638;
      &.active {
        font-family: "AvenirBold";
        color: #000;
      }
    }
    span.current-patients {
      display: inline-block;
      min-width: 8px;
    }
  }
}
