<div class="call-queue-sidebar">
  <div class="call-queue-sidebar-calendar">
    <h4>TODAY'S DATE</h4>
    <div class="caption">
      {{ todaysDateDay }}
    </div>
  </div>

  <a class="facility-dropdown-target" (click)="toggleOperationSidebarMenu()">MY FACILITIES</a>
  <i
    class="expand-facilities-trigger"
    (click)="toggleOperationSidebarMenu()"
    [@turnArrow]="isOpen ? 'open' : 'closed'"
    class="expand-facilities-trigger active"
  ></i>
  <ul
    class="facility-dropdown-list"
    [@expandSidebar]="isOpen ? 'open' : 'closed'"
    class="facility-dropdown-list active"
  >
    <li *ngFor="let operation of operations$ | async; let i = index">
      <a href="#" class="active" (click)="switchCallQueueOperationView(operationId)">
        {{ operation.operationName }}
        <span class="icon-discharge-counter"> [{{ operation.currentDischargeCount }}] </span>
      </a>
    </li>
  </ul>
</div>
