<ng-container class-="patient-summary-widget">
  <ion-row>
    <ion-col>
      <div class="avatar-container">
        <app-patient-avatar [patient]="patient"></app-patient-avatar>
      </div>
    </ion-col>
    <ion-col class="middle-summary-container">
      <div class="patient-info">
        <div class="patient-meta-info">
          <span class="patient-operation-name">
            {{ patient.patientOperationName }}
          </span>
          <span class="patient-medical-record-number"> #{{ patient.patientMedicalRecordNumber }} </span>
        </div>
        <div class="patient-name">
          <h2>
            {{ patient.patientFirstName }}
            {{ patient.patientLastName }}
          </h2>
        </div>
        <div class="patient-age">Age: {{ patient.patientAge }}</div>
        <div class="patient-contact-container">
          <ul class="patient-contact-list">
            <li *ngIf="patient.primaryContactPhoneNumber">
              <span class="patient-contact-number">
                {{ patient.primaryContactPhoneNumber }}
              </span>
              <span class="patient-contact-number-type">
                <ng-container *ngIf="patient.primaryContactPhoneTypeId == 1; else contactType">
                  <i class="icon-hippa"></i> Home
                </ng-container>
                <ng-template #contactType>
                  Other
                </ng-template>
              </span>
              <br />
              <a class="alternate-numbers" (click)="toggleAlternateNumbers()">[Alt Numbers]</a>
              <ng-container *ngIf="expandAlternateNumbers">
                <ion-list lines="none" inset class="alternate-numbers-list">
                  <div *ngFor="let patientContact of patientContacts">
                    <ion-item class="alternate-number">
                      {{ patientContact.patientContactFirstName }} {{ patientContact.patientContactLastName }}:
                      {{ patientContact.patientContactCountryCode }}-{{ patientContact.patientContactAreaCode }}-
                      {{ patientContact.patientContactPhoneNumber }} |
                      {{ patientContact.patientContactRelationship }}
                    </ion-item>
                  </div>
                </ion-list>
              </ng-container>
            </li>
          </ul>
        </div>
      </div>
      <a class="edit-patient-jump" [routerLink]="'/patient/edit/' + patient.patientId">
        [edit]
      </a>
    </ion-col>
    <ion-col class="right-col-controls">
      <app-patient-call-history-controls [patientCalls]="patient.patientCalls"> </app-patient-call-history-controls>
      <app-followup-complete-button class="ion-float-right" *ngIf="patient" [patient]="patient">
      </app-followup-complete-button>
    </ion-col>
  </ion-row>
</ng-container>
