.avatar-container {
  width: 259px;
  height: 297px;
}

.patient-operation-name {
  font-family: Avenir;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 0.36px;
  text-align: left;
}

.patient-name {
  margin-top: 18px;
  font-family: Avenir;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.8px;
  text-align: left;
  height: auto;
}

.patient-age,
.patient-medical-record-number {
  font-family: Avenir;
  font-size: 12px;
}
.patient-contact-container {
  height: 85px;
}
.patient-contact-list {
  list-style-type: none;
  padding-left: 0;

  font-family: AvenirNextLTPro;
  font-size: 14px;
  .patient-contact-number {
    font-family: AvenirNextLTPro;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.95;
    letter-spacing: 0.42px;
    text-align: left;
  }

  .patient-contact-phone-number-type {
    font-family: AvenirNextLTPro;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    padding-left: 2.85px;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: -0.28px;
    text-align: left;
    color: #8e8e93;
  }
}
.alternate-numbers-list {
  margin: 0;
  margin-left: -14px;
  ion-item {
    height: 36px;
    vertical-align: middle;
    margin: 0;
    margin-left: -14px;
    font-family: Avenir;
    font-size: 12px;
  }
}

.edit-patient-jump {
  display: block;
  cursor: pointer;
  font-family: AvenirNextLTPro;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.99;
  letter-spacing: 0.59px;
  text-align: left;
}

.patient-medical-record-number {
  float: right;
  font-family: Avenir;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 0.36px;
}
.patient-name {
  h2 {
    font-size: 40px;
    clear: both;
  }
}
i.icon-hipaa {
  width: 16px;
  height: 16px;
  background-image: url("/assets/icon-hipaa@2x.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.right-col-controls {
  max-width: 50px;
  float: right;
  app-patient-call-history-controls {
    width: 40px;
    float: right;
    display: block;
    min-height: 200px;
  }
}
