:host {
  .patient-summary {
    min-height: 275px;
  }
}
.avatar-container {
  width: 259px;
  height: 220px;
  padding: 0 10%;
  cursor: pointer;
}
app-patient-avatar {
  margin-bottom: 0.5rem;
}

.patient-operation-name {
  font-family: Avenir;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 0.36px;
  text-align: left;
}

.patient-name {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: Avenir;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.8px;
  text-align: left;
  height: auto;
}

.patient-age,
.patient-medical-record-number {
  font-family: Avenir;
  font-size: 12px;
}
.patient-age {
  font-size: 14px;
  margin: 0 0px 1.75rem 3px;
}
.patient-contact-container {
  height: auto;
  width: calc(100% + 105px);
}
.patient-contact-list {
  margin: 0.75rem 0;
  list-style-type: none;
  padding-left: 0;

  font-family: AvenirNextLTPro;
  font-size: 16px;
  .patient-contact-name {
    display: block;
    width: 100%;
    font-weight: 900;
  }
  .patient-contact-number {
    font-family: AvenirNextLTPro;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.95;
    letter-spacing: 0.42px;
    text-align: left;
  }

  .patient-contact-phone-number-type {
    font-family: AvenirNextLTPro;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    padding-left: 2.85px;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: -0.28px;
    text-align: left;
    color: #8e8e93;
  }
}
.alternate-numbers {
  display: block;
  cursor: pointer;
}
.alternate-numbers-list {
  margin: 19px auto 0;
  padding: 0;
  ion-item {
    width: calc(100% + 55px);
    max-height: 30px;
    vertical-align: top;
    margin: 0;
    margin-left: -14px;
    span {
      font-family: Avenir;
      line-height: 100%;
      vertical-align: middle;
      margin-top: -12px;
      font-size: 15px;
    }
  }
}

.patient-medical-record-number {
  float: right;
  font-family: Avenir;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 0.36px;
}
.patient-name {
  h2 {
    font-size: 40px;
    clear: both;
    margin-bottom: 0;
  }
}
i.icon-hipaa {
  display: inline-block;
  margin-left: 5px;
  margin-top: -3px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-image: url("/assets/icon-hipaa@2x.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
a.edit-patient {
  font-size: 14px;
  text-align: center;
  width: 100%;
  display: block;
  font-family: Avenir;
  text-decoration: none;
  color: #13afe9;
}
.right-col-controls {
  max-width: 50px;
  float: right;
  app-patient-call-history-controls {
    width: 40px;
    float: right;
    display: block;
    min-height: 200px;
  }
}
