<ng-container class-="patient-summary-widget">
  <ion-row>
    <ion-col>
      <div class="avatar-container">
        <img *ngIf="patient.avatar; else defaultAvatar" src="{{ patient.avatar }}" />
        <ng-template #defaultAvatar>
          <img src="/assets/default-avatar-patient-detail.png" />
        </ng-template>
      </div>
    </ion-col>
    <ion-col>
      <div class="patient-info">
        <div class="patient-meta-info">
          <span class="patient-operation-name">
            Operation Name
          </span>
          <span class="patient-medical-record-number">
            {{ patient.medicalRecordNumber }}
          </span>
        </div>
        <div class="patient-name">
          <h2>
            {{ patient.patientFirstName }}
            {{ patient.patientLastName }}
          </h2>
        </div>
        <div class="patient-age">Age: {{ currentYear - (patient.patientDob | slice: 0:4) }}</div>
        <div class="patient-contact-container">
          <ul class="patient-contact-list">
            <li>
              <span class="patient-contact-number">000-000-0000</span>
              <span class="patient-contact-number-type"><i></i> Home</span>
              <span class="patient-alternate-numbers">[Alt Numbers]</span>
            </li>
          </ul>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ng-container>
