<div class="sidebar">
  <div class="sidebar-calendar">
    <h4>TODAY'S DATE</h4>
    <div class="caption">
      {{ todaysDateDay }}
    </div>
  </div>

  <a class="facility-dropdown-target" (click)="toggleOperationSidebarMenu()">FACILITIES</a>
  <i
    class="expand-facilities-trigger"
    (click)="toggleOperationSidebarMenu()"
    [@turnArrow]="isOpen ? 'open' : 'closed'"
    class="expand-facilities-trigger active"
  ></i>
  <ul
    class="facility-dropdown-list"
    [@expandSidebar]="isOpen ? 'open' : 'closed'"
    class="facility-dropdown-list active"
    *ngIf="operations; else noOperations"
  >
    <li *ngFor="let operation of operations; let i = index">
      <a (click)="setActiveOperation(operation)" [ngClass]="{ active: selected.operation == operation }">
        {{ operation.operationName }}
      </a>
    </li>
  </ul>
  <ng-template #noOperations>
    You haven't been assigned any operations yet!
  </ng-template>
</div>
