<div class="operation-sidebar">
  <div class="sidebar-calendar">
    <h4 class="todays-date">TODAY'S DATE</h4>
    <div class="caption">
      {{ todaysDateDay }}
    </div>
  </div>
  <div class="facility-dropdown-container">
    <a class="facility-dropdown-target">GROUPS</a>
    <ng-container *ngIf="operationGroups">
      <div class="operation-group-container" *ngFor="let operationGroup of operationGroups; let i = index">
        <span class="operation-group"
          ><a
            class="operation-group-link"
            (click)="setActiveOperationGroup(operationGroup)"
            [routerLink]="'/operations/group/' + operationGroup.operationGroupId"
            >{{
              operationGroup.operationGroupShortName?.length
                ? operationGroup.operationGroupShortName
                : operationGroup.operationGroupName
            }}</a
          >
          <i
            class="expand-facilities-trigger"
            (click)="toggleOperationSidebarMenu(operationGroup)"
            [@turnArrow]="operationGroup.sidebarDropdownOpen ? 'open' : 'closed'"
            class="expand-facilities-trigger active"
          >
          </i>
          <ul
            class="group-operations"
            [class.show]="operationGroup.sidebarDropdownOpen"
            *ngIf="operationGroup.operations$"
          >
            <li
              *ngFor="let operation of operationGroup.operations$ | async"
              [class.spanish]="operation.spanishSpeaking"
            >
              <a
                class="operation-link"
                [routerLink]="'/operation/' + operation.operationId"
                (click)="setActiveOperation(operation)"
                [class.active]="activeOperationId == operation.operationId"
              >
                {{ operation.operationName }}
              </a>

              <span class="current-patients">
                {{ operation.currentAssignedPatientCount }}
              </span>
            </li>
          </ul>
        </span>
      </div>
    </ng-container>
  </div>
</div>
