<div class="sidebar">
  <div class="sidebar-calendar">
    <h4>TODAY'S DATE</h4>
    <div class="caption">
      {{ todaysDateDay }}
    </div>
  </div>

  <a class="facility-dropdown-target" (click)="toggleOperationSidebarMenu()">FACILITIES</a>
  <i
    class="expand-facilities-trigger"
    (click)="toggleOperationSidebarMenu()"
    [@turnArrow]="isOpen ? 'open' : 'closed'"
    class="expand-facilities-trigger active"
  ></i>
  <ul
    class="facility-dropdown-list"
    [@expandSidebar]="isOpen ? 'open' : 'closed'"
    class="facility-dropdown-list active"
  >
    <li *ngFor="let operationLink of availableOperations$ | async; let i = index">
      <a
        [routerLink]="'/operation/edit/' + operationLink.operationId"
        [class.active]="selected.operation?.operationId == operationLink.operationId"
      >
        {{ operationLink.operationName }}
      </a>
    </li>
  </ul>
</div>
