.call-queue-feed {
  max-width: 431px;
}

.divider-line {
  width: 100%;
  min-height: 1px;
  height: 1px;
  display: block;
  border-top: solid 3.9px var(--ion-color-primary);
  border-bottom: none;
}

h3 {
  font-family: AvenirBold;
  font-size: 18px;
  font-weight: 900;
  margin-top: 11px;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.01;
  letter-spacing: 3.15px;
  text-align: left;
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--ion-color-primary);
}

ul.patient-filters {
  list-style-type: none;
  float: right;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: top;
  cursor: pointer;

  li {
    cursor: pointer;
    display: inline-block;
    font-family: Avenir;
    font-size: 11.8px;
    font-weight: normal;
    font-style: normal;
    vertical-align: top;
    font-stretch: normal;
    line-height: 2.88;
    letter-spacing: 0.53px;
    text-align: right;
    margin-right: 18px;
    a {
      cursor: pointer;
      &.active {
        border-bottom: 1px solid var(--ion-color-primary);
      }
    }
    &.ascending-descending-control {
      height: 30px;

      .ascending-descending-control-arrow {
        display: block;
        width: 14px;
        height: 9px;
        margin-top: 12px;
        background-image: url("/assets/icon-down-arrow@2x.png");
        background-size: 100%;
        &.asc {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.section-header {
  h3 {
    width: auto;
    float: left;
    margin-left: 0.5rem;
    margin-top: 3px;
  }
  i {
    width: 17px;
    height: 17px;
    margin-left: 0.125rem;
    background-size: 100%;
    margin-top: 1px;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    &.icon-new-discharges {
      background-image: url("/assets/icon-new-discharges@2x.png");
    }
    &.icon-todays-calls {
      background-image: url("/assets/icon-todays-calls@2x.png");
    }
  }
}

.operation-discharges,
.operation-todays-calls {
  margin-top: 4.5px;
  margin-left: -12px;
  position: absolute;
  font-weight: bold;
  color: white;
  font-size: 10px;
  margin-right: 0.25rem;
}
.operation-discharges {
  left: 25px;
}
.operation-todays-calls {
  left: 44px;
}
.call-queue-patient-list {
  clear: both;
  list-style-type: none;
  max-width: 431px;
  padding-left: 0;

  li {
    cursor: pointer;
    width: 100%;
    height: 96px;
    display: block;

    ul {
      padding-left: 0;
      list-style-type: none;
    }

    .call-queue-number {
      display: block;
      float: left;
      width: 45px;
      overflow: hidden;
      height: 96px;
      padding-top: 34px;
      padding-left: 4px;
      font-family: Avenir;
      font-size: 18px;
      color: #8e8e93;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.96px;
      text-align: center;

      &.active {
        color: #08c400;
      }
    }

    &:nth-child(even) {
      background-color: rgba(200, 200, 200, 0.05);
    }

    &:nth-child(odd) {
      background-color: RGBA(200, 200, 200, 0.15);
    }

    &:hover {
      background-color: rgba(19, 175, 233, 0.35);
    }
    &.todays-call {
      background-color: rgba(102, 51, 204, 0.15);
      &:hover {
        background-color: rgba(102, 51, 204, 0.35);
      }
    }

    &.new-discharge {
      background-color: rgba(20, 171, 52, 0.15);
      &:hover {
        background-color: rgba(20, 171, 52, 0.35);
      }
    }

    .badge-container {
      span {
        width: 15px;
        height: 15px;
        margin-left: 2px;
        position: absolute;
        background-color: red;
        display: block;
        z-index: 5;
        color: white;
        border-radius: 50%;
        border: 1px solid white;
        text-align: center;
        font-size: 11px;
        &.kudos-badge {
          margin-left: -7px;
          margin-top: 14px;
          background-color: #13afe8;
        }
      }
    }
    .call-queue-avatar {
      display: block;
      float: left;
      margin-top: 10.5px;
      width: 74.8px;
      height: 75.2px;
      overflow: hidden;
      box-shadow: 1.4px 1.4px 1.4px 0 rgba(35, 31, 32, 0.15);
      background-color: #ffffff;
      background-size: cover;
      background-position: center center;
      border-radius: 50%;
    }

    .call-queue-patient-information {
      padding-top: 12px;
      display: block;
      float: left;
      padding-left: 11px;
      width: 215px;
      height: 96px;
      color: black;
    }

    .call-queue-patient-name {
      display: block;
      height: auto;
      font-family: Avenir;
      font-size: 21px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: left;
      color: #343638;
      width: 100%;

      a {
        color: #343638;
        text-decoration: none;
      }
    }

    .call-queue-patient-detail {
      width: 177px;
      height: 13px;
      font-family: AvenirNextLTPro;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.85;
      letter-spacing: normal;
      text-align: left;
      color: #8e8e93;
    }

    .call-queue-patient-listing-controls {
      display: inline-block;
      height: 215px;
      width: 17px;
    }

    .patient.label-line,
    .additional-label-line {
      width: 100%;
      height: auto;
      display: block;
      color: #8e8e93;
      font-size: 11px;
      line-height: 18px;
      font-family: Avenir;
    }
  }
  .call-queue-call-status-legend {
    height: 96px;
    display: block;
    float: right;
    width: 35px;
    ion-list {
      margin-top: -2px;
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      width: 30px;
      height: 96px;
      display: block;
      background: transparent;
    }
    ion-item {
      display: block;
      height: 25px;
      width: 25px;
      overflow: visible;
      --background: transparent;

      i {
        &.active {
          border: 2px solid #668bce;
        }
        position: absolute;
        margin-left: -15px;
        margin-top: -6px;
        width: 17px;
        height: 17px;
        display: block;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: left;

        &.icon-contacted {
          background-image: url("/assets/icon-contacted@2x.png");
          &.active {
            background-image: url("/assets/icon-contacted-active@2x.png");
          }
        }
        &.icon-left-message {
          background-image: url("/assets/icon-left-message@2x.png");
          &.active {
            background-image: url("/assets/icon-left-message-active@2x.png");
          }
        }
        &.icon-no-answer {
          background-image: url("/assets/icon-no-answer@2x.png");
          &.active {
            background-image: url("/assets/icon-no-answer-active@2x.png");
          }
        }
      }
    }
  }
}
