<h3 class="section-header">Camp Verde Asst. Living</h3>
<ion-item-divider class="divider-line"></ion-item-divider>
<!-- Filters -->
<ul class="patient-filters">
  <li>
    <a (click)="sortPatientsByDischargeDate()">[Discharge Date]</a>
  </li>
  <li>
    <a (click)="sortPatientsByCallDate()">[Call Date]</a>
  </li>
  <li class="ascending-descending-control">
    <i> </i>
  </li>
</ul>
<ul class="call-queue-patient-list">
  <li class="active">
    <div class="call-queue-number">
      1
    </div>
    <div class="call-queue-avatar"></div>
    <div class="call-queue-patient-information">
      <span class="call-queue-patient-name"><a href="/patient/detail"> Barbara Curtist </a></span>
      <div class="call-queue-patient-detail">
        83, Camp Verde, Asst. Living
      </div>
    </div>
    <div class="call-queue-icons"></div>
  </li>
  <li>
    <div class="call-queue-number">
      2
    </div>
    <div class="call-queue-avatar"></div>
    <div class="call-queue-patient-information">
      <span class="call-queue-patient-name"><a href="/patient/detail"> Barbara Curtist </a></span>
      <div class="call-queue-patient-detail">
        83, Camp Verde, Asst. Living
      </div>
    </div>
  </li>
  <li>
    <div class="call-queue-number">
      3
    </div>
    <div class="call-queue-avatar"></div>
    <div class="call-queue-patient-information">
      <span class="call-queue-patient-name"><a href="/patient/detail"> Barbara Curtist </a></span>
      <div class="call-queue-patient-detail">
        83, Camp Verde, Asst. Living
      </div>
    </div>
  </li>
  <li>
    <div class="call-queue-number">
      4
    </div>
    <div class="call-queue-avatar"></div>
    <div class="call-queue-patient-information">
      <span class="call-queue-patient-name"><a href="/patient/detail"> Barbara Curtist </a></span>
      <div class="call-queue-patient-detail">
        83, Camp Verde, Asst. Living
      </div>
    </div>
  </li>
  <li>
    <div class="call-queue-number">
      5
    </div>
    <div class="call-queue-avatar"></div>
    <div class="call-queue-patient-information">
      <span class="call-queue-patient-name"><a href="/patient/detail"> Barbara Curtist </a></span>
      <div class="call-queue-patient-detail">
        83, Camp Verde, Asst. Living
      </div>
    </div>
  </li>
  <li>
    <div class="call-queue-number">
      5
    </div>
    <div class="call-queue-avatar"></div>
    <div class="call-queue-patient-information">
      <span class="call-queue-patient-name"><a href="/patient/detail"> Barbara Curtist </a></span>
      <div class="call-queue-patient-detail">
        83, Camp Verde, Asst. Living
      </div>
    </div>
  </li>
  <li>
    <div class="call-queue-number">
      5
    </div>
    <div class="call-queue-avatar"></div>
    <div class="call-queue-patient-information">
      <span class="call-queue-patient-name"><a href="/patient/detail"> Barbara Curtist </a></span>
      <div class="call-queue-patient-detail">
        83, Camp Verde, Asst. Living
      </div>
    </div>
  </li>
  <li>
    <div class="call-queue-number">
      5
    </div>
    <div class="call-queue-avatar"></div>
    <div class="call-queue-patient-information">
      <span class="call-queue-patient-name"><a href="/patient/detail"> Barbara Curtist </a></span>
      <div class="call-queue-patient-detail">
        83, Camp Verde, Asst. Living
      </div>
    </div>
  </li>
  <li>
    <div class="call-queue-number">
      5
    </div>
    <div class="call-queue-avatar"></div>
    <div class="call-queue-patient-information">
      <span class="call-queue-patient-name"><a href="/patient/detail"> Barbara Curtist </a></span>
      <div class="call-queue-patient-detail">
        83, Camp Verde, Asst. Living
      </div>
    </div>
  </li>
  <li>
    <div class="call-queue-number">
      5
    </div>
    <div class="call-queue-avatar"></div>
    <div class="call-queue-patient-information">
      <span class="call-queue-patient-name"><a href="/patient/detail"> Barbara Curtist </a></span>
      <div class="call-queue-patient-detail">
        83, Camp Verde, Asst. Living
      </div>
    </div>
  </li>
  <li>
    <div class="call-queue-number">
      5
    </div>
    <div class="call-queue-avatar"></div>
    <div class="call-queue-patient-information">
      <span class="call-queue-patient-name">
        <span class="call-queue-patient-name"><a href="/patient/detail"> Barbara Curtist </a></span>
      </span>
      <div class="call-queue-patient-detail">
        83, Camp Verde, Asst. Living
      </div>
    </div>
  </li>
  <li>
    <div class="call-queue-number">
      5
    </div>
    <div class="call-queue-avatar"></div>
    <div class="call-queue-patient-information">
      <span class="call-queue-patient-name"><a href="/patient/detail"> Barbara Curtist </a></span>
      <div class="call-queue-patient-detail">
        83, Camp Verde, Asst. Living
      </div>
    </div>
  </li>
  <li>
    <div class="call-queue-number">
      5
    </div>
    <div class="call-queue-avatar"></div>
    <div class="call-queue-patient-information">
      <span class="call-queue-patient-name"><a href="/patient/detail"> Barbara Curtist </a></span>
      <div class="call-queue-patient-detail">
        83, Camp Verde, Asst. Living
      </div>
    </div>
  </li>
  <li>
    <div class="call-queue-number">
      5
    </div>
    <div class="call-queue-avatar"></div>
    <div class="call-queue-patient-information">
      <span class="call-queue-patient-name"><a href="/patient/detail"> Barbara Curtist </a></span>
      <div class="call-queue-patient-detail">
        83, Camp Verde, Asst. Living
      </div>
    </div>
  </li>
  <li>
    <div class="call-queue-number">
      5
    </div>
    <div class="call-queue-avatar"></div>
    <div class="call-queue-patient-information">
      <span class="call-queue-patient-name"><a href="/patient/detail"> Barbara Curtist </a></span>
      <div class="call-queue-patient-detail">
        83, Camp Verde, Asst. Living
      </div>
    </div>
  </li>
</ul>
