::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

ion-content {
  height: 500px;
}

.queue-controls {
  .call-queue-headline {
    display: inline-block;
    font-family: AvenirBold;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.65;
    letter-spacing: 1.2px;
    text-align: left;
    color: #9acc38;
    margin-bottom: 0;
  }

  ul.patient-filters {
    list-style-type: none;
    float: right;
    margin-top: 15px;
    margin-bottom: 0;
    vertical-align: top;
    cursor: pointer;

    li {
      cursor: pointer;
      display: inline-block;
      width: auto;
      height: 13px;
      font-family: AvenirDemi;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.31;
      letter-spacing: 0.13px;
      text-align: right;
      color: #222222;
      margin-right: 4px;

      a {
        cursor: pointer;
        font-family: AvenirBold;
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.31;
        letter-spacing: 0.13px;
        text-align: right;
        color: #222222;
        text-decoration: none;
      }

      &.ascending-descending-control {
        .ascending-descending-control-arrow {
          display: block;
          width: 11px;
          height: 11px;
          background-image: url("/assets/icon-list-sort@2x.png");
          background-size: 100%;
          background-repeat: no-repeat;
          margin-top: 6px;

          &.asc {
            transform: rotate(180deg);
            margin-top: 3px;
          }
        }
      }
    }
  }
}

.call-queue-feed {
  max-width: 518px;
}

.no-scroll {
  --overflow: hidden;
}

h3 {
  font-family: AvenirBold;
  font-size: 18px;
  font-weight: 900;
  margin-top: 11px;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.01;
  letter-spacing: 3.15px;
  text-align: left;
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--ion-color-primary);
}

.section-header {
  h3 {
    width: auto;
    float: left;
    margin-left: 0.5rem;
    margin-top: 3px;
  }

  i {
    width: 17px;
    height: 17px;
    margin-left: 0.125rem;
    background-size: 100%;
    margin-top: 1px;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;

    &.icon-new-discharges {
      background-image: url("/assets/icon-new-discharges@2x.png");
    }
  }
}

.operation-discharges {
  margin-top: 2px;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  color: white;
  font-size: 11px;
  margin-right: 0.25rem;
}

.operation-discharges {
  left: 25px;
}

// Infinite scroll
.call-queue-patient-list {
  clear: both;
  list-style-type: none;
  max-width: 520px;
  padding-left: 0;

  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; // IE 10+
  scrollbar-width: none; // Firefox
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none; // Safari and Chrome
  }

  ion-item {
    --padding-top: 15px;
    --padding-bottom: 15px;

    cursor: pointer;
    width: 100%;
    border-top: solid 1.5px #bbbbbb;
    border-bottom: solid 1.5px #bbbbbb;
    background-color: #ffffff;
    display: table;

    &:active {
      background-color: #00b4b9;
    }

    .call-queue-number {
      display: table-cell;
      vertical-align: middle;
      width: auto;
      padding-left: 20px;
      padding-top: 5.5px;
      font-family: Avenir;
      font-size: 24.1px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.7;
      letter-spacing: 0.96px;
      text-align: center;
      color: #222222;
    }

    &:nth-child(even) {
      background-color: white;
    }

    &:nth-child(odd) {
      background-color: #c8c8c8;
    }

    &:hover {
      background-color: rgba(19, 175, 233, 0.35);
    }

    &.new-discharge {
      background-color: rgba(154, 204, 56, 0.1);

      &:hover {
        background-color: #e8f4cf;
      }
      &:active {
        background-color: #d6eaaf;
      }
    }

    .badge-container {
      span {
        width: 15px;
        height: 15px;
        margin-left: 2px;
        position: absolute;
        background-image: url("/assets/icon-notification-counter@2x.png");
        background-size: 100%;
        display: block;
        z-index: 5;
        color: white;
        border-radius: 50%;
        border: 1px solid white;
        text-align: center;
        font-size: 11px;
      }
    }

    .call-queue-avatar {
      margin-left: 12px;
      display: block;
      height: 100%;
      overflow: hidden;
      background-size: cover;
      background-position: center center;
      border-radius: 50%;
      background-image: url("/assets/default-patient-badge@2x.png");
    }

    .call-queue-patient-information {
      vertical-align: middle;
      padding-left: 11px;
      display: table-cell;
      color: black;
    }

    .call-queue-patient-name {
      display: block;
      height: auto;
      text-transform: capitalize;
      font-family: Avenir;
      font-size: 17px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      /* line-height: 1.27; */
      letter-spacing: normal;
      text-align: left;
      color: #222222;

      a {
        color: #343638;
        text-decoration: none;
      }
    }

    .call-queue-patient-detail {
      font-family: AvenirNextLTPro;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.85;
      letter-spacing: normal;
      text-align: left;
      color: #8e8e93;
    }

    .call-queue-patient-listing-controls {
      display: inline-block;
      height: 215px;
      width: 17px;
    }

    .patient.label-line {
      width: 100%;
      height: auto;
      display: block;
      font-family: AvenirPro;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.46;
      letter-spacing: normal;
      text-align: left;
      color: #333333;
    }
  }
}

jw-pagination {
  display: block;
  width: 100%;
  text-align: right;
}
