<h3 class="section-header">
  {{ operation.operationName }}
</h3>
<ion-item-divider class="divider-line"></ion-item-divider>
<ul class="patient-filters">
  <li>
    <a (click)="sortPatientsByDischargeDate()">[Discharge Date]</a>
  </li>
  <li>
    <a (click)="sortPatientsByCallDate()">[Call Date]</a>
  </li>
  <li class="ascending-descending-control">
    <i class="ascending-descending-control-arrow" (click)="toggleAscDesc()"> </i>
  </li>
</ul>
<ul class="call-queue-patient-list">
  <li *ngFor="let patient of patients$ | async" class="active">
    <div class="call-queue-number">
      #
      <!-- {{ patient.callNumber }} -->
    </div>
    <div class="call-queue-avatar">
      {{ patient.avatarImage }}
    </div>
    <div class="call-queue-patient-information">
      <span class="call-queue-patient-name">
        <a href="/call-queue/operations/{{ operaton.operationId }}/patient/{{ patient.patientId }}">
          {{ patient.patientFirstName }} {{ patient.patientLastName }}
        </a>
      </span>
      <div class="call-queue-patient-details">
        <span> {{ patient.age }}, {{ operation?.operationName }} </span>
      </div>
    </div>
  </li>
</ul>
