:host {
  display: block;
  overflow: hidden;
  float: right;
  margin-top: 30px;
  overflow: visible;
  width: auto;
  height: 100px;
  padding: 5px 0;
  margin-right: 4rem;
  .toolbar-profile-nav {
    display: block;
    margin-left: 25px;
    width: 100%;
    float: left;
    div {
      display: block;
    }
    div.user-avatar {
      margin-top: -20px;
      display: block;
      width: 57px;
      height: 75px;
      margin-right: 8px;
      float: left;
      .user-avatar-image {
        height: 75px;
        width: 75px;
        display: block;
        border-radius: 50%;
        background-size: cover;
      }
    }
    div.username,
    div.logout {
      float: left;
      a {
        cursor: pointer;
      }
    }
    div.username {
      width: calc(100% - 90px);
      font-family: Avenir;
      font-size: 24px;
      a {
        text-decoration: none;
        color: #333333;
      }
    }
    div.logout-nav {
      font-size: 13px;
      width: auto;
      padding-top: 0.5rem;
      font-family: Avenir;
      clear: both;
      margin-left: 0.75rem;
      a {
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}
