<ion-list class="sidebar" lines="none" inset>
  <ion-item>
    <a class="facility-callreps-dropdown-target" (click)="toggleOperationUsersAssignedMenu()">Users Assigned</a>
    <i
      class="expand-users-assigned-trigger"
      (click)="toggleOperationUsersAssignedMenu()"
      [@turnArrow]="isOpen ? 'open' : 'closed'"
      class="expand-users-assigned-trigger active"
    ></i>
  </ion-item>
  <ul [@expandSidebar]="isOpen ? 'open' : 'closed'" class="facility-dropdown-list active">
    <ion-item
      class="assigned-user ion-float-right"
      *ngFor="let user of operationAssignedUsers$ | async; let idx = index"
    >
      <span class="user-name">{{ user.userFirstName }} {{ user.userLastName }} - {{ user.userRoleLabel }}</span>
    </ion-item>
  </ul>
</ion-list>
