<div class="sidebar" lines="none" inset>
  <form>
    <ion-item class="headline-item">
      <h3 class="headline"><i class="icon-team"></i> Team Members</h3>
    </ion-item>
    <fieldset class="operation-team-members">
      <span class="section-label" (click)="toggleOperationManagersAssignedMenu()">
        <span *ngIf="mode.edit || mode.add">Assigned </span>Manager
        <i
          *ngIf="!mode.edit || mode.add"
          class="icon-dropdown"
          (click)="toggleOperationManagersAssignedMenu()"
          [@turnArrow]="managerSidebarDropdownOpen ? 'open' : 'closed'"
        ></i
      ></span>
      <div class="manager-container">
        <ion-list
          class="assigned-manager-list"
          [class.edit]="mode.edit || mode.add"
          inset
          lines="none"
          [class.show]="managerSidebarDropdownOpen"
        >
          <ion-item class="sidebar-listing" id="operation-manager">
            <ion-label color="medium" position="stacked">Assign Manager</ion-label>
            <ion-select
              *ngIf="(mode.edit || mode.add) && operationManager && availableUsers; else managerSpan"
              (ionChange)="managerOnSelect($event, idx)"
              class="operation-assigned-manager"
              placeholder="Assign Manager"
            >
              <ion-select-option
                *ngFor="let user of availableUsers"
                [value]="user.userId"
                [selected]="user.userId == operationManager?.userId"
              >
                {{ user.userLastName }}, {{ user.userFirstName }}
              </ion-select-option>
            </ion-select>
            <ng-template #managerSpan>
              <span class="operation-manager">
                {{ operationManager?.userFirstName }} {{ operationManager?.userLastName }}
              </span>
            </ng-template>
          </ion-item>
        </ion-list>
      </div>
    </fieldset>
    <fieldset class="operation-callreps">
      <ng-container>
        <span class="section-label" (click)="toggleOperationCallRepsAssignedMenu()">
          <span *ngIf="mode.edit || mode.add">Assigned </span>Care Reps
          <i
            *ngIf="!mode.edit || mode.add"
            class="icon-dropdown"
            (click)="toggleOperationCallRepsAssignedMenu()"
            [@turnArrow]="callRepSidebarDropdownOpen ? 'open' : 'closed'"
          ></i
        ></span>
        <ion-list
          class="assigned-callrep-list"
          lines="none"
          *ngIf="operationAssignedUsers"
          [class.show]="callRepSidebarDropdownOpen"
          [class.edit]="mode.edit || mode.add"
        >
          <div class="callrep-container" *ngFor="let operationCallRep of operationAssignedUsers; let idx = index">
            <ion-item class="sidebar-listing" id="operationCallRep-{{ idx }}">
              <ion-label color="medium" position="stacked">Assign Call Rep</ion-label>
              <ion-select
                *ngIf="availableUsers && (mode.edit || mode.add); else memberSpan"
                (ionChange)="callRepOnSelect($event, idx)"
                placeholder="Select User"
              >
                <ion-select-option
                  *ngFor="let user of availableUsers"
                  [value]="user.userId"
                  [selected]="user.userId == operationCallRep.userId"
                >
                  {{ user.userLastName }}, {{ user.userFirstName }}
                </ion-select-option>
              </ion-select>
              <ng-template #memberSpan>
                <span class="operation-callrep">
                  {{ operationCallRep.userFirstName }} {{ operationCallRep.userLastName }}
                </span>
              </ng-template>
            </ion-item>
          </div>
          <div class="controls">
            <a *ngIf="mode.add || mode.edit" class="add-members" (click)="addAdditionalOperationCallRep()"
              >+ Team Members</a
            >
          </div>
        </ion-list>
      </ng-container>
    </fieldset>
  </form>
</div>
