.sidebar {
  max-width: 200px;
  text-align: right;

  h3.headline {
    font-family: Avenir;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: right;
    color: #00b4b9;
  }

  i.icon-team {
    display: inline-block;
    margin-right: 7px;
    background-image: url("/assets/icon-team@2x.png");
    height: 14px;
    width: 14px;
  }

  .facility-dropdown-list {
    margin-top: 0;
    display: none;
    list-style-type: none;
    padding-left: 0;
    text-align: left;

    &.active {
      display: block;
    }

    ion-item {
      vertical-align: top;
      display: inline-block;
      width: calc(100% - 17px);
      height: auto;
      a {
        display: inline-block;
        max-width: 80%;
        line-height: 115%;
        vertical-align: middle;
        cursor: pointer;
        font-family: AvenirBold;
        font-size: 11.8px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.53px;
        text-align: right;
        color: #8e8e93;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          text-decoration: underline;
        }
        &.active {
          font-family: AvenirBold;
          color: #343638;
        }
      }
    }
  }
}

.divider-line {
  width: 100%;
  min-height: 1px;
  height: 1px;
  display: block;
  border-top: solid 3.9px var(--ion-color-primary);
  border-bottom: none;
}

.facility-dropdown-target {
  cursor: pointer;
}

.expand-users-assigned-trigger {
  cursor: pointer;
  background-image: url("/assets/icon-arrow-open@2x.png");
  width: 100%;
  display: inline-block;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
}
.assigned-user {
  display: block;
  height: auto;
  width: 100%;
  font-family: AvenirBold;
  font-size: 11.8px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  display: block;
}
