.sidebar {
  fieldset {
    border: none;
  }
  width: 215px;

  h3.headline {
    font-family: Avenir;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    color: #00b4b9;
    text-align: right;
  }

  i.icon-team {
    display: inline-block;
    margin-right: 7px;
    background-image: url("/assets/icon-team-members@2x.png");
    height: 14px;
    width: 14px;
    background-size: cover;
  }
}
ion-select {
  display: contents;
  padding: 10px 7px 9px 15px;
  border: solid 1px #e2e2e2;
  background-color: #f5f5f5;
}
.divider-line {
  width: 100%;
  min-height: 1px;
  height: 1px;
  display: block;
}

.section-label {
  font-family: AvenirPro;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.87;
  letter-spacing: 0.3px;
  text-align: left;
  color: #222222;
}

.add-members {
  font-family: AvenirDemi;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: 0.15px;
  color: #00b8be;
  text-decoration: none;
  width: 100%;
  text-align: right;
}
