.sidebar {
  fieldset {
    border: none;
    padding-top: 1rem;
  }

  width: 215px;

  ion-item.headline-item {
    --border-style: none;
  }

  h3.headline {
    font-family: Avenir;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    color: #00b4b9;
    text-align: right;
  }

  i.icon-team {
    display: inline-block;
    margin-right: 7px;
    background-image: url("/assets/icon-team-members@2x.png");
    height: 21px;
    width: 21px;
    background-size: cover;
  }
}

ion-list {
  text-align: right;

  ion-item {
    --inner-padding-end: 0;
  }
}

.operation-callrep,
.operation-manager {
  width: 100%;
  font-family: AvenirDemi;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: 0.14px;
  text-align: right;
  color: #343638;
}

.select-icon {
  visibility: hidden;
}

ion-select {
  :host {
    max-width: unset;
  }

  max-width: unset;
  font-family: Avenir;
  font-size: 14px;
  width: 100%;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #0a0a0a;
  letter-spacing: 0.28px;
  text-align: left;
  display: block;
  background-color: #f5f5f5;

  ::part(icon) {
    display: none !important;
  }

  &:after {
    display: block;
    position: absolute;
    content: "";
    top: 14px;
    background-image: url("/assets/icon-arrow-down@2x.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 11px;
    width: 14px;
    right: 12px;
  }
}

ion-item {
  --padding-start: 0;
  --padding-end: 0;
}

.divider-line {
  width: 100%;
  min-height: 1px;
  height: 1px;
  display: block;
}

.section-label {
  width: 100%;
  display: block;
  font-family: AvenirPro;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.87;
  letter-spacing: 0.3px;
  text-align: right;
  color: #222222;

  i {
    width: 15px;
    height: 11px;
    cursor: pointer;

    &.icon-dropdown {
      background-image: url("/assets/icon-list-sort@2x.png");
    }

    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
  }
}

ion-item.sidebar-listing {
  height: 32px;
  width: auto;
  --padding-start: 0;
  --padding-end: 0;
  border-bottom: none;

  form {
    text-align: right;
    width: 100%;
  }

  a {
    font-family: AvenirDemi;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: 0.14px;
    text-align: right;
    color: #343638;
  }
}

.add-members {
  font-family: AvenirDemi;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: 0.15px;
  color: #00b8be;
  text-decoration: none;
  width: 100%;
  text-align: right;
}

.assigned-callrep-list,
.assigned-manager-list {
  display: none;

  margin: 0;

  &.show {
    display: block;
  }
}

.controls {
  margin-top: 2rem;
}
