<ion-row class="next-call-scheduler">
  <ion-title>Next Call is Scheduled in:</ion-title>
</ion-row>
<div class="call-history-container">
  <div class="calendar-month-controls">
    <span class="left-month-arrow" (click)="calendarPrevMonth()"></span>
    <span class="calendar-month">
      {{ currentMonth.name }}
    </span>
    <span class="right-month-arrow" (click)="calendarNextMonth()"></span>
  </div>
  <div class="calendar-wrapper">
    <div
      class="calendar-day"
      *ngFor="let day of selectedMonth.daysArray"
      [class.active]="todaysDateDay == day"
      (click)="selectDateEventHandler(day, currentMonth.number, todaysYear)"
    >
      <span>{{ day }}</span>
    </div>
  </div>
</div>
