<ion-row id="next-call-calendar" class="next-call-scheduler">
  <ion-title *ngIf="!status.scheduled">Schedule Next Call:</ion-title>
  <ion-title *ngIf="status.scheduled">Next Call is Scheduled on:</ion-title>
  <span class="scheduled-call-date">{{ scheduledCallDate }}</span>
</ion-row>
<div class="call-history-container">
  <div class="calendar-month-controls">
    <span class="left-month-arrow" *ngIf="selectedMonth > currentCalendarMonth" (click)="calendarPrevMonth()"></span>
    <span class="calendar-month">
      {{ currentCalendarMonth.name }}
    </span>
    <span class="right-month-arrow" (click)="calendarNextMonth()"></span>
  </div>
  <div class="calendar-wrapper">
    <div
      class="calendar-day"
      *ngFor="let day of selectedMonth.daysArray"
      [class.active]="selectedDay == day"
      [class.disabled]="day < todaysDateDay"
      (click)="selectDateEventHandler(day, currentCalendarMonth.number, todaysYear)"
    >
      <span>{{ day }}</span>
    </div>
  </div>
</div>
