<!-- <div class="next-call-options-container">
  <span class="next-call-label">Next Call is Scheduled in:</span>
  <div class="next-call-radio-group-container">
    <ion-radio-group (change)="selectNextCallShortcut($event)">
      <ion-item class="tomorrow">
        <ion-radio value="24h"> </ion-radio>
      </ion-item>
      <ion-item class="three-days">
        <ion-radio value="72h"> </ion-radio>
      </ion-item>
      <ion-item class="one-week">
        <ion-radio value="1wk"> </ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>
</div> -->
<app-calendar (dateFilterChangeEvent)="handleDateFilterChangeEvent($event)"> </app-calendar>
