.next-call-scheduler {
  max-width: 355px;
  margin-top: 1rem;
  clear: both;
}

.scheduled-call-date {
  font-family: Avenir;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.42px;
  color: var(--charcoal-grey);
}

ion-title {
  width: 100%;
  font-family: Avenir;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.42px;
  text-align: left;
  color: var(--charcoal-grey);
}

ion-item {
  display: inline-block;
  margin-left: 14.5px;
  height: 100px;
  width: 86px;

  button {
    height: 100px;
    width: 86px;
    background: transparent;
    border: 1px black;
    border-radius: 1px;
  }
}

.call-history-container {
  margin-top: 1rem;
  height: auto;
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
  border: 1px solid #dedede;
  padding: 0 15px 16px 15px;
  margin-left: 1.5rem;
  max-width: 355px;
}

h3 {
  font-size: 18px;
  margin-top: 20px;
  font-family: AvenirBold;
  font-weight: 900;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.01;
  margin-bottom: 9px;
  text-align: left;
  text-transform: uppercase;
  color: var(--ion-color-tertiary);
}

.calendar-date {
  display: inline-block;
  text-align: center;
  font-family: AvenirBold;
  color: black;
  margin-top: 16.5px;
  text-align: center;
  margin-bottom: 6px;
  font-family: AvenirDemi;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #222222;
}

.left-month-arrow,
.right-month-arrow {
  cursor: pointer;
  display: inline-block;
  margin-top: 15px;
}

.left-month-arrow {
  background-image: url("/assets/calendar-left-arrow@2x.png");
  height: 14px;
  width: 8px;
  float: left;
  margin-left: 3px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.right-month-arrow {
  background-image: url("/assets/calendar-right-arrow@2x.png");
  height: 14px;
  width: 8px;
  float: right;
  margin-right: 3px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

/*
  Limited in height,
  useful with grow mode stretch
*/
.wrapper-vertically-limited {
  width: 100%;
  height: 225px;
  margin-top: -40px;
}

.calendar-wrapper {
  width: 100%;
  text-align: left;

  div.calendar-day {
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-family: AvenirPro;
    text-align: center;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #f4f6f8;
    color: black;

    &.disabled {
      color: #666;
    }

    &.active {
      font-family: AvenirBold;
      color: white;
      background-color: var(--ion-color-tertiary);
    }

    &:hover:not(.active) {
      background-color: #e7e7e7;
    }

    &:active {
      background-color: #ffe789;
    }

    span {
      &.hide {
        cursor: not-allowed;
        color: #666;
      }
    }
  }
  ion-radio {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 8px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    &.tomorrow {
      background-image: url("/assets/button-24-hours@2x.png");
    }
    &.three-days {
      background-image: url("/assets/button-72-hours@2x.png");
    }
    &.one-week {
      background-image: url("/assets/button-1-week@2x.png");
    }
  }
}
