:root {
  height: 595px;
  width: 645px;
}
ion-title {
  width: 100%;
  margin-top: 74px;
  margin-bottom: 37px;
  margin-left: 37px;
  font-family: AvenirNextLTPro;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.93;
  letter-spacing: 0.6px;
  text-align: left;
  color: #343638;
}
.warning {
  font-family: Avenir;
  font-size: 25px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.48;
  letter-spacing: normal;
  text-align: right;
  background-color: #ef4136;
}
span.label {
  font-weight: bold;
  font-family: Avenir;
  font-size: 12px;
}
.left-col {
  max-width: 170px;
}
.sidebar-calendar {
  width: 86px;
  height: 90px;
  margin: 40px;
  h4 {
    width: 86px;
    height: 12px;
    font-family: AvenirBold;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.86;
    letter-spacing: 1.2px;
    text-align: right;
    color: var(--ion-color-primary);
  }

  .caption {
    font-family: Avenir;
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -5px;
    text-align: center;
  }
}

.notification-textarea {
  height: 200px;
  width: 520px;
  background-color: #f5f5f5;
}

button {
  width: 70px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  vertical-align: middle;
}
.save-button {
}
.send-button {
}
