:root {
  padding-top: 55px;
  --height: 450px !important;
  width: 645px;
  padding: 75px;
}

.notification-container {
  padding-top: 55px;

  h3 {
    margin-top: 8px;
  }

  img.notification-icon-image {
    margin-right: 38px;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    z-index: 5000;
  }
}

ion-title {
  font-family: AvenirPro;
  font-size: 40px;
  font-weight: 300;
  font-stretch: normal;
  margin-left: 40px;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.45px;
  text-align: left;
  color: #343638;
}

.notification-list-container {
  list-style-type: none;
  padding-left: 18px;
  margin-bottom: 0;

  li {
    width: 33.333333%;
    float: left;
  }

  ion-item {
    --padding-start: 0;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;

    ion-radio {
      margin: 0;
    }
  }
}

ion-textarea {
  --padding-start: 12px;
  height: 200px;
  width: 475px;
  margin: 0 auto;
  font-size: 13px;
  font-family: Avenir;
  background-color: #f5f5f5;
  --inner-padding-start: 12px;
  --inner-padding-end: 0;
  padding-top: 0;
  margin-top: 0.25rem;
}

.notification-options {
  width: 85%;
  margin: 0 auto;

  ion-item {
    --min-height: 32px;
    margin-left: 0;
    padding-left: 0;
  }

  ion-label {
    display: inline-block;
    font-family: Avenir;
    font-size: 12px;
    margin-left: 10px;
    line-height: 25px;
  }
}

ion-radio {
  display: inline-block;
  height: 15px !important;
  width: 15px !important;
  border: 2px solid #666;
}

h3 {
  font-family: Avenir;
  font-size: 23px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.48;
  letter-spacing: normal;
  text-align: right;
  color: #ef4136;
  position: absolute;
  top: 55px;
  right: 40px;
}

.notification-review-item {
  font-family: Avenir;
  font-size: 12px;
  margin-right: 10px;
  --min-height: 28px;

  span.label {
    font-family: AvenirBold;
  }
}

.notification-review-item-message {
  max-width: 380px;
}

.left-col {
  max-width: 170px;
  float: left;
}

.right-col {
  max-width: 430px;
  float: right;

  ion-item {
    margin-left: 0;
    padding-left: 0;
  }
}

.review-notification-list {
  margin: 0;
  margin-left: 5px;

  .review-textarea {
    max-width: 300px;
    max-height: 150px;
  }

  ion-item.notification-review-item-message {
    --inner-padding-start: 0;
    width: 350px;
    --inner-padding-end: 0;
    --padding-start: 0;
    --padding-end: 0;
    margin-left: 15px;
  }

  ion-textarea {
    padding-left: 12px;
    height: 115px;
    width: 300px;
    margin: 0 auto;
    font-size: 13px;
    font-family: Avenir;
    background-color: #f5f5f5;
    margin-top: 0.75rem;
  }
}

.item-radio-checked ion-icon {
  fill: #ef4627;
}

ion-radio {
  :host {
    width: 15px !important;
    height: 15px !important;
  }

  .radio-icon {
    width: 15px !important;
    height: 15px !important;
  }
}
.review-container {
  margin-left: 40px;
}
.notification-options {
  height: auto;
}

.send-container {
  width: 100%;
  margin-bottom: 2rem;
  text-align: right;
}
ion-button {
  font-family: "AvenirDemi";
}
.cancel-button {
  margin-top: 10px;
  --background: #d1d1d1;
  --background-hover: #bebebe;
  --background-activated: #bebebe;
  --border-activated: 1px solid #a2a2a2;
  color: white;
}

.save-button {
  margin-top: 10px;
  margin-right: 62px;
  --background: #019ca2;
  --background-hover: #019ca2;
  --border-activated: 1px solid #009999;
}

.edit-button {
  margin-left: 58px;
}

.send-button {
  margin-right: 55px;
  --background: #019ca2;
  --background-hover: #019ca2;
  --border-activated: 1px solid #009999;
}
