<div class="modal-exit-container ">
  <i (click)="dismiss()" class="icon-close-modal"></i>
</div>
<ng-container *ngIf="status.notification.saved == false; else sendNotification">
  <form *ngIf="createNotificationForm" [formGroup]="createNotificationForm">
    <ion-title>Notification</ion-title>
    <ion-list *ngIf="notificationTypes" class="notification-options" lines="none" inset>
      <ion-radio-group>
        <ion-row>
          <ion-col width-50>
            <ion-item *ngFor="let notificationType of notificationTypesListLeft">
              <ion-radio value="notificationType.notificationTypesLabelId"> </ion-radio>
              <ion-label color="normal">{{ notificationType.notificationTypesLabel }}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col width-50>
            <ion-item *ngFor="let notificationType of notificationTypesListRight">
              <ion-radio value="notificationType.notificationTypesLabelId"> </ion-radio>
              <ion-label color="normal">{{ notificationType.notificationTypesLabel }}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group>
    </ion-list>
    <ion-textarea
      class="notification-textarea"
      formControlName="notificationMessage"
      placeholder="Leave Your Notes Here"
    >
    </ion-textarea>
    <ion-button fill="outline" class="save-button ion-float-right" type="button" (click)="saveNotification()"
      >Save
    </ion-button>
  </form>
</ng-container>
<ng-template #sendNotification>
  <ion-row *ngIf="notification">
    <ion-title class="ion-float-left">Notification</ion-title>
    <span class="ion-float-right warning">
      {{ notification.notificationTypesLabel }}
    </span>
    <img src="{{ notification.notificationIconImage }}" alt="" />
  </ion-row>
  <ion-row>
    <ion-col class="left-col">
      <div class="sidebar-calendar">
        <h4>TODAY'S DATE</h4>
        <div class="caption">
          {{ todaysDateDay }}
        </div>
      </div>
    </ion-col>
    <ion-col class="right-col">
      <ion-list class="review-notification-list" lines="none" inset>
        <ion-item>
          <span class="label">Patient:&nbsp;</span> {{ patient?.patientFirstName }}
          {{ patient?.patientLastName }}
        </ion-item>
        <ion-item> <span class="label">Facility:&nbsp;</span> {{ patient?.patientOperationName }} </ion-item>
        <ion-item> <span class="label">Date Received:&nbsp;</span> {{ todaysDate }} </ion-item>
        <ion-item *ngIf="notification.notificationRecipients">
          <span class="label">Next Steps:&nbsp;</span>
          Notify
          <span *ngFor="let notificationRecipient of notification.notificationRecipients; let idx = index">
            {{ notificationRecipient }}
            <span *ngIf="idx !== notification.notificationRecipients.length">,</span>
          </span>
        </ion-item>
        <ion-item>
          <span class="label">Message:&nbsp;</span>
          <ion-textarea class="review-textarea" disabled>
            {{ notification.notificationMessage }}
          </ion-textarea>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <div class="send-container">
      <ion-button class="ion-float-left edit-button warning" (click)="editNotification()">Back</ion-button>
      <ion-button class="ion-float-right send-button" (click)="sendNotification()">Send</ion-button>
    </div>
  </ion-row>
</ng-template>
