:root {
  height: 595px;
  width: 645px;
  padding: 75px;
}
ion-title {
  width: 100%;
  margin-top: 74px;
  margin-bottom: 5px;
  margin-left: 37px;
  font-family: AvenirNextLTPro;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.93;
  letter-spacing: 0.6px;
  text-align: left;
  color: #343638;
}

.notification-options {
  width: 85%;
  margin: 0 auto;
  ion-item {
    height: 32px;
  }
  ion-label {
    display: inline-block;
    font-family: Avenir;
    font-size: 14px;
    margin-left: 10px;
    line-height: 36px;
  }
}

ion-radio {
  display: inline-block;
}
.warning {
  font-family: Avenir;
  font-size: 25px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.48;
  letter-spacing: normal;
  text-align: right;
  background-color: #ef4136;
}
span.label {
  font-weight: bold;
  font-family: Avenir;
  font-size: 12px;
}
.left-col {
  max-width: 170px;
}
.sidebar-calendar {
  width: 86px;
  height: 90px;
  margin: 40px;
  h4 {
    width: 86px;
    height: 12px;
    font-family: AvenirBold;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.86;
    letter-spacing: 1.2px;
    text-align: right;
    color: var(--ion-color-primary);
  }

  .caption {
    font-family: Avenir;
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -5px;
    text-align: center;
  }
}
.notification-options {
  height: auto;
}
.notification-textarea {
  height: 200px;
  width: 489px;
  margin-left: 15px;
  background-color: #f5f5f5;
  margin-top: 0.25rem;
}
span.helper-text {
  margin-top: 2rem;
  float: left;
  margin-left: 25px;
}

.save-button {
  margin-top: 20px;
  margin-right: 40px;
}

.edit-button {
  margin-top: 20px;
  margin-left: 35px;
}
.send-button {
  margin-top: 20px;
  margin-right: 35px;
}
