<ng-container *ngIf="status.notification.saved == false; else sendNotification">
  <form [formGroup]="createNotificationForm">
    <ion-title>Notification</ion-title>
    <ion-list class="notification-options" lines="none" inset *ngIf="notificationTypes">
      <ion-item *ngFor="let notificationType of notificationTypes">
        <img src="{{ notificationIconImage }}" alt="" />
        <ion-radio-group>
          <ion-radio value="notificationType.notificationTypesLabelId" formControlName="notificationType"></ion-radio>
          <ion-label color="normal">{{ notificationType.notificationTypesLabel }}</ion-label>
        </ion-radio-group>
      </ion-item>
    </ion-list>
    <ion-textarea class="notification-textarea" formControlName="notificationNotes" placeholder="Leave Your Notes Here">
    </ion-textarea>
    <ion-button class="save-button ion-float-right" type="button" (click)="saveNotification()">Save</ion-button>
    <span class="helper-text">[ report will be sent when <b>follow-up</b> is complete ]</span>
  </form>
</ng-container>
<ng-template #sendNotification>
  <ion-row *ngIf="notification">
    <ion-title class="ion-float-left">Notification</ion-title>
    <span class="ion-float-right warning">
      {{ notification.notificationTypesLabel }}
    </span>
    <i class="icon-{{ notification.notificationTypesLabel }}"></i>
  </ion-row>
  <ion-row>
    <ion-col class="left-col">
      <div class="sidebar-calendar">
        <h4>TODAY'S DATE</h4>
        <div class="caption">
          {{ todaysDateDay }}
        </div>
      </div>
    </ion-col>
    <ion-col>
      <ion-list lines="none" inset>
        <ion-item>
          <span class="label">Patient:&nbsp;</span> {{ notification.patientFirstName }} +
          {{ notification.patientLastName }}
        </ion-item>
        <ion-item> <span class="label">Facility:&nbsp;</span> {{ notification.operationName }} </ion-item>
        <ion-item>
          <span class="label">Date Received:&nbsp;</span> {{ notification.notificationCreatedDate }}
        </ion-item>
        <ion-item> <span class="label">Notes:&nbsp;</span> {{ notification.notificationNotes }} </ion-item>
        <ion-item>
          <span class="label">Next Steps:&nbsp;</span>
          <span *ngFor="let notificationRecipient of notification.notificationRecipients"></span>
        </ion-item>
        <ion-item>
          <span class="label">Message:&nbsp;</span>
          <ion-textarea disabled>
            {{ notification.notificationMessage }}
          </ion-textarea>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <div class="send-container">
      <ion-button fill="outline" class="ion-float-left edit-button" (click)="editNotification()">Back</ion-button>
      <span class="helper-text">[ report will be sent when <b>follow-up</b> is complete ]</span>
      <ion-button fill="outline" class="ion-float-right send-button" (click)="sendNotification()">Send</ion-button>
    </div>
  </ion-row>
</ng-template>
