<div class="team-sidebar">
  <div class="team-sidebar-calendar">
    <h4 class="todays-date">TODAY'S DATE</h4>
    <div class="caption">
      {{ todaysDateDay }}
    </div>
  </div>

  <div class="team-dropdown-container" *ngIf="teams">
    <a class="team-dropdown-target" [routerLink]="'/teams'">TEAMS</a>
    <div class="team-item" *ngFor="let team of teams; trackBy: trackByTeam" [class.active]="isSelectedTeam(team)">
      <div class="team-section-heading">
        <a class="team-name-link" [routerLink]="'/teams/' + team.teamId" (click)="selectTeam(team)">{{ team.teamName }}</a>
        <span class="team-member-count">{{ getTeamMemberCount(team) }}</span>
      </div>
      <div class="team-item-actions" *ngIf="isSelectedTeam(team)">
        <a class="team-access-link" [routerLink]="'/teams/' + team.teamId + '/access'">Manage access</a>
      </div>
    </div>
  </div>
</div>
