ion-list {
  margin-top: -25px;
}

ion-item {
  width: 50px;
}

button {
  padding: 2px;
}

i.icon-phone-icon {
  background: url("/assets/icon-call-header@2x.png");
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.patient-call-history-item {
  margin: 0 auto;

  div {
    background: url("/assets/call-history-legend-icon@2x.png");
    background-size: 100%;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    color: #13afe9;
    text-align: center;
    display: block;
    font-family: Avenir;
    font-size: 13px;

    &.active {
      background: url("/assets/call-history-legend-icon-active@2x.png");
      color: white;
      font-family: AvenirBold;
    }
  }
}
