ion-list {
  margin-top: -25px;
}
ion-item {
  width: 50px;
}
button {
  padding: 2px;
}
i.icon-phone-icon {
  background: url("/assets/icon-call-header@2x.png");
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

li {
  background-color: #13afe9;
  color: white;
  text-align: center;
  line-height: 22px;
  width: 22px;
  height: 22px;
  display: block;
}
