.corkboard-controls {
  list-style-type: none;
  padding-left: 0;
  width: 40px;
  height: 100px;
  display: block;
  list-style-type: none;
  position: absolute;
  top: 0;
  z-index: 2500;
  #corkBoardUpload {
    display: none;
  }
  .icon {
    cursor: pointer;
    color: white;
    z-index: 2000;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: block;
    margin-left: 4px;
    background-size: 100%;
    background-repeat: no-repeat;

    &.expand {
      margin-top: 10px;
      background-image: url("/assets/icon-expand@2x.png");
    }

    &.new-item {
      margin-top: 10px;
      background-image: url("/assets/icon-new-item@2x.png");
    }

    &.minus {
      margin-top: 10px;
      padding-left: 2px;
      background-image: url("/assets/icon-remove-item@2x.png");
    }
  }
}
.user-cork-board {
  position: absolute;
  z-index: 1999;
  width: 40px;
  height: 100%;
  min-height: 1024px;
  background-image: url("/assets/corkboard-closed@2x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  &.open {
    .corkboard-controls {
      left: 190px;
    }
  }

  &.deleting {
    cursor: crosshair;
  }
}
.corkboard-objects {
  padding-top: 75px;
  display: block;
  height: 100%;
  width: 100%;
  max-width: calc(100% - 40px);
  text-align: center;
}
