/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
@font-face {
  font-family: Avenir;
  src: url("assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: AvenirLight;
  src: url("assets/fonts/AvenirNextLTPro-LightCn.otf") format("opentype");
}
@font-face {
  font-family: AvenirBold;
  src: url("assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: AvenirNextLTPro;
  src: url("assets/fonts/AvenirNextLTPro-Thin.otf") format("opentype");
}
