/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

@font-face {
  font-family: Avenir;
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: AvenirLight;
  src: url("/assets/fonts/AvenirNextLTPro-LightCn.otf") format("opentype");
}

@font-face {
  font-family: AvenirDemi;
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
}

@font-face {
  font-family: AvenirBold;
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: AvenirPro;
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: AvenirProThin;
  src: url("/assets/fonts/AvenirNextLTPro-Thin.otf") format("opentype");
}

/* Workaround to hide android default validation colors */
ion-item.item-md.item-input.input-has-focus .item-inner,
ion-item.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
ion-item.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
  border-bottom-color: #dadada;
  box-shadow: none;
}
ion-item {
  --background-focused: transparent !important;
}
/* Workaround to hide window phone default validation colors */
ion-item.item-wp.item-input.input-has-focus .text-input,
ion-item.item-wp.item-input.ng-valid.input-has-value:not(.input-has-focus) .text-input,
ion-item.item-wp.item-input.ng-invalid.ng-touched:not(.input-has-focus) .text-input {
  border: 2px solid #dadada;
}
.list-md.list-inset ion-item:first-child {
  --border-width: 0;
}
$item-md-padding-end: 0;

.followup-modal {
  position: absolute;
  z-index: 20000;
  height: 100%;
  width: 100%;
  ion-backdrop {
    visibility: visible !important;
  }

  .modal-wrapper {
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    top: 25%;
    left: 33%;
    position: absolute;
    width: 600px;
    height: 510px;
  }
}

.alert-danger {
  color: --ion-color-danger !important;
}
