<ion-row>
  <ion-col>
    <app-patient-call-start-button *ngIf="!patient.call.status.started"> </app-patient-call-start-button>
    <app-patient-call-status-controls></app-patient-call-status-controls>
    <app-patient-call-notes></app-patient-call-notes>
    <app-patient-call-questions></app-patient-call-questions>
  </ion-col>
  <ion-col>
    <ng-container></ng-container>
    <app-patient-summary-widget></app-patient-summary-widget>
    <app-patient-call-history-controls></app-patient-call-history-controls>
    <app-patient-call-history-listing></app-patient-call-history-listing>
  </ion-col>
</ion-row>
