// styles
.left-hand-detail {
  max-width: 508px;
  padding-bottom: 50px;

  ion-title {
    padding-left: 0;
    font-family: Avenir;
  }

  .notification-sidebar {
    max-width: 190px;
  }

  ion-title {
    text-align: left;
    margin-left: -2px;
    font-family: AvenirNextLTPro;
    font-size: 34px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.9px;
    text-align: left;
    color: #343638;
    padding-left: 0;
    margin-bottom: 0.125rem;
  }

  ion-content {
    --offset-bottom: auto !important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  ion-textarea {
    --padding-start: 12px;
    height: auto;
    width: 475px;
    margin: 1rem auto;
    font-size: 13px;
    font-family: Avenir;
    background-color: #dedede;
    padding-top: 15px;
  }

  .notification-icon {
    max-width: 35px;
  }

  .notification-info-container {
    float: left;
    width: 100%;
    margin-top: 10px;
    border-bottom: 0.25px solid #b9b9b9;
  }

  .notification-information {
    float: left;
    width: auto;

    .notification-item {
      padding-left: 0;
      margin: 1.25rem 0;
      font-family: Avenir;
      font-size: 13px;
    }
  }

  .patient-name {
    font-family: AvenirNextLTPro;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.76px;
    text-align: left;
    margin-top: 2rem;
    float: left;
    width: 80%;
  }

  .label {
    font-weight: bold;
  }
}
hr {
  height: 1px;
  width: 80%;
  margin: 0 auto;
  background: #bdbdbd;
}

.right-hand-detail {
  margin-left: 75px;
  max-width: 590px;
}
