ion-content {
  margin-top: 92px;
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.left-hand-detail {
  max-width: 508px;
  padding-bottom: 250px;
  margin-left: 98px;
}

.right-hand-detail {
  margin-left: 67px;
  max-width: 590px;
}
