:host {
  margin-top: 30px;
}
ion-content {
  margin-top: 92px;
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
ion-row {
  margin-top: 4rem;
}
.left-hand-detail {
  width: 100%;
  max-width: 625px;
  padding-bottom: 250px;
  margin-left: 45px;
  @media screen and (orientation: portrait) and (max-width: 1024px) {
    margin-left: 33px;
  }
}

.right-hand-detail {
  margin-left: 125px;
  max-width: 590px;
  width: 100%;
  @media screen and (orientation: portrait) and (max-width: 1024px) {
    margin-left: 12px;
    width: 48%;
  }
}
