.left-hand-detail {
  max-width: 508px;
  padding-bottom: 50px;

  .default-faded-questions {
    max-width: 65%;
    margin-left: 25px;
    margin-top: 25px;
  }
}

.right-hand-detail {
  margin-left: 75px;
  max-width: 590px;
}

.call-notes-spacer {
  height: 250px;
  width: 100%;
  display: block;
}
