<ion-content>
  <ion-row>
    <ion-col class="left-hand-detail">
      <app-patient-call-status-controls></app-patient-call-status-controls>
      <!-- Missing Functionality: Selector for app contact -->
      <app-patient-call-start-button
        *ngIf="!selected.patientCall"
        [user]="user"
        [patient]="patient"
        [patientContactNumberId]="selected.patientContactNumberId || 1"
        (patientCallStartEventEmitter)="patientCallStartEventHandler($event)"
      >
      </app-patient-call-start-button>
      <app-patient-call-notes [patientCall]="selected.patientCall"> </app-patient-call-notes>
      <app-patient-call-questions
        *ngIf="selected.patientCall; else noPatientCallQuestions"
        [patientCall]="selected.patientCall"
      ></app-patient-call-questions>
      <ng-template #noPatientCallQuestions>
        <img class="default-faded-questions" src="/assets/faded-questions-bg@2x.png" alt="" />
      </ng-template>
      <app-patient-call-stop-button
        *ngIf="selected.patientCall"
        (patientCallEndEventEmitter)="patientCallEndEventHandler($event)"
      >
      </app-patient-call-stop-button>
    </ion-col>
    <ion-col class="right-hand-detail">
      <ng-container>
        <app-patient-summary-widget *ngIf="operation" [operation]="operation" [patient]="patient">
        </app-patient-summary-widget>
        <app-patient-call-history-controls> </app-patient-call-history-controls>
      </ng-container>
      <app-patient-call-history-listing *ngIf="patient.patientCallCount > 0; else noCalls" [patient]="patient">
      </app-patient-call-history-listing>
      <ng-template #noCalls>
        No calls have been made yet to this patient!
      </ng-template>
      <app-patient-notes [patient]="patient"> </app-patient-notes>
    </ion-col>
  </ion-row>
</ion-content>
