<ion-content>
  <ion-row>
    <ion-col class="left-hand-detail">
      <ion-title>Notification History</ion-title>
      <ion-list class="patient-notification-listings">
        <ion-item *ngFor="let notification of patientNotifications$ | async">
          <div class="notification-info-container">
            <div class="notification-information">
              <div class="notification-item">
                <span class="label">Notification Type:&nbsp;</span>
                {{ notification.notificationTypeLabel }}
              </div>
              <div class="notification-item">
                <span class="label">Date Received:&nbsp;</span>
                {{ notification.notificationCreatedTime | date: 'MM/dd/yyyy':'UTC' }}
              </div>
              <div class="notification-item">
                <span class="label">Care Rep:&nbsp;</span> {{ notification.notificationUserFirstName }}
                {{ notification.notificationUserLastName }}
              </div>
              <div class="notification-item">
                <span class="label">Notification:&nbsp;</span>
                <ion-textarea readonly>{{ notification.notificationMessage }}</ion-textarea>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col class="right-hand-detail">
      <ng-container>
        <app-patient-summary-widget [patient]="patient"> </app-patient-summary-widget>
      </ng-container>
      <app-patient-notes [patient]="patient"> </app-patient-notes>
      <app-patient-call-history-listing *ngIf="patient.patientCalls" [patientCalls]="patient.patientCalls">
      </app-patient-call-history-listing>
    </ion-col>
  </ion-row>
</ion-content>
