<ion-list id="patientCallStatusControls" lines="none" class="patient-call-status-legend">
  <h3>
    Set Call Status
  </h3>
  <ion-item
    *ngFor="let patientCallStatus of patientCallStatuses"
    class="patient-status-control"
    (click)="updatePatientCallStatus(patientCallStatus.patientCallStatusLabelId)"
  >
    <div>
      <i
        class="icon-{{ patientCallStatus.patientCallStatusLabel | lowercase }}"
        [class.active]="patientCall.patientCallStatusLabelId == patientCallStatus.patientCallStatusLabelId"
      ></i>
      <span [class.active]="patientCall.patientCallStatusLabelId == patientCallStatus.patientCallStatusLabelId">{{
        patientCallStatus.patientCallStatusLabel
      }}</span>
    </div>
  </ion-item>
</ion-list>
