::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}
primary-router-outlet {
  position: absolute;
  height: 100vh;
}
ion-content {
  height: 100%;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
#toast-container {
  .toast {
    background-color: #030303;
  }

  .toast-success {
    background-color: rgba(255, 255, 255, 0.4) !important;
    color: white;
  }

  .toast-error {
    background-color: #bd362f;
  }

  .toast-info {
    background-color: #2f96b4;
  }

  .toast-warning {
    background-color: #f89406;
  }
}
