<ul id="call-queue-legend">
  <li>
    <div><i class="icon-contacted"></i><span>Contacted</span></div>
  </li>
  <li>
    <div><i class="icon-left-message"></i><span>Left Message</span></div>
  </li>
  <li>
    <div><i class="icon-no-answer"></i><span>No Answer</span></div>
  </li>
  <li>
    <div><i class="icon-new-discharges"></i><span>New Discharge</span></div>
  </li>
  <li>
    <div><i class="icon-kudos"></i><span>Kudos</span></div>
  </li>
  <li>
    <div><i class="icon-notifications"></i><span>Notification</span></div>
  </li>
  <li>
    <div><i class="icon-final-call"></i><span>Final Call</span></div>
  </li>
</ul>
