:root {
  height: 450px !important;
  width: 645px;
  padding: 75px;
}
.modal-exit-container {
  display: block;
  float: right;
}
.icon-close-modal {
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-right: 10px;
  display: block;
  width: 15px;
  height: 30px;
  background: url("/assets/icon-close-modal@2x.png");
  background-size: 100%;
}

ion-title {
  width: 100%;
  margin-top: 74px;
  margin-bottom: 5px;
  margin-left: 37px;
  font-family: AvenirNextLTPro;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.93;
  letter-spacing: 0.6px;
  text-align: left;
  color: #343638;
}
img.kudos-stars {
  max-width: 120px;
  margin-top: 35px;
  position: absolute;
  right: 5px;
  top: 32px;
  margin-right: 33px;
}
h3 {
  font-family: Avenir;
  font-size: 25px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.48;
  color: var(--ion-color-primary);
  margin-top: 48px;
  margin-right: 38px;
}

span.label {
  font-weight: bold;
  font-family: Avenir;
  font-size: 12px;
  margin-right: 10px;
  &.textarea-label {
    margin-left: 20px;
  }
}

.left-col {
  max-width: 170px;
  float: left;
}
.right-col {
  float: right;
  max-width: 430px;
}

.sidebar-calendar {
  width: 120px;
  height: 90px;
  margin: 40px;

  h4 {
    font-family: AvenirBold;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.86;
    letter-spacing: 1.2px;
    color: var(--ion-color-primary);
  }

  .caption {
    font-family: AvenirBold;
    font-size: 42px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -5px;
    text-align: center;
  }
}
.review-notification-list {
  margin: 0;
  margin-left: 5px;
}
ion-item {
  max-width: 375px;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
}
.textarea-item {
  max-width: 360px;
  margin-left: 20px;
}
ion-textarea {
  min-height: 150px;
  max-width: 360px;
  margin: 0 auto;
  background-color: #f5f5f5;
  margin-top: 0.25rem;
}

.save-button {
  float: right;
  margin-right: 40px;
}

.send-container {
  float: right;
  width: 100%;
  height: auto;
  min-height: 60px;
  display: block;
}
.send-button {
  float: right;
  margin-right: 40px;
}
