.team-feed {
  width: 100%;
}

.divider-line {
  width: 100%;
  min-height: 1px;
  height: 1px;
  display: block;
  border-top: solid 3.9px var(--ion-color-primary);
  border-bottom: none;
}

h3 {
  width: auto;
  float: left;
  font-family: AvenirBold;
  font-size: 21px;
  font-weight: 900;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.01;
  letter-spacing: 3.15px;
  text-align: left;
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--ion-color-primary);
}

.team-listing-headline {
  display: inline-block;
  font-family: AvenirBold;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.65;
  letter-spacing: 1.2px;
  text-align: left;
  color: #9acc38;
  margin-bottom: 1rem;
}

ul.team-filters {
  list-style-type: none;
  display: block;
  width: 100%;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  div {
    display: inline-block;
    padding-left: 16px;

    &.team-name-container {
      width: 84px;
    }

    &.team-role-container {
      margin-left: 250px;
    }

    li {
      cursor: pointer;
      display: inline-block;
      font-family: AvenirDemi;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.31;
      letter-spacing: 0.13px;
      text-align: left;
      color: #222222;
      text-align: center;

      a {
        cursor: pointer;
        font-family: AvenirBold;
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.31;
        letter-spacing: 0.13px;
        text-align: right;
        color: #222222;
        text-decoration: none;
      }

      &.ascending-descending-control {
        .ascending-descending-control-arrow {
          display: block;
          width: 11px;
          height: 11px;
          background-image: url("/assets/icon-list-sort@2x.png");
          background-size: 100%;
          background-repeat: no-repeat;
          margin-top: 6px;

          &.asc {
            transform: rotate(180deg);
            margin-top: 3px;
          }
        }
      }
    }
  }
}

.section-header {
  i {
    width: 17px;
    height: 17px;
    display: inline-block;
    margin-right: 8px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;

    &.icon-new-discharges {
      background-image: url("/assets/icon-new-discharges@2x.png");
    }
  }
}

.operation-teams {
  color: white;
  font-style: normal;
  font-size: 12px;
  line-height: 2.17;
  margin-left: -29px;
  margin-top: -3.5px;
  position: absolute;
}

:host {
  display: block;
  margin-top: 1.65rem;
}

.operation-feed {
  width: 100%;
}

ion-title {
  font-family: AvenirPro;
  font-size: 45px;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.45px;
  text-align: left;
  color: #3f3638;
  padding-left: 0;
}

.operation-sidebar {
  max-width: 172px;
  padding-bottom: 160px;
  margin-left: 26px;
  padding-top: 58px;
}

h1 {
  display: inline-block;
  font-family: AvenirBold;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.65;
  letter-spacing: 1.2px;
  text-align: left;
  color: #9acc38;
  margin-bottom: 1rem;
}

ul.operation-filters {
  list-style-type: none;
  display: block;
  width: 100%;
  padding-left: 16px;
  margin-top: 0;
  margin-bottom: 0;

  div {
    display: inline-block;
    padding-left: 16px;
  }

  li {
    cursor: pointer;
    display: inline-block;
    font-family: AvenirDemi;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.31;
    letter-spacing: 0.13px;
    text-align: left;
    color: #222222;

    a {
      cursor: pointer;
      font-family: AvenirBold;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.31;
      letter-spacing: 0.13px;
      text-align: right;
      color: #222222;
      text-decoration: none;
    }

    &.ascending-descending-control {
      .ascending-descending-control-arrow {
        display: block;
        width: 11px;
        height: 11px;
        background-image: url("/assets/icon-list-sort@2x.png");
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 6px;

        &.asc {
          transform: rotate(180deg);
          margin-top: 3px;
        }
      }
    }
  }
}

table.team-member-table {
  list-style-type: none;
  width: 100%;
  padding-left: 0;

  td,
  th {
    text-align: left;
  }

  td {
    border: 1px solid rgba(217, 217, 217, 0.8);
    padding: 15px 16px;
    cursor: pointer;
    width: auto;
    border-top: solid 1px black;
    background-color: #ffffff;
    display: table-cell;
    font-family: "Avenir";

    tr {
      border-bottom: 1px solid #dfdfdf;
      padding-left: 16px;

      td {
        display: table-cell;
        vertical-align: middle;
      }

      &.archived {
        opacity: 0.6;
      }

      padding-left: 20px;
    }
  }

  img.post-it-note {
    max-width: 30px;
    margin: 0 auto;
    text-align: center;
    display: block;
  }
}

jw-pagination {
  width: 100%;
  margin-top: 0.75rem;
  display: block;
  text-align: right;
}
