<h1 class="team-listing-headline">TEAM</h1>
<table class="team-member-table">
  <thead>
    <tr>
      <th>
        <div class="status-filter-container">
          <ul class="operation-filters">
            <li class="status-filter">
              <a>
                Hired
              </a>
            </li>
            <li class="ascending-descending-control">
              <i
                class="ascending-descending-control-arrow"
                [class.asc]="selectedSortFlag == 'asc'"
                [class.desc]="selectedSortFlag == 'desc'"
                (click)="toggleAscDesc()"
              >
              </i>
            </li>
          </ul>
        </div>
      </th>
      <th>
        <div class="status-filter-container">
          <ul class="operation-filters">
            <li class="status-filter">
              <a>
                Name
              </a>
            </li>
            <li class="ascending-descending-control">
              <i
                class="ascending-descending-control-arrow"
                [class.asc]="selectedSortFlag == 'asc'"
                [class.desc]="selectedSortFlag == 'desc'"
                (click)="toggleAscDesc()"
              >
              </i>
            </li>
          </ul>
        </div>
      </th>
      <th>
        <div class="status-filter-container">
          <ul class="operation-filters">
            <li class="status-filter">
              <a>
                Position
              </a>
            </li>
            <li class="ascending-descending-control">
              <i
                class="ascending-descending-control-arrow"
                [class.asc]="selectedSortFlag == 'asc'"
                [class.desc]="selectedSortFlag == 'desc'"
                (click)="toggleAscDesc()"
              >
              </i>
            </li>
          </ul>
        </div>
      </th>
      <th>
        <div class="status-filter-container">
          <ul class="operation-filters">
            <li class="status-filter">
              <a>
                Birthday
              </a>
            </li>
            <li class="ascending-descending-control">
              <i
                class="ascending-descending-control-arrow"
                [class.asc]="selectedSortFlag == 'asc'"
                [class.desc]="selectedSortFlag == 'desc'"
                (click)="toggleAscDesc()"
              >
              </i>
            </li>
          </ul>
        </div>
      </th>
      <th>
        <div class="status-filter-container">
          <ul class="operation-filters">
            <li class="status-filter">
              <a>
                Language
              </a>
            </li>
            <li class="ascending-descending-control">
              <i
                class="ascending-descending-control-arrow"
                [class.asc]="selectedSortFlag == 'asc'"
                [class.desc]="selectedSortFlag == 'desc'"
                (click)="toggleAscDesc()"
              >
              </i>
            </li>
          </ul>
        </div>
      </th>
      <th>
        <div class="status-filter-container">
          <ul class="operation-filters">
            <li class="status-filter">
              <a> </a>
            </li>
          </ul>
        </div>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let teamMember of teamMembers" class="active">
      <td class="listing-body-cell">
        <div class="team-member-information">
          <span class="team-member-hired">
            00/00/00
          </span>
        </div>
      </td>
      <td class="listing-body-cell">
        <div>
          <span class="team-member-name">
            {{ teamMember.teamMemberFirstName }} {{ teamMember.teamMemberLastName }}
          </span>
        </div>
      </td>
      <td class="listing-body-cell">
        <div>
          <span class="team-member-role">
            {{ teamMember.teamMemberRoleLabel }}
          </span>
        </div>
      </td>
      <td class="listing-body-cell">
        <div>
          <span class="team-member-birthday">
            {{ teamMember.teamMemberBirthday ? teamMember.teamMemberBirthday : 'Not Provided' }}
          </span>
        </div>
      </td>
      <td class="listing-body-cell">
        <div>
          <span class="team-member-languages">
            {{ teamMember.teamMemberLanguages ? teamMember.teamMemberLanauges : 'Not Provided' }}
          </span>
        </div>
      </td>
      <td class="listing-body-cell">
        <div>
          <span class="post-it-note" (click)="postItModal(teamMember)">
            <img class="post-it-note" src="/assets/icon-post-it@2x.png" alt="" />
          </span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<jw-pagination
  *ngIf="teamMembersFiltered"
  [items]="teamMembersFiltered"
  (changePage)="onChangePage($event)"
></jw-pagination>

<ng-template #noTeamMembers>
  Sorry! No team members are assigned to this team!
</ng-template>
