<h1 class="team-listing-headline">TEAM</h1>
<ul class="team-filters ">
  <div class="team-name-container">
    <li class="name-filter">
      <a (click)="sortTeamMembersByTeamMemberName(selectedSortFlag)">
        Name
      </a>
    </li>

    <li class="ascending-descending-control">
      <i
        class="ascending-descending-control-arrow"
        [class.asc]="selectedSortFlag == 'asc'"
        [class.desc]="selectedSortFlag == 'desc'"
        (click)="toggleAscDesc()"
      >
      </i>
    </li>
  </div>
  <div class="team-role-container">
    <li>
      <a (click)="sortTeamMembersByTeamMemberRole(selectedSortFlag)">
        Role
      </a>
    </li>
    <li>
      <span class="ascending-descending-control">
        <i
          class="ascending-descending-control-arrow"
          [class.asc]="selectedSortFlag == 'asc'"
          [class.desc]="selectedSortFlag == 'desc'"
          (click)="toggleAscDesc()"
        >
        </i>
      </span>
    </li>
  </div>
</ul>

<ion-list class="team-member-list" lines="none" *ngIf="teamMembers">
  <ion-item
    *ngFor="let teamMember of pageOfItems"
    class="active"
    [routerLink]="'/teams/' + teamMember.teamId + '/members/' + teamMember.userTeamId"
  >
    <div class="team-member-information">
      <span class="team-member-name">
        <a [routerLink]="'/teams/' + teamMember.teamId + '/members/' + teamMember.userTeamId">
          {{ teamMember.teamMemberFirstName }} {{ teamMember.teamMemberLastName }}
        </a>
      </span>
      <span class="team-member-role">
        {{ teamMember.teamMemberRoleLabel }}
      </span>
    </div>
  </ion-item>
</ion-list>
<jw-pagination
  *ngIf="teamMembersFiltered"
  [items]="teamMembersFiltered"
  (changePage)="onChangePage($event)"
></jw-pagination>

<ng-template #noTeamMembers>
  Sorry! No team members are assigned to this team!
</ng-template>
