<!-- Our lefthand sidebar -->
<ion-row>
  <ion-col class="call-queue-sidebar">
    <div class="call-queue-sidebar-calendar">
      <h4>TODAY'S DATE</h4>
      <div class="caption">28</div>
    </div>

    <a class="facility-dropdown-target">MY FACILITIES</a>
    <i class="expand-facilities-trigger" (click)="toggleOperationSidebarMenu()"></i>
    <!-- <app-sidebar-call-queue-operations></app-sidebar-call-queue-operations> -->
    <ul class="facility-dropdown-list">
      <!-- {operation.dischargeNumber}; -->
      <li class="active">Camp Verde <span class="icon-discharge-counter">[09]</span></li>
      <li>Cottonwood <span class="number">[07]</span></li>
      <li>Safford <span class="number">[13]</span></li>
      <li>Yuma <span class="number">[11]</span></li>
    </ul>
    <!-- <call-queue-sidebar></call-queue-sidebar> -->
  </ion-col>
  <ion-col class="call-queue-content">
    <ion-grid>
      <ion-row>
        <ion-title>Call Queue</ion-title>
      </ion-row>
      <ion-row>
        <!-- <call-queue-legend></call-queue-legend> -->
        <ul id="call-queue-legend">
          <li>
            <div><i class="icon-contacted"></i><span>Contacted</span></div>
          </li>
          <li>
            <div><i class="icon-left-message"></i><span>Left Message</span></div>
          </li>
          <li>
            <div><i class="icon-no-answer"></i><span>No Answer</span></div>
          </li>
          <li>
            <div><i class="icon-new-discharges"></i><span>New Discharge</span></div>
          </li>
          <li>
            <div><i class="icon-kudos"></i><span>Kudos</span></div>
          </li>
          <li>
            <div><i class="icon-notifications"></i><span>Notification</span></div>
          </li>
          <li>
            <div><i class="icon-final-call"></i><span>Final Call</span></div>
          </li>
        </ul>
      </ion-row>
      <ion-row>
        <ion-col class="call-queue-feed-wrapper">
          <!-- <app-call-queue-patient-listing></app-call-queue-patient-listing> -->
        </ion-col>
        <ion-col>
          <!-- <app-call-queue-call-history-calendar></app-call-queue-call-history-calendar> -->
          <!-- <app-call-queue-patient-filter></app-call-queue-patient-filter> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-col>
</ion-row>
