<!-- Our lefthand sidebar -->
<ion-row>
  <ion-col class="call-queue-sidebar">
    <app-call-queue-sidebar></app-call-queue-sidebar>
  </ion-col>
  <ion-col class="call-queue-content">
    <ion-grid>
      <ion-row>
        <ion-title>Call Queue</ion-title>
      </ion-row>
      <ion-row>
        <app-call-queue-legend></app-call-queue-legend>
      </ion-row>
      <ion-row>
        <ion-col class="call-queue-feed-wrapper">
          <!-- <app-call-queue-patient-listing></app-call-queue-patient-listing> -->
        </ion-col>
        <ion-col>
          <app-call-queue-call-history-calendar></app-call-queue-call-history-calendar>
          <app-call-queue-patient-filter></app-call-queue-patient-filter>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-col>
</ion-row>
