ion-title {
  font-family: AvenirNextLTPro;
  font-size: 41px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.9px;
  text-align: left;
  color: #3f3638;
  padding-left: 0;
}

.call-queue-sidebar {
  max-width: 172px;
  padding-bottom: 160px;
  margin-left: 26px;
}

.call-queue-content {
  margin-left: 104px;
  margin-bottom: 16rem;
  margin-top: 2rem;
  ion-grid {
    height: 100%;

    ion-row.call-queue-row {
      height: 100%;
      margin-top: 2rem;
    }
  }
}

.call-queue-feed-wrapper {
  max-width: 392px;
  margin-right: 90px;
}
