ion-title {
  font-family: AvenirPro;
  font-size: 45px;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.45px;
  text-align: left;
  color: #3f3638;
  padding-left: 0;
}

.call-queue-sidebar {
  max-width: 172px;
  padding-bottom: 160px;
  margin-left: 26px;
}

.call-queue-content {
  margin-left: 104px;
  margin-bottom: 16rem;
  margin-top: 2rem;
  ion-grid {
    height: 100%;

    ion-row.call-queue-row {
      height: 100%;
      margin-top: 2rem;
    }
  }
}

.call-queue-feed-wrapper {
  max-width: 532px;
}
