ion-title {
  font-family: AvenirNextLTPro;
  font-size: 45px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.9px;
  text-align: left;
  color: var(--ion-color-primary-contrast);
  padding-left: 0;
}

.call-queue-sidebar {
  max-width: 175px;

  .call-queue-sidebar-calendar {
    h4 {
      margin-bottom: 0;
    }
    .caption {
      text-align: center;
      width: 100%;
      font-size: 120px;
      font-weight: bolder;
    }
  }

  .facility-dropdown-target {
    width: 154.9px;
    height: 28.7px;
    font-family: AvenirNextLTPro;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.05;
    letter-spacing: 2.25px;
    text-align: right;
    color: var(--ion-color-primary);
  }

  .facility-dropdown-list {
    list-style-type: none;

    li {
      &.active {
        font-weight: bold;
      }
      font-family: AvenirNextLTPro;
      font-size: 11.8px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      text-transform: uppercase;
      line-height: 2.88;
      letter-spacing: 0.53px;
      text-align: right;
      color: #8e8e93;
      a {
      }
    }
  }
}

.divider-line {
  width: 100%;
  height: 1px;
  display: block;
  border-top: solid 3.9px var(--ion-color-primary);
}

.call-queue-content {
  padding-left: 60px;
}
#call-queue-legend {
  list-style-type: none;

  li {
    display: inline-block;
    height: 17px;
    margin-right: 35px;
    width: auto;

    i {
      width: 17px;
      height: 17px;
      display: inline-block;
      margin-right: 8px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      &.icon-contacted {
        // background-image: url("/assets/icon-contacted.png");
      }
      &.icon-left-message {
        // background-image: url("/assets/icon-left-message.png");
      }
      &.icon-no-answer {
        // background-image: url("/assets/icon-no-answer.png");
      }
      &.icon-new-discharges {
        // background-image: url("/assets/icon-new-discharges.png");
      }
      &.icon-notifications {
        background-image: url("/assets/icon-notifications.png");
      }
      &.icon-final-call {
        // background-image: url("/assets/icon-final-call.png");
      }
    }

    span {
      font-family: Avenir;
      font-size: 13.5px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.63;
      letter-spacing: normal;
      text-align: left;
      color: var(--charcoal-grey);
    }
  }
}

h3 {
  font-family: AvenirBold;
  font-size: 21px;
  font-weight: 900;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.01;
  letter-spacing: 3.15px;
  text-align: left;
  text-transform: uppercase;
  color: var(--ion-color-primary);
}
.call-queue-patient-list {
  list-style-type: none;
  width: 100%;
  height: auto;
  max-width: 431px;
  li {
    cursor: pointer;
    width: 100%;
    height: 96px;
    &.active {
      opacity: 0.1;
      background-color: #08c400;
    }
    ul {
      list-style-type: none;
    }
    div {
      display: inline-block;
      width: auto;
      height: 100%;
      color: black;
    }
  }
}
.call-history-container {
  height: 250px;
}
.patient-filter {
  .patient-filter-results {
    ul {
      list-style-type: none;
    }
  }
  .divider {
    width: 333px;
    height: 1px;
    background-color: #c8c7cc;
  }
}
