.call-question {
  font-family: Avenir;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.42px;
  text-align: left;
}
.call-question-rating {
  width: 24.5px;
  height: 23px;
  margin-right: 20px;
  border-radius: 3px;
  border: solid 1px var(--charcoal-grey);
  background-color: #ffffff;
}
