.notification-feed {
  width: 100%;
}

.divider-line {
  width: 100%;
  min-height: 1px;
  height: 1px;
  display: block;
  border-top: solid 3.9px var(--ion-color-primary);
  border-bottom: none;
}

h3 {
  width: auto;
  float: left;
  font-family: AvenirBold;
  font-size: 21px;
  font-weight: 900;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.01;
  letter-spacing: 3.15px;
  text-align: left;
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--ion-color-primary);
}

table {
  list-style-type: none;
  width: 100%;
  min-width: 850px;
  max-width: 1020px;
  padding-left: 0;
  margin-bottom: 0.75rem;
  thead {
    th {
      padding-left: 15px;
      font-family: "AvenirBold";
      font-size: 15px;
      text-transform: uppercase;
    }
  }
  tbody {
    border-top: 1px solid black;
  }

  td,
  th {
    text-align: left;
  }

  td {
    height: 50px;
    padding: 0 15px;
    border-left: 1px solid rgba(217, 217, 217, 0.8);
    border-right: 1px solid rgba(217, 217, 217, 0.8);
    border-bottom: 1px solid rgba(217, 217, 217, 0.8);
    cursor: pointer;
    width: auto;

    background-color: #ffffff;
    display: table-cell;
    font-family: "Avenir";
    .notification-icon {
      width: 21px;
      height: 21px;
      &.candidate {
      }
      &.assist {
      }
      &.hospital {
      }
      &.legal {
      }
      &.feedback {
      }
    }
  }

  tr {
    padding-left: 16px;
    &:hover {
      td {
        background-color: rgba(19, 175, 233, 0.15);
      }
    }

    td {
      display: table-cell;
      vertical-align: middle;
    }

    &.archived {
      opacity: 0.6;
    }

    padding-left: 20px;
  }
}

jw-pagination {
  width: 100%;
  display: block;
  text-align: right;
}
