.listing-controls {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 1.5rem;
}
table {
  list-style-type: none;
  width: 95%;
  min-width: 850px;
  padding-left: 0;
  margin-bottom: 0.75rem;

  thead {
    th {
      padding-left: 15px;
      font-family: "AvenirBold";
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 0.3px;
      line-height: 12.9px;
    }

    ::after {
      content: "";
      display: block;
      height: 0.25em;
      width: 100%;
      background: white;
    }
  }

  td,
  th {
    text-align: left;
  }

  tbody {
    border-top: 1px solid black;

    td {
      height: 50px;
      padding: 0 15px;
      border-left: 1px solid rgba(217, 217, 217, 0.8);
      border-right: 1px solid rgba(217, 217, 217, 0.8);
      border-bottom: 1px solid rgba(217, 217, 217, 0.8);
      cursor: pointer;
      width: auto;

      background-color: #ffffff;
      display: table-cell;
      font-family: "Avenir";

      .notification-icon {
        width: 21px;
        height: 21px;
        background-size: cover;
        display: inline-block;
        vertical-align: bottom;
        margin-right: 8px;
        &.Candidate {
          background-image: url("/assets/icon-candidate-lg@2x.png");
        }

        &.Assistance {
          background-image: url("/assets/icon-assist-lg@2x.png");
        }

        &.Hospital {
          background-image: url("/assets/icon-hospital-lg@2x.png");
        }

        &.Litigation {
          background-image: url("/assets/icon-legal-lg@2x.png");
        }

        &.Feedback {
          background-image: url("/assets/icon-feedback-lg@2x.png");
        }
        &.Death {
          background-image: url("/assets/icon-death-lg@2x.png");
        }
      }
    }

    tr {
      padding-left: 16px;

      &:hover {
        td {
          background-color: rgba(19, 175, 233, 0.15);
        }
      }

      td {
        display: table-cell;
        vertical-align: middle;
      }

      &.archived {
        opacity: 0.6;
      }

      padding-left: 20px;
    }
  }
}

jw-pagination {
  width: 100%;
  display: block;
  text-align: right;
}
