<h1 class="notifications-listing-headline">NOTIFICATIONS</h1>
<ul class="notification-filters ">
  <li class="notification-date">
    <a (click)="sortNotificationsByNotificationDate(selectedSortFlag)">Date</a>
  </li>
  <li class="patient-filter">
    <a (click)="sortNotificationsByPatient(selectedSortFlag)">
      Patient
    </a>
  </li>
  <li>
    <span class="ascending-descending-control">
      <i
        class="ascending-descending-control-arrow"
        [class.asc]="selectedSortFlag == 'asc'"
        [class.desc]="selectedSortFlag == 'desc'"
        (click)="toggleAscDesc()"
      >
      </i>
    </span>
  </li>
  <li class="type-filter">
    <a (click)="sortNotificationsByNotificationType(selectedSortFlag)">
      Type
    </a>
  </li>
</ul>

<ion-list class="notification-patient-list" lines="none" *ngIf="notifications">
  <ion-item
    *ngFor="let notification of pageOfItems"
    class="active"
    [routerLink]="'/notifications/' + notification.notificationId"
  >
    <div class="notification-date">
      {{ notification.notificationCreatedTime | date: 'MM/dd/yy':'UTC' }}
    </div>
    <div class="notification-patient-information">
      <span class="notification-patient-name">
        <a [routerLink]="'/notifications/' + notification.notificationId">
          {{ notification.notificationPatientFirstName }} {{ notification.notificationPatientLastName }}
        </a>
      </span>
    </div>
    <div class="notification-type">
      <img src="{{ notification.notificationIconImage }}" />
      <span>{{ notification.notificationTypeLabel }} </span>
    </div>
  </ion-item>
</ion-list>
<jw-pagination
  *ngIf="notificationsFiltered"
  [items]="notificationsFiltered"
  (changePage)="onChangePage($event)"
></jw-pagination>

<ng-template #noNotifications>
  Sorry! No notifications exist for this operation!
</ng-template>
