<h1 class="notifications-listing-headline">NOTIFICATIONS</h1>
<table class="notification-table">
  <thead>
    <tr>
      <th>
        Date
      </th>
      <th>
        Patient
      </th>
      <th>
        Type
      </th>
      <th>
        Care Rep
      </th>
      <th>
        Status
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let notification of pageOfItems" class="active">
      <td>
        {{ notification.notificationCreatedTime | date: 'MM/dd/yy':'UTC' }}
      </td>
      <td [routerLink]="'/notifications/' + notification.notificationId">
        {{ notification.notificationPatientFirstName }} {{ notification.notificationPatientLastName }}
      </td>
      <td>
        <img src="{{ notification.notificationIconImage }}" />
        <span>{{ notification.notificationTypeLabel }} </span>
      </td>
      <td>
        {{ notification.notificationCreatedByUser }}
      </td>
      <td>
        <span>{{ notification.notificationStatus }} </span>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #noNotifications>
  Sorry! No notifications exist for this operation!
</ng-template>
