.notification-feed {
  width: 100%;
}

.divider-line {
  width: 100%;
  min-height: 1px;
  height: 1px;
  display: block;
  border-top: solid 3.9px var(--ion-color-primary);
  border-bottom: none;
}

h3 {
  width: auto;
  float: left;
  font-family: AvenirBold;
  font-size: 21px;
  font-weight: 900;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.01;
  letter-spacing: 3.15px;
  text-align: left;
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--ion-color-primary);
}

.notifications-listing-headline {
  display: inline-block;
  font-family: AvenirBold;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.65;
  letter-spacing: 1.2px;
  text-align: left;
  color: #9acc38;
  margin-bottom: 0;
}

ul.notification-filters {
  list-style-type: none;
  display: block;
  width: 100%;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  li {
    cursor: pointer;
    display: inline-block;
    font-family: AvenirNextLtPro;
    font-weight: normal;
    font-style: normal;
    vertical-align: top;
    font-stretch: normal;
    line-height: 2.88;
    letter-spacing: 0.53px;
    text-align: center;

    a {
      cursor: pointer;
      font-family: AvenirBold;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.31;
      letter-spacing: 0.13px;
      text-align: right;
      color: #222222;
      text-decoration: none;
    }

    &.ascending-descending-control {
      .ascending-descending-control-arrow {
        display: block;
        width: 11px;
        height: 11px;
        background-image: url("/assets/icon-list-sort@2x.png");
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 6px;

        &.asc {
          transform: rotate(180deg);
          margin-top: 3px;
        }
      }
    }
  }
}

.section-header {
  i {
    width: 17px;
    height: 17px;
    display: inline-block;
    margin-right: 8px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;

    &.icon-new-discharges {
      background-image: url("/assets/icon-new-discharges@2x.png");
    }
  }
}

.operation-notifications {
  color: white;
  font-style: normal;
  font-size: 12px;
  line-height: 2.17;
  margin-left: -29px;
  margin-top: -3.5px;
  position: absolute;
}

.notification-patient-list {
  clear: both;
  list-style-type: none;
  width: 100%;
  padding-left: 0;

  ion-item {
    --padding-top: 15px;
    --padding-bottom: 15px;
    height: 65px;
    cursor: pointer;
    width: 100%;
    border-top: solid 1.5px #bbbbbb;
    border-bottom: solid 1.5px #bbbbbb;
    background-color: #ffffff;
    display: table;

    &:active {
      background-color: #00b4b9;
    }

    ul {
      padding-left: 0;
      list-style-type: none;
    }

    &:nth-child(even) {
      background-color: white;
    }

    &:nth-child(odd) {
      background-color: #c8c8c8;
    }

    &:hover {
      background-color: rgba(19, 175, 233, 0.35);
    }

    .notification-date {
      font-family: AvenirBold;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.06;
      letter-spacing: 0.64px;
      text-align: left;
      color: #222222;
      margin-right: 25px;
    }
    .notification-patient-information {
      font-family: AvenirPro;
      font-size: 16px;
      font-weight: 500;
      width: 150px;
      margin-right: 36px;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #222222;
      text-transform: capitalize;

      a {
        color: #343638;
        text-decoration: none;
      }
    }

    .notification-type {
      display: block;
      font-family: Avenir;
      font-size: 16px;

      img {
        max-width: 20px;
        margin-right: 6px;
      }

      img,
      span {
        display: inline-block;
      }
    }
    .notification-status {
      font-family: AvenirPro;
      display: block;
      width: 21px;
      height: 21px;
      font-size: 16px;
      font-weight: 500;
      margin-right: 36px;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #222222;
    }
  }
}

jw-pagination {
  width: 100%;
  display: block;
  text-align: right;
}
