<h3 class="section-header">
  <i class="icon-new-discharges" *ngIf="operation?.currentNewNotificationCount"> </i>
  <span class="operation-discharges">
    {{ operation?.currentNewNotificationCount }}
  </span>
  {{ operation?.operationName }}
</h3>
<ion-item-divider class="divider-line"></ion-item-divider>
<ul class="patient-filters">
  <li class="ion-float-left">
    <a (click)="sortNotificationsByDate()">[Date]</a>
    <span class="ascending-descending-control">
      <i class="ascending-descending-control-arrow" (click)="toggleAscDesc()"> </i>
    </span>
  </li>
  <li>
    <a (click)="sortNotificationsByPatient()">[Patient]</a>
  </li>
  <li>
    <a (click)="sortNotificationsByType()">[Type]</a>
    <span class="ascending-descending-control">
      <i class="ascending-descending-control-arrow" (click)="toggleAscDesc()"> </i>
    </span>
  </li>
  <li>
    <a (click)="sortNotificationsByStatus()">[Resolved]</a>
    <span class="ascending-descending-control">
      <i class="ascending-descending-control-arrow" (click)="toggleAscDesc()"> </i>
    </span>
  </li>
</ul>

<ul class="notification-patient-list">
  <li
    *ngFor="let notification of notifications$ | async"
    class="active"
    [routerLink]="'/notifications/' + notification.notificationPatientId"
  >
    <div class="notification-date">
      {{ notification.notificationCreated }}
    </div>

    <div class="notification-patient-information">
      <span class="notification-patient-name">
        <a [routerLink]="'/notifications/' + notification.notificationId">
          {{ notification.patientFirstName }} {{ notification.patientLastName }}
        </a>
      </span>
    </div>
    <div class="notification-type">
      <img src="{{ notification.notificationIconImage }} /" />
      <span>{{ notification.notificationTypesLabel }} </span>
    </div>
    <div class="notification-status">
      <!-- <img src="{{ notification.notificationStatus }} /" /> -->
      <span>{{ notification.notificationStatusLabel }} </span>
    </div>
  </li>
</ul>
