.patient-call-question-list {
  margin-top: -10px;
  list-style-type: none;
  padding-left: 0;
}

.call-question-icon {
  width: 20px;
  height: 20px;
  margin-right: 19px;
  float: left;
}

.call-question-body-container {
  height: auto;
  margin-bottom: 50px;
}

.call-question {
  font-family: Avenir;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.42px;
  text-align: left;
}

.call-question-answers {
  ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 18px;
  }
}

.call-question-rating {
  display: inline-block;
  text-align: center;
  width: 24.5px;
  height: 23px;
  margin-right: 20px;
  border-radius: 3px;
  border: solid 1px #343638;
}

.rating {
  ion-radio-group {
    ion-item {
      width: auto;
      display: inline-block;
    }

    ion-radio {
      margin-right: 8px;
    }

    ion-label {
      display: block !important;
      width: 100% !important;
      margin-right: 0 !important;
    }
  }
}

.boolean,
.rating {
  margin: 0;

  ion-radio-group {
    ion-item {
      display: inline-block;
    }

    ion-label {
      font-size: 16px;
      line-height: 31px;
      font-family: Avenir;
      display: inline-block;
      margin-right: 1.5rem;
    }

    ion-radio {
      display: inline-block;
      margin-right: 8px;
    }
  }
}

.boolean {
  ion-item {
    width: auto;
    display: inline-block;
  }
  ion-radio {
    margin-right: 8px;
  }
}
.overlay {
  position: absolute;

  &.active {
    display: block;
    background: rgba(255, 255, 255, 0.5);
    height: 800px;
    width: 470px;
    z-index: 1000;
    background-size: 100%;
  }
}
