.patient-call-question-list {
  margin-top: -10px;
  list-style-type: none;
  padding-left: 0;
}

.call-question-icon {
  width: 20px;
  height: 20px;
  margin-right: 19px;
  float: left;
}
.call-question-body-container {
  height: auto;
  margin-bottom: 50px;
}

.call-question {
  font-family: Avenir;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.42px;
  text-align: left;
}

.call-question-answers {
  ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 18px;
  }
}

.call-question-rating {
  display: inline-block;
  text-align: center;
  width: 24.5px;
  height: 23px;
  margin-right: 20px;
  border-radius: 3px;
  border: solid 1px #343638;
}

.boolean {
  ion-radio-group {
    ion-item {
      display: inline-block;
    }
    ion-label {
      font-size: 16px;
      line-height: 31px;
      font-family: Avenir;
      display: inline-block;
      margin-right: 1.5rem;
    }
    ion-radio {
      display: inline-block;
      margin-right: 8px;
    }
  }
}
