.patient-call-question-list {
  width: calc(100% - 20px);
  list-style-type: none;
  padding-left: 0;
}

.ion-scroll-questions {
  height: 400px;
}

i.icon-question-mark {
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 10px;
  background: url("/assets/icon-question-mark@2x.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.call-question-body-container {
  height: auto;
  margin-bottom: 36px;
  width: 100%;
  text-align: left;
}

ion-item.call-question {
  ion-label {
    display: inline-block;
    font-family: Avenir;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.42px;
    width: auto;
  }

  .patient-call-question-label {
    font-family: Avenir;
    font-size: 14px;
    font-weight: bold;
  }

  ion-radio-group {
    display: inline-block;
  }

  --inner-padding-start: 0;
  --padding-end: 0;
  --highlight-color-focused: transparent;
  --highlight-color-valid: transparent;

  .call-question {
    font-family: Avenir;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.42px;
    text-align: left;
    border-bottom: none;
    vertical-align: middle;

    ion-label {
      white-space: initial;
      overflow: auto;
    }

    ion-textarea {
      width: 100%;
      border-bottom: none;
      min-height: 80px;
      font-size: 15px;
      font-family: Avenir;
      background-color: #f5f5f5;
      margin-top: 1.25rem;
      padding-left: 8px;
    }
  }
}

.is-highlighted {
  width: auto;
  border-bottom: yellow 3px solid;
}

.call-question-answers {
  ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 18px;
  }
}

.boolean-question {
  display: inline-block;
}
.boolean {
  margin: 0;
  vertical-align: bottom;

  ion-item {
    vertical-align: bottom;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    margin-right: 10px;
    width: auto !important;
    max-width: 20px;
    display: inline-block;
  }

  ion-checkbox {
    height: 14px;
    width: 14px;
  }

  ion-label {
    font-family: AvenirPro;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
  }
}

.boolean {
  display: inline-block;
}
