<!-- little bg overlay that has to be absolute to go above the z-index of ion-items -->
<div
  class="overlay"
  [class.active]="
    patientCall.patientCallStatusLabel == 'Scheduled' || patientCall.patientCallStatusLabel == 'Not Scheduled'
  "
></div>
<div class="call-question-icon">
  <i class="icon-question-mark"></i>
</div>
<ion-list lines="none" class="patient-call-question-list">
  <ion-item *ngFor="let question of questions$ | async">
    <div class="call-question-body-container">
      <div class="call-question">
        <ng-container *ngIf="question.patientQuestionTypeLabel == 'rating'">
          {{ question.patientCallQuestion }}
          <ion-list inset lines="none">
            <ion-item *ngFor="let rating of [1, 10]">
              <ion-button>
                {{ rating }}
              </ion-button>
            </ion-item>
          </ion-list>
        </ng-container>
        <ng-container *ngIf="question.patientQuestionTypeLabel == 'boolean'">
          {{ question.patientCallQuestion }}
          <ion-list lines="none">
            <ion-item class="boolean">
              <ion-radio-group>
                <ion-radio class="radio-yes"> </ion-radio>
                <ion-label>
                  Yes
                </ion-label>
                <ion-radio class="radio-no"> </ion-radio>
                <ion-label>
                  No
                </ion-label>
              </ion-radio-group>
            </ion-item>
          </ion-list>
        </ng-container>
        <ng-container *ngIf="question.patientQuestionTypeLabel == 'textarea'">
          {{ question.patientCallQuestion }}
          <ion-textarea> </ion-textarea>
        </ng-container>
      </div>
    </div>
  </ion-item>
</ion-list>
