:host {
  height: auto;
  margin-bottom: 0.5rem;
  width: 100%;
  display: block;
  text-align: center;
}
.add-photo {
  margin-top: 0.75rem;
  cursor: pointer;
}
.hidden-input {
  display: none;
}

.user-avatar-image {
  width: 252px;
  height: 302px;
  cursor: pointer;
  border: 10px solid white;
  background-image: url("/assets/photo-mask@2x.png");
  background-size: 230px 280px;
  background-repeat: no-repeat;
  background-position: center center;
}
