:host {
  height: auto;
  margin-bottom: 0.5rem;
  width: 100%;
  display: block;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.add-photo {
  display: block;
  text-align: center;
  margin-top: 0.75rem;
  cursor: pointer;

  &.hidden {
    display: none;
    margin-top: 0 !important;
  }
}

.hidden-input {
  display: none;
}

.photo-frame {
  background-image: url("/assets/photo-frame@2x.png");
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  @media screen and (orientation: portrait) and (max-width: 1024px) {
    width: 162px;
    height: 193px;
    margin: 0 auto;
  }
}

.user-avatar-image {
  cursor: pointer;
  background-image: url("/assets/photo-mask@2x.png");
  // background-size: 230px 280px;

  @media screen and (max-width: 1024px) and (orientation: portrait) {
    height: 192px;
    background-size: 136px 165px;
  }
  height: 255px;
  cursor: pointer;
  background-image: url(/assets/photo-mask@2x.png);
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-position: 50% 12px;
}

button {
  margin: 0.5rem auto;
}
