:host {
  height: auto;
  margin-bottom: 0.5rem;
  width: 100%;
  display: block;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.add-photo {
  display: block;
  text-align: center;
  margin-top: 0.75rem;
  cursor: pointer;

  &.hidden {
    display: none;
    margin-top: 0 !important;
  }
}

.hidden-input {
  display: none;
}

.photo-frame {
  background-image: url("/assets/photo-frame@2x.png");
  width: 262px;
  height: 312px;
  background-size: cover;
  background-repeat: no-repeat;
}

.user-avatar-image {
  height: 302px;
  cursor: pointer;
  background-image: url("/assets/photo-mask@2x.png");
  background-size: 230px 280px;
  background-repeat: no-repeat;
  background-position: center center;
}

button {
  margin: 0 auto;
  clear: both;
  text-align: center;
  height: 30px;
  width: 170px;
  background-image: url("/assets/button-add-photo@2x.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
