<img class="user-avatar-image" *ngIf="avatarExists; else defaultAvatar" [src]="avatarUrl" />
<ng-template #defaultAvatar>
  <img src="/assets/default-avatar-patient-detail.png" />
</ng-template>
<div class="form-group">
  <div>
    <input
      type="file"
      class="hidden-input"
      name="avatarBlob"
      id="fileUpload"
      (change)="uploadUserAvatarPhoto($event.target.files)"
    />
  </div>
  <ion-button class="add-photo" (click)="clickUploadInput()" fill="outline">
    Change Photo
  </ion-button>
</div>
