<ion-content>
  <ion-row>
    <ion-col class="notification-sidebar">
      <app-notification-listing-sidebar (operationChangeEvent)="operationChangeEventHandler($event)">
      </app-notification-listing-sidebar>
    </ion-col>
    <ion-col class="notification-content-wrapper">
      <ion-title class="ion-float-left">
        {{ notification.notificationTypeLabel }}
      </ion-title>
      <img class="ion-float-left notification-icon" src="{{ notification.notificationIconImage }}" />

      <div class="notification-listing-avatar" *ngIf="patient">
        <app-patient-avatar [patient]="patient"></app-patient-avatar>
      </div>

      <div class="notification-info-container">
        <div class="patient-name">
          {{ notification.notificationPatientFirstName }} {{ notification.notificationPatientLastName }}
        </div>
        <div class="notification-information">
          <div class="notification-item">
            <span class="label">Operation:&nbsp;</span>
            {{ notification.notificationOperationName }}
          </div>
          <div class="notification-item">
            <span class="label">Date Received:&nbsp;</span>
            {{ notification.notificationCreatedTime | date: 'MM/dd/yyyy':'UTC' }}
          </div>
          <div class="notification-item">
            <span class="label">Care Rep:&nbsp;</span> {{ notification.notificationUserFirstName }}
            {{ notification.notificationUserLastName }}
          </div>
          <div class="notification-item">
            <span class="label">Notification:&nbsp;</span>
            <ion-textarea readonly>{{ notification.notificationMessage }}</ion-textarea>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
