.notification-sidebar {
  max-width: 190px;
}
.notification-content-wrapper {
  max-width: 720px;

  .notification-listing-avatar {
    float: left;
    margin-top: 10.5px;
    width: 74.8px;
    height: 75.2px;
    margin-right: 2rem;
    max-height: 60px;
    box-shadow: 1.4px 1.4px 1.4px 0 rgba(35, 31, 32, 0.15);
    background-color: #ffffff;
    background-image: url("/assets/default-avatar-patient-detail@2x.png");
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
  }
  ion-title {
    text-align: left;
    font-family: AvenirNextLTPro;
    font-size: 38px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.9px;
    text-align: left;
    color: #343638;
    padding-left: 0;
  }
  ion-textarea {
    height: 200px;
    width: 475px;
    margin: 0 auto;
    font-size: 13px;
    font-family: Avenir;
    background-color: #f5f5f5;
    padding: 15px;
    padding-top: 0px;
    margin-top: 0.25rem;
  }
  .notification-information {
    max-width: 300px;
    margin: 1rem 110px;
    .notification-item {
      margin-bottom: 0.5rem;
    }
  }
  .patient-name {
    font-family: Avenir-Roman;
    font-size: 38px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.76px;
    text-align: left;
  }
  .label {
    font-weight: bold;
  }
}
