.notification-sidebar {
  max-width: 172px;
  padding-bottom: 160px;
  margin-left: 26px;
  padding-top: 58px;
}

.notification-content-wrapper {
  max-width: 966px;
  margin-left: 92px;
  margin-top: 8rem;
  @media screen and (orientation: portrait) and (max-width: 1024px) {
    margin-left: 33px;
  }

  ion-title {
    font-family: AvenirPro;
    font-size: 45px;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.45px;
    text-align: left;
    color: #3f3638;
    padding-left: 0;
  }

  .notification-icon {
    max-width: 35px;
  }

  .notification-actions {
    float: right;
    margin-top: 10px;
    margin-right: 12px;
  }

  .notification-reply-button {
    min-width: 220px;
    min-height: 38px;
    padding: 0 18px;
    line-height: 1.1;
    white-space: nowrap;
  }

  .notification-info-container {
    float: left;
    width: 100%;
    max-width: 635px;
    margin-left: 62px;
    margin-top: 32px;

    @media screen and (orientation: portrait) and (max-width: 1024px) {
      margin-left: 37px;
      width: 65%;
    }
  }

  .notification-listing-avatar {
    float: left;
    clear: both;
    margin-top: 23px;
    margin-left: 23px;
    padding: 10px;
    width: 230px;
    height: 280px;
    @media screen and (orientation: portrait) and (max-width: 1024px) {
      width: 180px;
      height: 230px;
    }
    background-color: #f8f8f8;
  }

  .notification-information {
    float: left;
    width: auto;
    max-width: 662px;

    .notification-item {
      margin: 0.25rem 0;
      font-family: Avenir;
      font-size: 15px;
    }
  }

  .patient-meta-info {
    .patient-medical-record-number {
      width: 100%;
    }

    .patient-name {
      width: 100%;

      h2 {
        text-transform: capitalize;
        font-size: 40px;
        clear: both;
        margin-bottom: 0;
      }
    }
  }

  .patient-medical-record-number {
    display: block;
    width: 100%;
    font-family: AvenirPro;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: 0.15px;
    text-align: left;
    color: #8e8e93;
  }

  .patient-info {
    .patient-operation-name {
      display: block;
      width: 100%;
      font-family: AvenirDemi;
      font-weight: bold;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #222222;
    }

    .patient-name {
      cursor: pointer;
      margin-top: 1rem;

      h2 {
        text-transform: capitalize;
        font-family: AvenirPro;
        font-weight: bold;
        font-size: 40px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        margin-top: 0;
        letter-spacing: 0.8px;
        text-align: left;
        color: #222222;
      }
    }

    .patient-age,
    .patient-contact-number {
      &:first-child {
        margin-right: 8px;
      }

      display: inline-block;
      width: auto;
      font-family: AvenirDemi;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: 0.15px;
      text-align: left;
      color: #00b4b9;
    }
  }

  .label {
    font-weight: bold;
    width: 241px;
    height: 14px;
    font-family: AvenirDemi;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
  }

  .notification-container {
    margin-top: 28px;
  }

  .notification-label {
    width: 100%;
    display: block;
    font-family: AvenirBold;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.05;
    letter-spacing: 1.2px;
    text-align: left;
    color: #ef4627;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 11px;
  }

  .notification-message,
  .resolution-message {
    font-family: AvenirPro;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
    margin-bottom: 50px;
  }

  .resolution-label {
    margin-top: 28px;
    color: #9acc38;
  }
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
  .notification-content-wrapper {
    .notification-actions {
      float: left;
      clear: both;
      margin: 18px 0 0;
    }
  }
}
