.notification-sidebar {
  max-width: 190px;
}

.notification-content-wrapper {
  max-width: 720px;

  ion-title {
    text-align: left;
    margin-left: 15px;
    font-family: AvenirNextLTPro;
    font-size: 38px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.9px;
    text-align: left;
    color: #343638;
    padding-left: 0;
  }

  ion-textarea {
    --padding-start: 12px;
    height: 200px;
    width: 475px;
    margin: 1rem auto;
    font-size: 13px;
    font-family: Avenir;
    background-color: #f5f5f5;
    padding: 15px;
    padding-top: 12px;
  }

  .notification-icon {
    max-width: 35px;
  }

  .notification-info-container {
    float: left;
    width: 300px;
    margin-left: 15px;
    margin-top: -15px;
  }

  .notification-listing-avatar {
    float: left;
    clear: both;
    width: 200px;
  }

  .notification-information {
    float: left;
    width: auto;
    .notification-item {
      margin: 1.25rem 0;
    }
  }

  .patient-name {
    font-family: Avenir-Roman;
    font-size: 35px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.76px;
    text-align: left;
    margin-top: 2rem;
    float: left;
    width: 80%;
  }

  .label {
    font-weight: bold;
  }
}
