form {
  .patient-call-note-highlight-controls {
    float: right;
    margin-top: 10px;
    height: 35px;

    img {
      height: 15px;
      width: auto;
    }
  }
}

.placeholder {
  height: 227px;
  margin-top: -25px;
  background: RGBA(255, 255, 255, 0.25) 100%;
  display: block;
}

ion-item {
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  max-width: 445px;

  ion-label {
    font-family: Avenir;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.42px;
    text-align: left;
    width: 100%;
    display: block;
  }

  ion-textarea {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;

    &.highlighting {
      cursor: crosshair;
    }

    padding-left: 8px;
    font-size: 14px;
    padding-top: 8px;
    display: block;
    width: 445px;
    min-height: 202.8px;
    border: solid 1px rgba(112, 112, 112, 0.15);
    background-color: #f5f5f5;
  }
}
