<ion-content>
  <ion-row>
    <ion-col class="notification-sidebar">
      <app-notification-listing-sidebar (operationChangeEvent)="operationChangeEventHandler($event)">
      </app-notification-listing-sidebar>
    </ion-col>
    <ion-col class="notification-content-wrapper">
      <ion-title>Notifications</ion-title>
      <app-notification-patient-listing *ngIf="selected.operation" [operation]="selected.operation">
      </app-notification-patient-listing>
    </ion-col>
  </ion-row>
</ion-content>
