ion-title {
  font-family: AvenirPro;
  font-size: 45px;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.45px;
  max-width: 780px;
  overflow: auto;
  text-align: left;
  color: #3f3638;
  padding-left: 0;
  text-transform: capitalize;
}

.notification-sidebar {
  max-width: 182px;
  padding-bottom: 160px;
  margin-left: 16px;
  padding-top: 58px;
}

.notification-content-wrapper {
  margin-left: 92px;
  padding-bottom: 160px;
  margin-top: 8rem;
  @media screen and (orientation: portrait) and (max-width: 1024px) {
    margin-left: 33px;
    max-width: 780px;
  }
}

.notification-listing-row {
  margin-top: 1rem;
}

.notification-patient-list {
  width: 100%;
  height: auto;
  display: block;
}
