<ion-content>
  <ion-row>
    <ion-col class="notification-sidebar">
      <app-notification-listing-sidebar (operationChangeEvent)="operationChangeEventHandler($event)">
      </app-notification-listing-sidebar>
    </ion-col>
    <ion-col class="notification-content-wrapper">
      <ion-title *ngIf="selected.operation">
        {{ selected.operation.operationGroupName + ' - ' + selected.operation.operationName }}
      </ion-title>
      <app-notification-patient-listing *ngIf="selected.operation" [operation]="selected.operation">
      </app-notification-patient-listing>
    </ion-col>
    <ion-col>
      <!-- <app-call-queue-call-history-calendar
        *ngIf="selected.operation"
        [operation]="selected.operation"
        (dateFilterChangeEvent)="handleDateFilterChangeEvent($event)"
      >
      </app-call-queue-call-history-calendar> -->
      <!-- <app-call-queue-patient-filter
        *ngIf="selected.operation"
        [filterDate]="selected.filterDate"
        [operation]="selected.operation"
      >
      </app-call-queue-patient-filter> -->
    </ion-col>
  </ion-row>
</ion-content>
