ion-button {
  width: 100px;
  height: 28px;
  margin-top: 20px;
  border-radius: 2px;
  --border-width: 1;
  --border-style: solid;
  --border-color: rgb(19, 175, 233);
  color: rgb(19, 175, 233);
}
