<ion-content>
  <ion-row>
    <ion-col class="team-sidebar">
      <app-team-listing-sidebar (teamMemberChangeEvent)="teamMemberChangeEventHandler($event)">
      </app-team-listing-sidebar>
    </ion-col>
    <ion-col class="team-content-wrapper">
      <ion-title class="ion-float-left">
        Team Members
      </ion-title>

      <div class="user-avatar" *ngIf="teamMember">
        <!-- <app-user-avatar [user]="user"></app-user-avatar> -->
      </div>

      <div class="team-member-info-container">
        <div class="team-member-name"></div>
        <div class="team-member-information"></div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
