.team-sidebar {
  max-width: 172px;
  padding-bottom: 160px;
  margin-left: 26px;
  padding-top: 58px;
}

.team-content-wrapper {
  max-width: 966px;
  margin-left: 92px;
  margin-top: 8rem;

  ion-title {
    font-family: AvenirPro;
    font-size: 45px;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.45px;
    text-align: left;
    color: #3f3638;
    padding-left: 0;
    margin-bottom: 2rem;
  }

  .team-member-avatar {
    float: left;
    clear: both;
    width: 230px;
    height: 280px;
    border: 10px solid white;

    i.icon-info {
      display: inline-block;
      vertical-align: bottom;
      width: 20px;
      height: 20px;
      background-image: url("/assets/icon-info@2x.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  .team-member-info-container {
    float: left;
    max-width: 662px;
    margin-left: 62px;
    margin-top: 10px;
    width: calc(100% - 320px);
  }

  .user-info-container {
    font-family: AvenirDemi;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.87;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
  }

  .team-member-info {
    float: left;
    width: 100%;
    max-width: 662px;

    .team-member-details-container {
      width: 100%;

      span.team-member-role {
        float: left;
        font-family: AvenirDemi;
        font-size: 15px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: 0.15px;
        text-align: left;
        color: #8e8e93;
        margin-bottom: 0.5rem;
      }

      .greeting {
        clear: left;
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 1.25rem;

        span {
          font-family: AvenirDemi;
          font-size: 20px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 0.9;
          letter-spacing: normal;
          text-align: left;

          &.english {
            color: #9acc38;
          }

          &.spanish {
            color: #ef4627;
          }
        }
      }

      .post-it-note {
        cursor: pointer;
        float: right;
        font-family: AvenirDemi;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.86;
        letter-spacing: 0.15px;
        text-align: left;
        color: #00b8be;
      }

      i.post-it {
        display: inline-block;
        vertical-align: bottom;
        width: 20px;
        height: 20px;
        background-image: url("/assets/icon-post-it@2x.png");
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }
  }

  .user-name {
    font-family: AvenirPro;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.8px;
    text-align: left;
    color: #222222;
  }

  .additional-details {
    span {
      display: block;
      width: 100%;
      padding-top: 6px;
      padding-bottom: 6px;
      font-family: Avenir;
      color: #222222;
    }
  }

  h3.about-me {
    font-family: AvenirDemi;
    font-size: 20px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.05;
    letter-spacing: 1.2px;
    text-align: left;
    color: #00b4b9;
    margin-bottom: 0;
  }
  .user-information {
    margin-top: 0;
    p {
      margin-top: 0;
    }
    font-family: Avenir;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
  }

  .user-interests {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
  }
}

.about-me-label {
  width: 100%;
  display: block;
  font-family: AvenirBold;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.05;
  letter-spacing: 1.2px;
  text-align: left;
  color: #00b4b9;
  text-transform: uppercase;
}
