.team-sidebar {
  max-width: 172px;
  padding-bottom: 160px;
  margin-left: 26px;
  padding-top: 58px;
}

.team-content-wrapper {
  max-width: 966px;
  margin-left: 92px;
  margin-top: 8rem;
  ion-title {
    font-family: AvenirPro;
    font-size: 45px;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.45px;
    text-align: left;
    color: #3f3638;
    padding-left: 0;
  }

  .team-member-info-container {
    float: left;
    width: 100%;
    max-width: 662px;
    margin-left: 62px;
    margin-top: 10px;
  }

  .user-avatar {
    float: left;
    clear: both;
    margin-top: 23px;
    margin-left: 23px;
    width: 230px;
    height: 280px;
    border: 10px solid white;
  }

  .user-information {
    float: left;
    width: auto;
    max-width: 662px;
    .user-name {
      font-family: Avenir-Roman;
      font-size: 40px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: 0.8px;
      text-align: left;
      color: #222222;
    }

    .user-need-to-know {
      margin: 1.25rem 0;
      font-family: Avenir;
      font-size: 13px;
    }
    .user-interests {
      list-style-type: none;
      padding-left: 0;
      margin-left: 0;
    }
  }

  .about-me-label {
    width: 100%;
    display: block;
    font-family: AvenirBold;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.05;
    letter-spacing: 1.2px;
    text-align: left;
    color: #00b4b9;
    text-transform: uppercase;
  }
}
