@import "../../theme/theme-variables";

[ion-fixed] {
  width: 100%;
  height: 100%;
}
ion-router-outlet {
  margin-top: 168px;
  margin-left: 111px;
  height: calc(100% - 168px);
}
.content-wrapper {
  width: calc(100% - 28px);
  margin-left: 28px;
}
.inner-scroll {
  overflow: hidden;
}
ul {
  padding-top: 215px;
  list-style-type: none;
  padding-left: 0;
  li {
    width: 160px;
    a {
      text-decoration: none;
      color: black;
    }
    img {
      margin-bottom: 28px;
    }
    span {
      font-weight: bold;
      font-family: avenir;
    }
  }
}

.notification-wrapper {
  clear: both;
}
