<div class="toolbar-profile-nav">
  <div class="user-avatar">
    <div class="avatar-image" style="background-image:url(' + {{ user?.avatar }} ')"></div>
  </div>
  <div class="username">
    <a class="/profile">
      {{
        user?.displayName
          .substr(0, user?.displayName.indexOf(' '))
          .concat(' ', user?.displayName.charAt(user?.displayName.indexOf(' ') + 1), '.')
      }}
    </a>
  </div>
  <div class="logout-nav">
    <a href="/logout" (click)="signOut()">[logout]</a>
  </div>
</div>
