.toolbar-logo {
  display: block;
  height: 140px;
  width: 370px;
  background-image: url("/assets/logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}
