.toolbar-logo {
  margin-top: 50px;
  margin-left: 84px;
  display: block;
  height: 55px;
  width: 150px;
  background-image: url("/assets/logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}
