<div class="toolbar-profile-nav">
  <div class="user-avatar">
    <div class="avatar-image">
      <a routerLink="/user/profile" class="user-profile-jump">
        {{ user | json }}
        <app-user-avatar *ngIf="user" [user]="user"></app-user-avatar>
      </a>
    </div>
  </div>
  <div class="username">
    <a routerLink="/user/profile" class="user-profile-jump">
      {{
        user?.displayName
          .substr(0, user?.userFirstName.indexOf(' '))
          .concat(' ', user?.userLastName.charAt(user?.userLastName.indexOf(' ') + 1), '.')
      }}
    </a>
  </div>
  <div class="logout-nav">
    <a routerLink="/logout" (click)="signOut()">[logout]</a>
  </div>
</div>
