<div class="toolbar-profile-nav">
  <div class="user-avatar">
    <div class="avatar-image">
      <a routerLink="/user/profile" class="user-profile-jump">
        <img *ngIf="user.avatar; else defaultProfileAvatar" src="avatarImg" />
        <ng-template #defaultProfileAvatar>
          <img src="/assets/default-avatar@2x.png" />
        </ng-template>
      </a>
    </div>
  </div>
  <div class="username">
    <a routerLink="/user/profile" class="user-profile-jump">
      {{
        user?.displayName
          .substr(0, user?.displayName.indexOf(' '))
          .concat(' ', user?.displayName.charAt(user?.displayName.indexOf(' ') + 1), '.')
      }}
    </a>
  </div>
  <div class="logout-nav">
    <a routerLink="/logout" (click)="signOut()">[logout]</a>
  </div>
</div>
