.user-cork-board {
  position: absolute;
  z-index: 0;
  width: 28px;
  height: 100%;
  min-height: 1024px;
  background-image: url("/assets/corkboard-bg-1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  &.active {
    z-index: 100;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      i {
        &.expand {
          width: 100%;
          // background-image:
        }
      }
    }
  }
}
