.corkboard-controls {
  list-style-type: none;
  padding-left: 0;
  width: 28px;
  height: 100px;
  display: block;
  list-style-type: none;
  position: absolute;
  top: 0;
  z-index: 2500;
  .icon {
    cursor: pointer;
    color: white;
    z-index: 2000;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    display: block;
    margin-left: 8px;
    background-size: 100%;
    background-repeat: no-repeat;

    &.expand {
      margin-top: 8px;
      background-image: url("/assets/icon-expand@2x.png");
    }

    &.new-item {
      margin-top: 8px;
      background-image: url("/assets/icon-new-item@2x.png");
    }

    &.minus {
      margin-top: 8px;
      padding-left: 2px;
      background-image: url("/assets/icon-remove-item@2x.png");
    }
  }
}
.user-cork-board {
  position: absolute;
  z-index: 1999;
  width: 28px;
  height: 100%;
  min-height: 1024px;
  background-image: url("/assets/corkboard-closed.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;

  &.open {
    background-image: url("/assets/corkboard.png");
    .corkboard-controls {
      left: 190px;
    }
  }
}
.corkboard-objects {
  width: 100%;
  max-width: calc(100% - 28px);
  text-align: center;
  img {
    max-width: 80%;
    margin: 0 auto;
  }
}
