<div
  class="user-cork-board"
  [@openClose]="isOpen ? 'open' : 'closed'"
  [className]="isOpen ? 'user-cork-board open' : 'user-cork-board closed'"
>
  <ng-container *ngIf="isOpen" class="corkboard-objects">
    <img src="/assets/corkboard-1.png" alt="" />
    <img src="/assets/corkboard-2.png" alt="" />
    <img src="/assets/corkboard-3.png" alt="" />
  </ng-container>

  <ul class="corkboard-controls">
    <li (click)="toggleCorkboardState()" class="expand icon"></li>
    <li (click)="addNewCorkboardItem()" class="new-item icon"></li>
    <li (click)="deleteCorkboardItem()" class="minus icon"></li>
  </ul>
</div>
