.icon {
  cursor: pointer;
  position: absolute;
  color: white;
  top: 33px;
  z-index: 2000;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  display: block;
  margin-left: 8px;
  background-size: 100%;

  &.new-item {
    margin-top: 12px;
    padding-left: 2px;
    background-image: url("/assets/icon-new-item@2x.png");
  }

  &.minus {
    margin-top: 12px;
    padding-left: 2px;
    background-image: url("/assets/icon-new-item@2x.png");
  }

  &.expand {
    background-image: url("/assets/icon-expand@2x.png");
  }
}

.user-cork-board {
  position: absolute;
  z-index: 1999;
  width: 28px;
  height: 100%;
  min-height: 1024px;
  background-image: url("/assets/corkboard-bg-1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;

  &.open {
    .icon {
      cursor: pointer;
      background-image: url("/assets/corkboard@2x.png");
      z-index: 100;

      .new-item {
        position: absolute;
        top: 12px;
        left: 267.7px;
        background-image: url("/assets/icon-new-item@2x.png");
      }

      .minus {
        position: absolute;
        top: 24px;
        left: 267.7px;
        background-image: url("/assets/icon-new-item@2x.png");
      }

      .expand {
        position: absolute;
        top: 36px;
        left: 267.7px;
        background-image: url("/assets/icon-expand@2x.png");
      }
    }
  }
}

ul {
  list-style-type: none;
  padding-left: 0;

  li {
    i {
      &.expand {
        width: 100%;
        // background-image:
      }
    }
  }
}
