<div
  class="user-cork-board"
  [@openClose]="isOpen ? 'open' : 'closed'"
  [className]="isOpen ? 'user-cork-board open' : 'user-cork-board closed'"
  [class.deleting]="deleting"
>
  <ng-container *ngIf="isOpen" class="corkboard-objects"> </ng-container>

  <ul class="corkboard-controls">
    <li (click)="toggleCorkboardState()" class="expand icon"></li>
    <input
      type="file"
      class="hidden-input"
      name="corkBoardUpload"
      id="corkBoardUpload"
      (change)="addNewCorkboardItem($event.target.files)"
    />
    <li (click)="clickCorkboardInput()" class="new-item icon"></li>
    <li (click)="activateCorkBoardDeleteFunction()" class="minus icon"></li>
  </ul>
</div>
