:host {
  height: auto;
  width: 100%;
  display: block;
  text-align: center;
}
.corkBoardObject {
  &::before {
    background-image: url("/assets/pin-blue@2x.png");
    background-size: 75%;
    position: absolute;
    content: "";
    height: 37px;
    background-repeat: no-repeat;
    width: 27px;
    display: block;
    margin-left: 45%;
    margin-top: 20px;
  }
}
img {
  max-height: 250px;
  height: auto;
  width: auto;
  margin: 2rem auto;
  max-width: 80%;
}
