<ng-container *ngIf="navLinks">
  <ion-list lines="none">
    <ion-item *ngFor="let link of navLinks">
      <a routerLink="/{{ link.linkAction }}">
        <i *ngIf="link.linkIcon" class="{{ link.linkIcon }}"></i>
        {{ link.linkName }}
      </a>
      <div class="dropdown" *ngIf="link.dropdown.links" [class.active]="dropdownActive">
        <div *ngIf="link.minRole >= user.userLevel">
          <span *ngFor="let link of link.dropdown.links">
            {{ link.linkName }}
          </span>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ng-container>
