nav {
  min-width: 535px;
  display: inline-block;
  position: relative;
  z-index: 360;
  overflow: visible;
  &.dropdown-active {
    height: auto;
    overflow: visible;
  }
}

ion-list {
  display: inline-block;
  list-style-type: none;
  margin-top: 30px;
  padding-bottom: 30px;
  padding-top: 3px;
  margin-left: 66px;
  @media screen and (max-width: 1056px) {
    margin-left: 1rem;
  }
  contain: none;
  background: transparent;
  overflow: visible;

  .nav-link-container {
    background: transparent;
    display: inline-block;
    box-shadow: none;
    position: relative;
    overflow: visible;
    @media screen and (max-width: 925px) {
      display: none;
    }
    ion-item {
      --padding-start: 0;
      contain: none;

      a {
        cursor: pointer;

        i {
          display: inline-block;
          height: 16px;
          width: 16px;
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;

          &.nav-caret {
            height: 8px;
            width: 11px;
            margin-left: 0px;
            margin-top: -2px;
            vertical-align: middle;
            background-size: 94%;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("/assets/icon-nav-caret@2x.png");
          }

          &.patient {
            background-image: url("/assets/icon-patient-nav@2x.png");
          }

          &.notify {
            background-image: url("/assets/icon-notification-counter@2x.png");
          }

          &.queue {
            background-image: url("/assets/icon-queue@2x.png");
          }
        }
        &.disabled {
          color: #e1e1e1;
          cursor: not-allowed;
          i {
            background-image: url("/assets/icon-notify-inactive@2x.png");
          }
        }

        font-family: AvenirDemi;
        font-size: 18px;
        text-decoration: none;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: right;
        color: #00b8be;
      }

      ion-button {
        width: 90px;
        height: 28px;
        cursor: disabled;
        background-color: transparent;
        color: white;
        font-family: AvenirBold;
        font-size: 12px;
        border-radius: 15%;
        --background-activated: transparent;
        --color-activated: white;
        --color-focused: white;
        --color-hover: white;

        &.history {
          --border-color: var(--ion-color-primary);
          color: var(--ion-color-primary);
          --color-hover: var(--ion-color-primary);
        }

        &.notes {
          --border-color: var(--ion-color-primary);
          color: var(--ion-color-primary);
          --color-hover: var(--ion-color-primary);
        }

        &.report {
          --border-color: red;
          background-color: red;
        }
      }
    }
  }
}

.dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 14px);
  left: 0;

  &.active {
    display: block;
  }

  z-index: 380;
  width: 220px;
  max-height: min(70vh, 420px);
  padding: 14px 5px 10px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.16);
  background-color: #f5f5f5;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.16);
  overflow-y: auto;

  ul {
    list-style-type: none;
    background-color: #f5f5f5;
    padding-left: 0;
    margin: 0;
    text-align: left;

    li {
      cursor: pointer;
      display: block;
      width: 100%;
      height: auto;
      text-align: left;

      &:active {
        a {
          padding-left: 33px;
        }
      }

      a {
        padding-left: 25px;
        display: block;
        width: 100%;
        font-family: Avenir;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.27;
        letter-spacing: 0.15px;
        color: #222222;
        text-decoration: none;
      }

      &:hover {
        background-color: #00b8be;

        a {
          color: white;
        }
      }

      &:active {
        ::before {
          width: 11px;
          height: 9px;
          display: "block";
          content: "";
          margin-left: -8px;
          background-image: url("/assets/icon-check@2x.png");
          background-repeat: no-repeat;
        }
      }
    }
  }
}
