:host {
  width: calc(77% - 330px);
  display: inline-block;
  height: 200px;
}

ion-list {
  display: inline-block;
  list-style-type: none;
  margin-top: 30px;
  padding-bottom: 30px;
  padding-top: 3px;
  margin-left: 66px;
  contain: none;

  .nav-link-container {
    background: transparent;
    display: inline-block;
    box-shadow: none;

    ion-item {
      contain: none;

      a {
        cursor: pointer;
        &.disabled {
          color: #999;
          cursor: not-allowed;
        }
        font-family: AvenirDemi;
        font-size: 18px;
        text-decoration: none;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.72;
        letter-spacing: normal;
        text-align: right;
        color: #00b8be;

        i {
          display: inline-block;
          margin-right: 3px;
          height: 16px;
          width: 16px;
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;

          &.patient {
            background-image: url("/assets/icon-patient-nav@2x.png");
          }

          &.notify {
            background-image: url("/assets/icon-notification-counter@2x.png");
          }

          &.queue {
            background-image: url("/assets/icon-queue@2x.png");
          }
        }
      }

      ion-button {
        width: 90px;
        height: 28px;
        cursor: disabled;
        background-color: transparent;
        color: white;
        font-family: AvenirBold;
        font-size: 12px;
        border-radius: 15%;
        --background-activated: transparent;
        --color-activated: white;
        --color-focused: white;
        --color-hover: white;

        &.history {
          --border-color: var(--ion-color-primary);
          color: var(--ion-color-primary);
          --color-hover: var(--ion-color-primary);
        }

        &.notes {
          --border-color: var(--ion-color-primary);
          color: var(--ion-color-primary);
          --color-hover: var(--ion-color-primary);
        }

        &.report {
          --border-color: red;
          background-color: red;
        }
      }
    }
  }
}

.dropdown {
  display: none;
  position: absolute;
  top: 70px;

  &.active {
    display: block;
  }

  z-index: 10;
  width: 195px;
  height: auto;
  padding: 14px 5px 10px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.16);
  background-color: #f5f5f5;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.16);

  ul {
    list-style-type: none;
    background-color: #f5f5f5;
    padding-left: 0;
    margin: 0;
    text-align: left;

    li {
      cursor: pointer;
      display: inline-block;
      width: 100%;
      height: auto;
      text-align: left;

      a {
        padding-left: 25px;
        display: block;
        width: 100%;
        font-family: Avenir;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.27;
        letter-spacing: 0.15px;
        color: #222222;
        text-decoration: none;
      }

      &:hover {
        background-color: #00b8be;

        a {
          color: white;
        }
      }

      &:active {
        ::before {
          width: 11px;
          height: 9px;
          display: "block";
          content: "";
          margin-left: -8px;
          background-image: url("/assets/icon-check@2x.png");
          background-repeat: no-repeat;
        }
      }
    }
  }
}
