<ng-container *ngIf="navLinks">
  <ion-list lines="none">
    <div class="nav-link-container" *ngFor="let link of navLinks">
      <ion-item>
        <a *ngIf="!link.dropdown.links" routerLink="/{{ link.linkAction }}">
          <i *ngIf="link.linkIcon" class="{{ link.linkIcon }}"></i>
          {{ link.linkName }}
        </a>
        <a *ngIf="link.dropdown.links" (hover)="toggleDropdown()">
          <i *ngIf="link.linkIcon" class="{{ link.linkIcon }}"></i>
          <a routerLink="/{{ link.linkAction }}"> {{ link.linkName }} </a>
        </a>
      </ion-item>
      <div [class.active]="dropdownActivated" class="dropdown" *ngIf="link.dropdown.links">
        <ul *ngIf="link.minRole >= user.userLevel">
          <li *ngFor="let link of link.dropdown.links">
            {{ link.linkName }}
          </li>
        </ul>
      </div>
    </div>
  </ion-list>
</ng-container>
