:root {
  --height: 450px !important;
  max-height: 450px !important;
  width: 645px;
}
.modal-exit-container {
  display: block;
  max-height: 20px;
  float: right;
  position: absolute;
  right: 10px;
  top: 10px;
}
.icon-close-modal {
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-right: 10px;
  display: block;
  width: 15px;
  height: 30px;
  background: url("/assets/icon-close-modal@2x.png");
  background-size: 100%;
}
ion-col {
  max-width: 42%;
}
ion-title {
  width: 100%;
  margin-top: 37px;
  margin-left: 37px;
  font-family: Avenir;
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.93;
  letter-spacing: 0.6px;
  text-align: left;
  color: #343638;
}
ion-list {
  margin-left: 37px;
  margin-top: 15px;
  ion-item {
    height: auto;
  }
}
ion-radio,
ion-label {
  display: inline-block;
  margin-right: 5px;
}
ion-radio {
  width: 18px;
  height: 18px;
  font-size: 14px;
}
.patient-status-label {
  font-family: Avenir;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
}
ion-textarea {
  max-height: 120px;
  width: 475px;
  margin-left: 55px;
  background-color: #f5f5f5;
  font-family: Avenir;
  font-family: 14px;
}

.save-button {
  text-align: center;
  width: 109px;
  height: 30px;
  float: right;
  margin-top: 2rem;
  margin-right: 64px;
  color: white;
  background: var(--ion-color-primary);
  font-size: 12px;
  border-radius: 17px;
  margin-bottom: 2rem;
  font-weight: bold;
}
