<div class="modal-exit-container ">
  <i (click)="dismiss()" class="icon-close-modal"></i>
</div>
<form [formGroup]="followupCompleteForm" novalidate>
  <ng-container>
    <ion-title>Follow-up Complete</ion-title>
    <ion-radio-group formControlName="patientStatusLabelId">
      <ion-row>
        <ion-col width-50>
          <ion-list class="graduation-options" lines="none">
            <ion-item *ngFor="let patientStatus of completionTypesListLeft">
              <ion-radio value="patientStatus.patientStatusLabelId"> </ion-radio>
              <ion-label class="patient-status-label">
                {{ patientStatus.patientStatusLabel }}
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col width-50>
          <ion-list class="graduation-options" lines="none">
            <ion-item *ngFor="let patientStatus of completionTypesListRight">
              <ion-radio value="patientStatus.patientStatusLabelId"> </ion-radio>
              <ion-label class="patient-status-label">
                {{ patientStatus.patientStatusLabel }}
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-radio-group>
    <ion-textarea formControlName="completionNotes" placeholder="Any Notes?"> </ion-textarea>
    <ion-button class="save-button" (click)="archivePatient()">Archive</ion-button>
  </ng-container>
</form>
