:root {
  height: 595px;
  width: 645px;
}
ion-title {
  width: 100%;
  margin-top: 37px;
  margin-left: 37px;
  font-family: AvenirNextLTPro;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.93;
  letter-spacing: 0.6px;
  text-align: left;
  color: #343638;
}
button {
  width: 70px;
  height: 28px;
}
