.user-dashboard {
  width: calc(100% - 110px);
  margin: 50px auto 0 110px;
  height: 100%;
  ion-row {
    width: 100%;
    display: block;
    height: 100%;
    overflow: hidden;
    max-height: 350px;
    margin-bottom: 20px;

    ion-col {
      height: 350px;
      display: block;
      float: left;

      &.left-box {
        max-width: 525px;
        width: 42.5%;
        margin-right: 34px;
      }

      &.post-it-box {
        text-align: center;
        max-width: 315px;
        width: 24%;
        margin-right: 34px;
      }

      &.confetti-box {
        max-width: 325px;
        width: 23%;
        background-image: url(/assets/confetti@2x.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top;
      }
    }

    h1 {
      font-family: AvenirPro;
      font-size: 45px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.11;
      letter-spacing: 0.45px;
      text-align: left;
      color: #343638;
      margin-bottom: 51px;
      margin-top: 1rem;
    }

    h2 {
      font-family: AvenirPro;
      font-size: 26px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.08;
      letter-spacing: normal;
      text-align: left;
      color: #00b4b9;
    }

    .team-messages {
      margin-bottom: 72px;

      .team-message {
        font-family: AvenirPro;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: left;
        color: #222222;
      }
    }

    .user-messages {
      width: 100%;
      height: auto;
      display: block;
      padding-left: 0;
      list-style-type: none;
      margin: 0;
      text-align: center;

      .user-message-note {
        height: 318px;
        width: 100%;
        display: block;
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url("/assets/sticky-note@2x.png");
        font-family: AvenirProMediumItalic;
        font-size: 15px;
        text-align: left;

        .user-message-body {
          padding: 48px 30px;
        }
        &:after {
          content: "";
          display: block;
          position: absolute;
          background: url("/assets/sticky-note-shadow@2x.png");
          width: 96.75%;
          height: 29px;
          background-size: cover;
          bottom: 7px;
          z-index: -1;
        }
      }
    }

    .confetti-box {
      width: 350px;
      background-repeat: none;
      background-size: cover;
      background-image: url("/assets/confetti@2x.png");
      background-repeat: no-repeat;
    }
  }

  jw-pagination {
    clear: both;
  }

  .patient-pipeline,
  .red-data-box,
  .blue-data-box {
    display: block;
    height: 350px;
    margin-right: 30px;
  }

  .patient-pipeline {
    background-color: #f5f5f5;
    max-width: 525px;
    width: 42.5%;
    padding: 28.2px 37.5px 32px 28.2px;
    border-radius: 13.7px;

    .pipeline-title {
      display: block;
      text-transform: uppercase;
      font-family: AvenirBold;
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.81;
      letter-spacing: 0.32px;
      text-align: left;
      color: #222222;
    }

    .metric-list {
      list-style-type: none;
      padding-left: 0;

      .metric {
        width: 100%;
        margin-top: 21px;

        .label-container {
          width: 100%;
          display: block;
          height: 20px;

          .metric-label {
            float: left;
            font-family: AvenirDemi;
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            color: #222222;
          }

          .metric-description {
            float: right;
            font-family: AvenirDemi;
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: right;
            color: #8e8e93;
          }
        }

        .progress-bar-container {
          display: block;
          width: 100%;
          height: 30px;
          margin: 0.5px 0 0.5px 0.5px;
          border: solid 1px #ffffff;
          background-color: #ffffff;
          .progress-bar {
            display: block;
            height: 30px;
            margin-bottom: -30px;
            min-width: 80px;
            width: 100%;
            &.red {
              background-color: #ef4627;
            }
            &.blue {
              background-color: #1cb4b9;
            }
            &.green {
              background-color: #9acc38;
            }
            &.yellow {
              background-color: #fecc04;
            }
          }
          .start-metric,
          .finish-metric {
            font-family: AvenirBold;
            font-size: 23px;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: 0.47px;
            text-align: left;
            color: #ffffff;
            vertical-align: bottom;
            height: 30px;
            line-height: 35px;
          }

          .start-metric {
            float: left;
            margin-left: 13px;
            color: white;
          }

          .finish-metric {
            float: right;
            color: black;
            margin-right: 11px;
          }
        }
      }
    }
  }

  .red-data-box {
    max-width: 327px;
    width: 23%;
    background-size: 100%;
    background-image: url("/assets/red-data-box@2x.png");
    background-repeat: no-repeat;
    background-position: top;
  }

  .blue-data-box {
    max-width: 327px;
    width: 23%;
    background-size: 100%;
    background-image: url("/assets/blue-data-box@2x.png");
    background-repeat: no-repeat;
    background-position: top;
  }

  .everybody-is-callout {
    position: absolute;
    bottom: 100px;
    right: 50px;
    width: 100%;
    text-align: right;

    img {
      max-width: 215px;
      height: 29px;
    }
  }
}
