.user-dashboard {
  margin-top: 50px;
  margin-left: 110px;
  margin-right: 295px;
  width: calc(100% - 490px);

  ion-row {
    width: 100%;
    display: block;
    height: 350px;
    margin-bottom: 20px;

    ion-col {
      height: 350px;
      display: block;
      float: left;

      &.left-box {
        width: 525px;
        margin-right: 34px;
      }

      &.post-it-box {
        text-align: center;
        width: 315px;
        margin-right: 34px;
      }

      &.confetti-box {
        width: 325px;
        background-image: url("/assets/confetti@2x.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    h1 {
      font-family: AvenirPro;
      font-size: 45px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.11;
      letter-spacing: 0.45px;
      text-align: left;
      color: #343638;
      margin-bottom: 51px;
      margin-top: 1rem;
    }

    h2 {
      font-family: AvenirPro;
      font-size: 26px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.08;
      letter-spacing: normal;
      text-align: left;
      color: #00b4b9;
    }

    .team-messages {
      margin-bottom: 72px;

      .team-message {
        font-family: AvenirPro;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: left;
        color: #222222;
      }
    }

    .user-messages {
      width: 100%;
      height: auto;
      display: block;
      padding-left: 0;
      list-style-type: none;
      margin: 0;
      margin-bottom: 0.75rem;
      text-align: left;

      .user-message-note {
        height: 318px;
        width: 100%;
        display: block;
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url("/assets/sticky-note@2x.png");
        font-family: AvenirProMediumItalic;
        font-size: 15px;

        .user-message-body {
          padding: 48px 30px;
        }
      }
    }

    .confetti-box {
      width: 350px;
      background-repeat: none;
      background-size: cover;
      background-image: url("/assets/confetti@2x.png");
      background-repeat: no-repeat;
    }
  }

  jw-pagination {
    clear: both;
  }

  .patient-pipeline,
  .red-data-box,
  .blue-data-box {
    display: block;
    height: 350px;
    margin-right: 30px;
  }

  .patient-pipeline {
    background-color: #f5f5f5;
    width: 525px;
    padding: 28.2px 37.5px 32px 28.2px;
    border-radius: 13.7px;

    .pipeline-title {
      display: block;
      text-transform: uppercase;
      font-family: AvenirBold;
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.81;
      letter-spacing: 0.32px;
      text-align: left;
      color: #222222;
    }

    .metric-list {
      list-style-type: none;
      padding-left: 0;

      .metric {
        width: 100%;
        margin-top: 21px;

        .label-container {
          width: 100%;
          display: block;
          height: 20px;

          .metric-label {
            float: left;
            font-family: AvenirDemi;
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            color: #222222;
          }

          .metric-description {
            float: right;
            font-family: AvenirDemi;
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: right;
            color: #8e8e93;
          }
        }

        .progress-bar {
          display: block;
          width: 100%;
          height: 30px;
          margin: 0.5px 0 0.5px 0.5px;
          border: solid 1px #ffffff;
          background-color: #ffffff;
          .start-metric,
          .finish-metric {
            font-size: 23px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: 0.47px;
            text-align: left;
            color: #ffffff;
            vertical-align: bottom;
            height: 30px;
            line-height: 30px;
          }
          .start-metric {
            float: left;
            margin-left: 13px;
            color: black;
          }
          .finish-metric {
            float: right;
            color: black;
            margin-right: 11px;
          }
        }
      }
    }
  }

  .red-data-box {
    width: 327px;
    background-size: 100%;
    background-image: url("/assets/red-data-box@2x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .blue-data-box {
    width: 327px;
    background-size: 100%;
    background-image: url("/assets/blue-data-box@2x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .everybody-is-callout {
    position: absolute;
    bottom: 110px;
    right: 50px;
    width: 100%;
    text-align: right;

    img {
      max-width: 215px;
      height: 29px;
    }
  }
}
