<div class="user-dashboard">
  <div class="message-container">
    <h1>Hello {{ user.userFirstName }}</h1>

    <div class="company-notes">
      <h2>
        {{ companyNote.companyNoteSubject }}
      </h2>
      <div class="note-message">
        {{ companyNote.companyNoteMessage }}
      </div>
    </div>

    <div class="posted-notes">
      <ul class="user-messages">
        <li class="user-message-note" *ngFor="let message of user.userMessages">
          <p class="user-message">
            {{ message.messageBody }}
          </p>
          <span class="from-sender">-{{ message.messageSenderFirstName }}</span>
        </li>
      </ul>
      <jw-pagination *ngIf="user.userMessages" [items]="user.userMessages" [pageLength]="3"></jw-pagination>
    </div>
  </div>
  <div class="everybody-is-callout">
    <img src="/assets/everybody-graphic@2x.png" alt="" />
  </div>
</div>
