<div class="user-dashboard">
  <ion-grid>
    <ion-row>
      <ion-col class="left-box">
        <div class="message-container">
          <h1>Hello {{ user.userFirstName }}</h1>

          <div class="team-messages">
            <div class="team-message">
              {{ teamMessage.teamMessageContent }}
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col class="post-it-box">
        <div class="posted-notes">
          <ul class="user-messages">
            <li class="user-message-note">
              <div class="user-message-body">
                <p class="user-message">
                  {{ userMessagesPage.messageBody }}
                </p>
                <span class="from-sender">-{{ userMessagesPage.messageSenderFirstName }}</span>
              </div>
            </li>
          </ul>
        </div>
      </ion-col>
      <ion-col class="confetti-box"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="patient-pipeline">
        <span class="pipeline-title">Patient Pipeline</span>
        <ul class="metric-list">
          <li class="metric">
            <span class="label-container">
              <span class="metric-label">Today's Calls</span>
              <span class="metric-description">
                Queue
              </span>
            </span>
            <div class="red progress-bar">
              <span class="start-metric">9</span>
              <span class="finish-metric">81</span>
            </div>
          </li>
          <li class="metric">
            <span class="label-container">
              <span class="metric-label">Weekly Calls</span>
              <span class="metric-description">
                Queue
              </span>
            </span>
            <div class="blue progress-bar">
              <span class="start-metric">9</span>
              <span class="finish-metric">81</span>
            </div>
          </li>
          <li class="metric">
            <span class="label-container">
              <span class="metric-label">Calls Made</span>
              <span class="metric-description">
                Total Calls Made
              </span>
            </span>
            <div class="green progress-bar">
              <span class="start-metric">96</span>
              <span class="finish-metric">156</span>
            </div>
          </li>
          <li class="metric">
            <span class="label-container">
              <span class="metric-label">My Notifications</span>
              <span class="metric-description">
                Total Notifications
              </span>
            </span>
            <div class="yellow progress-bar">
              <span class="start-metric">162</span>
              <span class="finish-metric">235</span>
            </div>
          </li>
        </ul>
      </ion-col>
      <ion-col class="red-data-box"></ion-col>
      <ion-col class="blue-data-box"></ion-col>
    </ion-row>
  </ion-grid>
  <div class="everybody-is-callout">
    <img src="/assets/everybody-graphic@2x.png" alt="" />
  </div>
</div>
