#notification-status-legend {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 35px;

  li {
    display: inline-block;
    height: 17px;
    margin-right: 35px;
    width: auto;

    i {
      width: 17px;
      height: 17px;
      display: inline-block;
      margin-right: 8px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      &.icon-new-notification {
        background-image: url("/assets/icon-new-notification.png");
      }
      &.icon-resolved {
        background-image: url("/assets/icon-resolved.png");
      }
      &.icon-in-progress {
        background-image: url("/assets/icon-in-progress.png");
      }
      &.icon-new-discharges {
        background-image: url("/assets/icon-new-discharges.png");
      }
      &.icon-no-response {
        background-image: url("/assets/icon-no-response.png");
      }
    }

    span {
      font-family: Avenir;
      font-size: 13.5px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.63;
      letter-spacing: normal;
      text-align: left;
      color: var(--charcoal-grey);
    }
  }
}
