<ion-grid>
  <!-- Our lefthand sidebar -->
  <ion-row>
    <ion-col>
      <!-- <call-queue-calendar-widget></call-queue-calendar-widget> -->
      <!-- <call-queue-sidebar></call-queue-sidebar> -->
      Lefthand Sidebar
    </ion-col>
    <ion-col>
      <ion-grid>
        <ion-row>
          <ion-title>Call Queue</ion-title>
        </ion-row>
        <ion-row>
          <!-- <call-queue-legend></call-queue-legend> -->
          Call Legend
        </ion-row>
        <ion-row>
          <ion-col>
            <h3>Operation</h3>
            <ion-item-divider></ion-item-divider>
          </ion-col>
          <ion-col>
            <h3>Call History</h3>
            <ion-item-divider></ion-item-divider>
            Patient Filter
            <!-- <call-queue-patient-filter></call-queue-patient-filter> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>
