:host {
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
}

.patient-avatar-container {
  background-image: url("/assets/patient-badge-frame@2x.png");
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 75px;
  min-height: 75px;
}
.patient-avatar-image {
  display: block;
  margin: 0 auto;
  min-width: 65px;
  min-height: 65px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  background-size: cover;

  //  Our circular badges
  &.is-circle {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    &::before {
      content: "";
      background-image: url("/assets/patient-badge-frame@2x.png");
      background-size: 100%;
      width: 100%;
      height: 100%;
    }
  }

  &.default {
    width: auto;
    margin: 0 auto;
    &.is-circle {
      height: 65px;
      width: 65px;
    }
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }
}
