:host {
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
}
div {
  width: auto;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  &.default {
    width: auto;
    min-width: 50px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }
}
